{% extends '::base.html.twig' %}

{% block content %}
<div class="container">
<form action="{{ path('paiement' , {'id': id } ) }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
{% endblock %}
