{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Publicite list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Sujet</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Img</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('publicite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.sujet }}</td>
                <td>{{ entity.lieu }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.img }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('publicite_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('publicite_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('publicite_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
