{%extends "::baseAdmin.html.twig"%}
{% block content %}
    
{# empty Twig template #}
{# empty Twig template #}
<form method='post'>
<table>
    
     <tr><td>Type:</td><td>{{form_widget(f.id)}}</td></tr>
    <tr><td>Description:</td><td>{{form_widget(f.Description)}}</td></tr>
</table>
      {{form_rest(f)}}
</form>
 {% endblock %}