{%extends "::baseAdmin.html.twig"%}
{% block content %}
    
    <h1>CategorieService creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('categorieservice') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
