<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
       
       
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>All for Deal |Espace Prestataire</title>
<link href="{{asset('bundles/backOffice/css/main.css')}}" rel="stylesheet" type="text/css" />
<!--[if IE 8]><link href="css/ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&amp;sensor=false"></script>

<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/charts/excanvas.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/charts/jquery.flot.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/charts/jquery.flot.resize.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/charts/jquery.sparkline.min.js')}}"></script>

<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.easytabs.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.collapsible.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.mousewheel.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/prettify.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.bootbox.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.colorpicker.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.timepicker.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.jgrowl.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.fancybox.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.fullcalendar.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/ui/jquery.elfinder.js')}}"></script>

<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/uploader/plupload.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/uploader/plupload.html4.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/uploader/plupload.html5.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/uploader/jquery.plupload.queue.js')}}"></script>

<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.uniform.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.autosize.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.inputlimiter.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.tagsinput.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.inputmask.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.select2.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.listbox.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.validation.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.validationEngine-en.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.form.wizard.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/forms/jquery.form.js')}}"></script>

<script type="text/javascript" src="{{asset('bundles/backOffice/js/plugins/tables/jquery.dataTables.min.js')}}"></script>

<script type="text/javascript" src="{{asset('bundles/backOffice/js/files/bootstrap.min.js')}}"></script>

<script type="text/javascript" src="{{asset('bundles/backOffice/js/files/functions.js')}}"></script>

<script type="text/javascript" src="{{asset('bundles/backOffice/js/charts/graph.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/charts/chart1.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/charts/chart2.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/backOffice/js/charts/chart3.js')}}"></script>

<link href={{asset('bundles/backOffice/zoom.css')}} rel="stylesheet">

{% endblock %}
</head>

<body>

	<!-- Fixed top -->
	<div id="top">
		<div class="fixed">
                    
			<a href="" alt="" /></a>
			<ul class="top-menu">
				<li><a class="fullview"></a></li>
				<li><a class="showmenu"></a></li>
				<li><a href="#" title="" class="messages"></a></li>
				<li class="dropdown">
                                    <a class="user-menu" data-toggle="dropdown"><img src="{{asset('bundles/backOffice/')}}" style="width: 20px; height: 20px" alt="" /><span>Bonjour <b class="caret"></b></span></a>
					<ul class="dropdown-menu">
						<li><a href="" title=""><i class="icon-user"></i>Profil</a></li>
						<li><a href="#" title=""><i class="icon-inbox"></i>Messages<span class="badge badge-info">9</span></a></li>
						<li><a href="#" title=""><i class="icon-cog"></i>Settings</a></li>
						<li><a href="#" title=""><i class="icon-remove"></i>Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /fixed top -->


	<!-- Content container -->
	<div id="container">

		<!-- Sidebar -->
		<div id="sidebar">

			<div class="sidebar-tabs">
		        <ul class="tabs-nav two-items">
		            <li><a href="#general" title=""><i class="icon-reorder"></i></a></li>
		            <li><a href="#stuff" title=""><i class="icon-cogs"></i></a></li>
		        </ul>

		        <div id="general">

			        <!-- Sidebar user -->
			        <div class="sidebar-user widget">
						<div class="navbar"><div class="navbar-inner"><h6>Bonjour, !</h6></div></div>
			            <a href="#" title="" class="user"><img src="" alt="" /></a>
			            
			        </div>
			        <!-- /sidebar user -->

			        

				    <!-- Main navigation -->
			        <ul class="navigation widget">
			            <li class="active"><a href="" title=""><i class="icon-home"></i>Dashboard</a></li>
			            <li><a href="" title="" class="expand"><i class="icon-reorder"></i>Mes Articles</a>
                                        <ul>
			                    <li><a href="" title="">Mes articles</a></li>
			                    <li><a href="" title="">La liste des articles</a></li>
                                        </ul>
			            </li>
			            <li><a href="" title=""><i class="icon-signal"></i>Statistiques</a></li>
			            <li><a href="calendar.html" title=""><i class="icon-calendar"></i>Calendrier</a></li>
			            
			            
			        </ul>
			        <!-- /main navigation -->

		        </div>

		        <div id="stuff">

			        <!-- Social stats -->
			        <div class="widget">
			        	<h6 class="widget-name"><i class="icon-twitter"></i>Social statistics</h6>
			        	<ul class="social-stats">
			        		<li>
			        			<a href="" title="" class="orange-square"><i class="icon-rss"></i></a>
			        			
			        		</li>
			        		<li>
			        			<a href="" title="" class="blue-square"><i class="icon-twitter"></i></a>
			        			
			        		</li>
			        		<li>
			        			<a href="" title="" class="dark-blue-square"><i class="icon-facebook"></i></a>
			        			
			        		</li>
			        	</ul>
			        </div>
			        <!-- /social stats -->


                    <!-- Datepicker -->
		 


				   
		        	<!-- Action buttons -->
	                
	                <!-- /action buttons -->

			        <!-- Tags input -->
					
					<!-- /tags input -->

		        </div>

		    </div>
		</div>
		<!-- /sidebar -->


		<!-- Content -->
                <div id="content">

		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Breadcrumbs line -->
			    <div class="crumbs">
		            <ul id="breadcrumbs" class="breadcrumb"> 
		                <li><a href="">Dashboard</a></li>
		                
		            </ul>
			        
		            <ul class="alt-buttons">
		                <li><a href="" title=""><i class="icon-signal"></i><span>Statistiques</span></a></li>
		                <li><a href="#" title=""><i class="icon-comments"></i><span>Messages</span></a></li>
		                
		            </ul>
			    </div>
			    <!-- /breadcrumbs line -->

			    <!-- Page header -->
			    <div class="page-header">
			    	<div class="page-title">
				    	<h5>Dashboard</h5>
				    	<span>Bienvenue!</span>
			    	</div>

			    	<ul class="page-stats">
			    		<li>
			    			<div class="showcase">
			    				<span>Nouvelles visites</span>
			    			</div>
			    			<div id="total-visits" class="chart">10,14,8,45,23,41,22,31,19,12, 28, 21, 24, 20</div>
			    		</li>
			    		<li>
			    			<div class="showcase">
			    				<span>Ventes produits</span>
			    			</div>
			    			<div id="balance" class="chart">20,10,8,30,42,23,41,10,11,19,16,18, 21,20,40</div>
			    		</li>
			    	</ul>
			    </div>
			    <!-- /page header -->
                
		{% block content %}
                {% endblock content %}
                
                <!-- /content -->
	</div>
	<!-- /content container -->
                </div>
        </div>


	<!-- Footer -->
	<div id="footer">
		<div class="copyrights">&copy;  Brought to you by AllForDeal.</div>
		<ul class="footer-links">
			<li><a href="" title=""><i class="icon-cogs"></i>Contacter l'admin</a></li>
			<li><a href="" title=""><i class="icon-screenshot"></i>Reporter un bug</a></li>
		</ul>
	</div>
	<!-- /footer -->

</body>
</html>
