{% extends '::compte.html.twig' %}                  
{% block content   %}


    <div id="main-content" class="page-mailbox container-fluid">
        <div class="row" data-equal-height="true">
           
                  <div class="col-md-12" list-messages>
                <div class="panel panel-default">
                    <div class="panel-body messages">
                        <div class="input-group input-group-lg border-bottom">
                            <span class="input-group-btn">
                                <a href="#" class="btn"><i class="fa fa-search"></i></a>
                            </span>
                            <input type="text" class="form-control bd-0 bd-white" placeholder="Search" name="search">
                        </div>
                        <div id="messages-list" class="panel panel-default withScroll" data-height="window" data-padding="90">
                            {% for i in mail %} 
                              
                    <a   class="message-item " href="{{path('mail_show',{'id':i.id})}}"  >
                              <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>


                                    <div class="message-item-right">

                                        <div class="media">
                                            <img src={{asset(path('image'))}} alt="avatar 3" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">{{i.dateAjout|date('j M Y ')}}</small>
                                                <h5 class="c-dark"><strong>{{i.expediteur}}</strong></h5>
                                                <h4 class="c-dark">{{i.nom}}</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">{{i.Text|raw}}</p>

                                    </div>       
                             </a>
                                   
                            {% endfor %}  

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <script src={{asset('plugins/jquery-1.11.js')}}></script>
        <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
        <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
        <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
        <script src={{asset('plugins/icheck/icheck.js')}}></script>
        <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
        <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
        <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
        <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
        <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
        <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
        <script src={{asset('js/mailbox.js')}}></script>
        <!-- END MANDATORY SCRIPTS -->
        <script src={{asset('js/application.js')}}></script>
{% endblock %}  