{% extends '::compte.html.twig' %}                  
{% block content   %}

    <head>
        <!-- BEGIN META SECTION -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="" name="description" />
        <meta content="themes-lab" name="author" />
        <!-- END META SECTION -->
        <!-- BEGIN MANDATORY STYLE -->


        <link href={{asset('bundles/backOffice/css/icons/icons.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/bootstrap.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/plugins.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/style.min.css')}} rel="stylesheet">
       <link href={{asset('plugins/summernote/summernote.css')}} rel="stylesheet">
       <script src={{asset('bundles/ckeditor/ckeditor.js')}} type="text/javascript"></script>

        <!-- END  MANDATORY STYLE -->
        <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <div id="main-content" class="send-message">
        <div class="page-title"> <i class="icon-custom-left"></i>
            <h3><strong>New</strong> Message</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="border-bottom">
                                    <div class="pull-left">
                                        <a href="#" class=" btn btn-default"><i class="fa fa-arrow-left fa-fw"></i> back</a> 
                                    </div>
                                    <div class="pull-left p-l-20">
                                        <a href="#" class=" btn btn-success"><i class="fa fa-floppy-o fa-fw"></i> Save Draft</a>
                                    </div>
                                    <div class="clearfix m-b-20"></div>
                                </div>
                                <form class="form-horizontal p-t-20" method="POST" action='{{path('my_app_mail_sendpage')}}' {{form_enctype(form)}}>
                                    <div class="form-group">
                                        <label for="to" class="col-sm-2 control-label">To:</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="to">
                                                <span class="input-group-addon bg-white cursor-pointer" data-toggle="collapse" data-target="#cc">     
                                                    CC <span class="caret"></span>
                                            </div>
                                        </div>
                                    </div>
                                                                        <div class="form-group">
                                        <label for="to" class="col-sm-2 control-label">Subject:</label>
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="to" name="subject">
                                                <span class="input-group-addon bg-white cursor-pointer" data-toggle="collapse" data-target="#cc">     
                                                    Subject <span class="caret"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Bcc" class="col-sm-2 control-label">From:</label>
                                        <div class="col-sm-6">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle width-230" data-toggle="dropdown">
                                                    <i class="fa fa-ellipsis-horizontal"></i><span class="float-left"><strong>{{user.email}}</strong></span>
                                                    <span class="float-right"><i class="fa fa-angle-down"></i></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#">{{user.email}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                                      
                                    <div class="clearfix"></div>
                            
                                <div>
                                    <div>
                                      <textarea class="ckeditor" name="message" /></textarea>
                                </div>
                                <div class="text-center footer-message">
                                    {{ form_widget(form._token) }}
                                    <a class="btn btn-default"><i class="fa fa-times-circle"></i> Cancel</a>
                              
                                     
                                    <input type="submit" class="btn btn-primary fa fa-times-circle" value="Send email">
                                </div>
                                        </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src={{asset('plugins/jquery-1.11.js')}}></script>
        <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
        <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
        <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
        <script src={{asset('plugins/icheck/icheck.js')}}></script>
        <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
        <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
        <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
        <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
        <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
        <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
         <script src={{asset('plugins/summernote/summernote.js')}}></script>
        
        <script src={{asset('js/mailbox.js')}}></script>
        <!-- END MANDATORY SCRIPTS -->
        <script src={{asset('js/application.js')}}></script>
{% endblock %}