{% extends '::compte.html.twig' %}                  
{% block content   %}
  <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    
    
    <link href={{asset('bundles/backOffice/css/icons/icons.min.css')}} rel="stylesheet">
    <link href={{asset('bundles/backOffice/css/bootstrap.min.css')}} rel="stylesheet">
    <link href={{asset('bundles/backOffice/css/plugins.min.css')}} rel="stylesheet">
    <link href={{asset('bundles/backOffice/css/style.min.css')}} rel="stylesheet">
    
    
    <!-- END  MANDATORY STYLE -->
    <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
        <!-- END MAIN SIDEBAR -->
        <div id="main-content" class="page-mailbox container-fluid">
            <div class="row" data-equal-height="true">
                <div class="col-md-4 list-messages">
                    <div class="panel panel-default">
                        <div class="panel-body messages">
                            <div class="input-group input-group-lg border-bottom">
                                <span class="input-group-btn">
                                    <a href="#" class="btn"><i class="fa fa-search"></i></a>
                                  </span>
                                <input type="text" class="form-control bd-0 bd-white" placeholder="Search">
                            </div>
                            <div id="messages-list" class="panel panel-default withScroll" data-height="window" data-padding="90">
                                  {% for i in mail %}   
                                        {% if i.destinaire == user.email %}
                                <a class="message-item hire-me-btn media" href="#message" >
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
   
       
 <div class="message-item-right">
    
                                        <div class="media">
                                            <img src={{asset(path('image'))}} alt="avatar 3" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>{{i.expediteur}}</strong></h5>
                                                <h4 class="c-dark">{{i.nom}}</h4>
                                            </div>
</div>
                                        <p class="f-14 c-gray">{{i.Text|raw}}</p>
                                          
          </div>       
                                        </a>
                                        {% endif %}
                                {% endfor %}  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 email-hidden-sm detail-message">
                    <div id="message-detail" class="panel panel-default withScroll" data-height="window" data-padding="40">
                        <div class="panel-heading messages message-result">
                            <div class="message-action-btn clearfix p-t-20">
                                <div class="pull-left">
                                    <div id="go-back" rel="tooltip" title="Go back" class="icon-rounded m-r-10 email-go-back"><i class="fa fa-hand-o-left"></i>
                                    </div>
                                    <div rel="tooltip" title="Reply" class="icon-rounded m-r-10"><i class="fa fa-reply"></i>
                                    </div>
                                    <div rel="tooltip" title="Forward" class="icon-rounded m-r-10"><i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div rel="tooltip" title="Remove from favs" class="icon-rounded heart-red m-r-10"><i class="fa fa-heart"></i>
                                    </div>
                                    <div rel="tooltip" title="Print" class="icon-rounded m-r-10"><i class="fa fa-print"></i>
                                    </div>
                                    <div rel="tooltip" title="Move to trash" class="icon-rounded m-r-10"><i class="fa fa-trash-o"></i>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div rel="tooltip" title="Prev" class="icon-rounded m-r-10"><i class="fa fa-angle-double-left"></i>
                                    </div>
                                    <div rel="tooltip" title="Next" class="icon-rounded m-r-10"><i class="fa fa-angle-double-right"></i>
                                    </div>
                                    <div rel="tooltip" title="Parameters" class="icon-rounded gear m-r-10"><i class="fa fa-gear"></i>
                                    </div>
                                </div>
                            </div>
                            <h2 class="p-t-20 w-500">Objet : {{entity.nom}}</h2>
                        </div>
                        <div class="panel-body messages message-result">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="p-20">
                                        <div class="message-item media">
                                            <div class="message-item-right">
                                                <div class="media">
                                                    <img src="{{asset(path('image'))}}" alt="avatar 4" width="50" class="pull-left">
                                                    <div class="media-body">
                                                        <small class="pull-right">23 Sept</small>
                                                        <h5 class="c-dark"><strong>{{entity.expediteur}}</strong></h5>
                                                        <p class="c-gray">{{entity.expediteur}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-body">
                                       {{entity.text|raw}}
                                        <div class="message-attache">
                                            <div class="media">
                                                <i class="fa fa-paperclip pull-left fa-2x"></i>
                                                <div class="media-body">
                                                    <div><a href="#" class="strong text-regular">Project.zip</a>
                                                    </div>
                                                    <span>12 MB</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <i class="fa fa-file pull-left fa-2x"></i>
                                                <div class="media-body">
                                                    <div><a href="#" class="strong text-regular">Contract.pdf</a>
                                                    </div>
                                                    <span>228 KB</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-between"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END WRAPPER -->
    <!-- BEGIN CHAT MENU -->
   
    <!-- END CHAT MENU -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src={{asset('plugins/jquery-1.11.js')}}></script>
    <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
    <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
    <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
    <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
    <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
    <script src={{asset('plugins/icheck/icheck.js')}}></script>
    <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
    <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
    <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
    <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
    <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
    <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
    <script src={{asset('js/mailbox.js')}}></script>
    <!-- END MANDATORY SCRIPTS -->
    <script src={{asset('js/application.js')}}></script>
</body>

</html>
{% endblock %}