<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Pixit - Responsive Boostrap3 Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    
    
    <link href={{asset('bundles/backOffice/css/icons/icons.min.css')}} rel="stylesheet">
    <link href={{asset('bundles/backOffice/css/bootstrap.min.css')}} rel="stylesheet">
    <link href={{asset('bundles/backOffice/css/plugins.min.css')}} rel="stylesheet">
    <link href={{asset('bundles/backOffice/css/style.min.css')}} rel="stylesheet">
    
    
    <!-- END  MANDATORY STYLE -->
    <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body data-page="mailbox">
    <!-- BEGIN TOP MENU -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="menu-medium" class="sidebar-toggle tooltips">
                    <i class="fa fa-outdent"></i>
                </a>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/logo.png" alt="logo" width="79" height="26">
                </a>
            </div>
            <div class="navbar-center">Mailbox</div>
            <div class="navbar-collapse collapse">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right header-menu">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown" id="notifications-header">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="glyph-icon flaticon-notifications"></i>
                            <span class="badge badge-danger badge-header">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header clearfix">
                                <p class="pull-left">Notifications</p>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list withScroll" data-height="220">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                                            Steve have rated your photo
                                            <span class="dropdown-time">Just now</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-heart p-r-10 f-18 c-red"></i>
                                            John added you to his favs
                                            <span class="dropdown-time">15 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-file-text p-r-10 f-18"></i>
                                            New document available
                                            <span class="dropdown-time">22 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                                            New picture added
                                            <span class="dropdown-time">40 mins</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-bell p-r-10 f-18 c-orange"></i>
                                            Meeting in 1 hour
                                            <span class="dropdown-time">1 hour</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-bell p-r-10 f-18"></i>
                                            Server 5 overloaded
                                            <span class="dropdown-time">2 hours</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-comment p-r-10 f-18 c-gray"></i>
                                            Bill comment your post
                                            <span class="dropdown-time">3 hours</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                                            New picture added
                                            <span class="dropdown-time">2 days</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="#" class="pull-left">See all notifications</a>
                                <a href="#" class="pull-right">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN MESSAGES DROPDOWN -->
                    <li class="dropdown" id="messages-header">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="glyph-icon flaticon-email"></i>
                            <span class="badge badge-primary badge-header">
                             8
                        </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header clearfix">
                                <p class="pull-left">
                                    Messages
                                </p>
                            </li>
                            <li class="dropdown-body">
                                <ul class="dropdown-menu-list withScroll" data-height="220">
                                    <li class="clearfix">
                                        <span class="pull-left p-r-5">
                                            <img src={{asset('bundles/backOffice/img/avatars/avatar3.png')}} alt="avatar 3">
                                        </span>
                                        <div class="clearfix">
                                            <div>
                                                <strong>Alexa Johnson</strong> 
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time p-r-5"></span>12 mins ago
                                                </small>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left p-r-5">
                                            <img src={{asset('bundles/backOffice/img/avatars/avatar4.png')}} alt="avatar 4">
                                        </span>
                                        <div class="clearfix">
                                            <div>
                                                <strong>John Smith</strong> 
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time p-r-5"></span>47 mins ago
                                                </small>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left p-r-5">
                                            <img src={{asset('bundles/backOffice/img/avatars/avatar5.png')}} alt="avatar 5">
                                        </span>
                                        <div class="clearfix">
                                            <div>
                                                <strong>Bobby Brown</strong> 
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time p-r-5"></span>1 hour ago
                                                </small>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <span class="pull-left p-r-5">
                                            <img src={{asset('bundles/backOffice/img/avatars/avatar6.png')}} alt="avatar 6">
                                        </span>
                                        <div class="clearfix">
                                            <div>
                                                <strong>James Miller</strong> 
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time p-r-5"></span>2 days ago
                                                </small>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="mailbox.html" class="pull-left">See all messages</a>
                                <a href="#" class="pull-right">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END MESSAGES DROPDOWN -->
                    <!-- BEGIN USER DROPDOWN -->
                    <li class="dropdown" id="user-header">
                        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img src={{asset('bundles/backOffice/img/avatars/avatar2.png')}} alt="user avatar" width="30" class="p-r-5">
                            <span class="username">Bob Nilson</span>
                            <i class="fa fa-angle-down p-r-10"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="extra_profile.html">
                                    <i class="glyph-icon flaticon-account"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="calendar.html">
                                    <i class="glyph-icon flaticon-calendar"></i> My Calendar
                                </a>
                            </li>
                            <li>
                                <a href="calendar.html">
                                    <i class="glyph-icon flaticon-settings21"></i> Account Settings
                                </a>
                            </li>
                            <li class="dropdown-footer clearfix">
							<a href="javascript:;" class="toggle_fullscreen" title="Fullscreen">
								<i class="glyph-icon flaticon-fullscreen3"></i>
							</a>
							<a href="lockscreen.html" title="Lock Screen">
								<i class="glyph-icon flaticon-padlock23"></i>
							</a>
							<a href="login.html" title="Logout">
								<i class="fa fa-power-off"></i>
							</a>
						</li>
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->
                    <!-- BEGIN CHAT HEADER -->
                    <li id="chat-header">
                        <a href="#" class="c-white" id="chat-toggle">
                            <i class="glyph-icon flaticon-speech76 f-24"></i>
                            <span id="chat-notification" class="notification notification-danger hide" data-delay="2000"></span>
                        </a>
                        <div id="chat-popup" class="chat-popup hide" data-delay="2000">
                            <div class="arrow-up"></div>
                            <div class="chat-popup-inner bg-blue">
                                <div>
                                    <div class="clearfix w-600">
                                        <img src="assets/img/avatars/avatar3.png" alt="avatar 3" width="30" class="pull-left img-circle p-r-5">Alexa Johnson</div>
                                    <div class="message m-t-5">Hey you there?</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- END CHAT HEADER -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
    </nav>
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        <nav id="sidebar">
            <div id="main-menu">
                <ul class="sidebar-nav">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard"></i><span class="sidebar-text">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="widgets.html"><i class="glyph-icon flaticon-widgets"></i><span class="sidebar-text">Widgets <span class="label label-danger pull-right">New</span></span></a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="glyph-icon flaticon-charts2"></i><span class="sidebar-text">Charts</span><span class="pull-right badge badge-primary">2</span></a>
                    </li>
                    <li>
                        <a href="http://themes-lab.com/pixit/frontend/index.html" target="_blank"><i class="glyph-icon flaticon-frontend"></i><span class="sidebar-text">Frontend</span></a>
                    </li>
                    <li class="current active hasSub">
                        <a href="#"><i class="glyph-icon flaticon-email"></i><span class="sidebar-text">Email</span><span class="fa arrow"></span></a>
                         <ul class="submenu collapse">
                            <li class="current">
                                <a href="mailbox.html"><span class="sidebar-text">Inbox</span></a>
                            </li>
                            <li>
                                <a href="email_compose.html"><span class="sidebar-text">Write a Message</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="glyph-icon flaticon-forms"></i><span class="sidebar-text">Forms</span><span class="fa arrow"></span></a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="forms.html"><span class="sidebar-text">Form Elements</span></a>                            
                            </li>
                            <li>
                                <a href="form_validation.html"><span class="sidebar-text">Form Validation</span></a>
                            </li>
                            <li>
                                <a href="form_wizards.html"><span class="sidebar-text">Form Wizards</span></a>
                            </li>
                            <li>
                                <a href="sliders.html"><span class="sidebar-text">Sliders</span></a>
                            </li>
                            <li>
                                <a href="wysiwyg.html"><span class="sidebar-text">Editors</span></a>
                            </li>
                            <li>
                                <a href="file_upload.html"><span class="sidebar-text">File Upload</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="glyph-icon flaticon-ui-elements2"></i><span class="sidebar-text">UI Elements</span><span class="fa arrow"></span></a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="components.html"><span class="sidebar-text">Components</span></a>
                            </li>
                            <li>
                                <a href="animations.html"><span class="sidebar-text">Animations CSS3</span></a>
                            </li>
                            <li> 
                                <a href="buttons.html"><span class="sidebar-text">Buttons</span></a>
                            </li>
                            <li> 
                                <a href="icons.html"><span class="sidebar-text">Icons</span></a>
                            </li>
                            <li>
                                <a href="typography.html"><span class="sidebar-text">Typography</span></a>
                            </li>
                            <li>
                                <a href="modals.html"><span class="sidebar-text">Modals</span></a>
                            </li>
                            <li>
                                <a href="notifications.html"><span class="sidebar-text">Notifications</span></a>
                            </li>
                            <li>
                                <a href="tabs_accordion.html"><span class="sidebar-text">Tabs &amp; Accordion</span></a>
                            </li>
                            <li>
                                <a href="nestable-list.html"><span class="sidebar-text">Nestable &amp; Sortable lists</span></a>
                            </li>
                             <li>
                                <a href="tree.html"><span class="sidebar-text">Tree View</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="glyph-icon flaticon-pages"></i><span class="sidebar-text">Pages</span><span class="fa arrow"></span></a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="timeline.html"><span class="sidebar-text">Timeline</span></a>
                            </li>
                            <li>
                                <a href="blog-list.html"><span class="sidebar-text">Blog List</span></a>
                            </li>
                            <li>
                                <a href="blog-single.html"><span class="sidebar-text">Blog Single</span></a>
                            </li>
                            <li>
                                <a href="404.html"><span class="sidebar-text">404 Error Page</span></a>
                            </li>
                            <li>
                                <a href="500.html"><span class="sidebar-text">500 Error Page</span></a>
                            </li>
                            <li>
                                <a href="blank_page.html"><span class="sidebar-text">Blank Page</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="maps.html"><i class="glyph-icon flaticon-world"></i><span class="sidebar-text">Google Maps</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="glyph-icon flaticon-panels"></i><span class="sidebar-text">Panels</span><span class="fa arrow"></span></a>
                          <ul class="submenu collapse">
                            <li>
                                <a href="panels.html"><span class="sidebar-text">Custom Panels</span></a>
                            </li>
                            <li>
                                <a href="panels_draggable.html"><span class="sidebar-text">Draggable Panels</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table"></i><span class="sidebar-text">Tables</span><span class="fa arrow"></span></a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="tables.html"><span class="sidebar-text">Style Tables</span></a>
                            </li>
                            <li>
                                <a href="tables_editable.html"><span class="sidebar-text">Editable Tables</span></a>
                            </li>
                            <li>
                                <a href="tables_dynamic.html"><span class="sidebar-text">Dynamic Tables</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="glyph-icon flaticon-account"></i><span class="sidebar-text">Account</span><span class="fa arrow"></span></a>
                          <ul class="submenu collapse">
                            <li>
                                <a href="profil.html"><span class="sidebar-text">User Profile</span></a>
                            </li>
                            <li>
                                <a href="login.html"><span class="sidebar-text">Login</span></a>
                            </li>
                            <li>
                                <a href="signup.html"><span class="sidebar-text">Signup</span></a>
                            </li>
                            <li>
                                <a href="password_forgot.html"><span class="sidebar-text">Password recover</span></a>
                            </li>
                            <li>
                                <a href="lockscreen.html"><span class="sidebar-text">Lockscreen</span></a>
                            </li>
                            <li>
                                <a href="session_timeout.html"><span class="sidebar-text">Session Timeout</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="glyph-icon flaticon-gallery"></i><span class="sidebar-text">Images Manager</span><span class="fa arrow"></span></a>
                         <ul class="submenu collapse">
                            <li>
                                <a href="gallery.html"><span class="sidebar-text">Gallery</span></a>
                            </li>
                            <li>
                                <a href="medias.html"><span class="sidebar-text">Medias</span></a>
                            </li>
                            <li>
                                <a href="image_croping.html"><span class="sidebar-text">Image Croping</span></a>
                            </li>
                        </ul>    
                    </li>
                    <li class="m-b-245">
                        <a href="calendar.html"><i class="glyph-icon flaticon-calendar53"></i><span class="sidebar-text">Calendar</span></a>
                    </li>
                </ul>
            </div>
            <div class="footer-widget">
                <img src="assets/img/gradient.png" alt="gradient effet" class="sidebar-gradient-img" />
                <div id="sidebar-charts">
                    <div class="sidebar-charts-inner">
                        <div class="sidebar-charts-left">
                            <div class="sidebar-chart-title">Orders</div>
                            <div class="sidebar-chart-number">1,256</div>
                        </div>
                        <div class="sidebar-charts-right" class="sparkline mini-chart" data-type="bar" data-color="theme">
                            <span class="dynamicbar1"></span>
                        </div>
                    </div>
                    <hr class="divider">
                    <div class="sidebar-charts-inner">
                        <div class="sidebar-charts-left">
                            <div class="sidebar-chart-title">Income</div>
                            <div class="sidebar-chart-number">$47,564</div>
                        </div>
                        <div class="sidebar-charts-right" class="sparkline mini-chart" data-type="bar" data-color="theme">
                            <span class="dynamicbar2"></span>
                        </div>
                    </div>
                    <hr class="divider">
                    <div class="sidebar-charts-inner">
                        <div class="sidebar-charts-left">
                            <div class="sidebar-chart-title">Visits</div>
                            <div class="sidebar-chart-number" id="number-visits">147,687</div>
                        </div>
                        <div class="sidebar-charts-right" class="sparkline mini-chart" data-type="bar" data-color="theme">
                            <span class="dynamicbar3"></span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-footer clearfix">
                    <a class="pull-left" href="profil.html" rel="tooltip" data-placement="top" data-original-title="Settings"><i class="glyph-icon flaticon-settings21"></i></a>
                    <a class="pull-left toggle_fullscreen" href="#" rel="tooltip" data-placement="top" data-original-title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
                    <a class="pull-left" href="lockscreen.html" rel="tooltip" data-placement="top" data-original-title="Lockscreen"><i class="glyph-icon flaticon-padlock23"></i></a>
                    <a class="pull-left" href="login.html" rel="tooltip" data-placement="top" data-original-title="Logout"><i class="fa fa-power-off"></i></a>
                </div> 
            </div>
        </nav>
        <!-- END MAIN SIDEBAR -->
        <div id="main-content" class="page-mailbox">
            <div class="row" data-equal-height="true">
                <div class="col-md-4 list-messages">
                    <div class="panel panel-default">
                        <div class="panel-body messages">
                            <div class="input-group input-group-lg border-bottom">
                                <span class="input-group-btn">
                                    <a href="#" class="btn"><i class="fa fa-search"></i></a>
                                  </span>
                                <input type="text" class="form-control bd-0 bd-white" placeholder="Search">
                            </div>
                            <div id="messages-list" class="panel panel-default withScroll" data-height="window" data-padding="90">
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar3_big.png" alt="avatar 3" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                <h4 class="c-dark">Reset your account password</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media message-active">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar4_big.png" alt="avatar 4" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5><strong>Jerry Smith</strong></h5>
                                                <h4>Re: Check Dropbox</h4>
                                            </div>
                                        </div>
                                        <p class="f-14">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar5_big.png" alt="avatar 5" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                <h4 class="c-dark">Reset your account password</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar10_big.png" alt="avatar 10" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                <h4 class="c-dark">Check Dropbox</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar7_big.png" alt="avatar 7" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                <h4 class="c-dark">Reset your account password</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar9_big.png" alt="avatar 9" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                <h4 class="c-dark">Check Dropbox</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar8_big.png" alt="avatar 8" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                <h4 class="c-dark">Reset your account password</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar11_big.png" alt="avatar 11" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                <h4 class="c-dark">Check Dropbox</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar12_big.png" alt="avatar 12" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                <h4 class="c-dark">Reset your account password</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar13_big.png" alt="avatar 13" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                <h4 class="c-dark">Check Dropbox</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar1_big.png" alt="avatar 1" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                <h4 class="c-dark">Reset your account password</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src="assets/img/avatars/avatar5_big.png" alt="avatar 5" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                <h4 class="c-dark">Reset your account password</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                    </div>
                                </a>
                                <a href="#" class="message-item media">
                                    <div class="pull-left text-center">
                                        <div class="pos-rel message-checkbox">
                                            <input type="checkbox" data-style="flat-red">
                                        </div>
                                        <div>
                                            <strong><i class="fa fa-paperclip"></i> 2</strong>
                                        </div>
                                    </div>
                                    <div class="message-item-right">
                                        <div class="media">
                                            <img src={{asset('img/avatars/avatar10_big.png')}} alt="avatar 10" width="50" class="pull-left">
                                            <div class="media-body">
                                                <small class="pull-right">23 Sept</small>
                                                <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                <h4 class="c-dark">Check Dropbox</h4>
                                            </div>
                                        </div>
                                        <p class="f-14 c-gray">Hello Steve, I have added new files in your Dropbox in order to show you how to...</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 email-hidden-sm detail-message">
                    <div id="message-detail" class="panel panel-default withScroll" data-height="window" data-padding="40">
                        <div class="panel-heading messages message-result">
                            <div class="message-action-btn clearfix p-t-20">
                                <div class="pull-left">
                                    <div id="go-back" rel="tooltip" title="Go back" class="icon-rounded m-r-10 email-go-back"><i class="fa fa-hand-o-left"></i>
                                    </div>
                                    <div rel="tooltip" title="Reply" class="icon-rounded m-r-10"><i class="fa fa-reply"></i>
                                    </div>
                                    <div rel="tooltip" title="Forward" class="icon-rounded m-r-10"><i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div rel="tooltip" title="Remove from favs" class="icon-rounded heart-red m-r-10"><i class="fa fa-heart"></i>
                                    </div>
                                    <div rel="tooltip" title="Print" class="icon-rounded m-r-10"><i class="fa fa-print"></i>
                                    </div>
                                    <div rel="tooltip" title="Move to trash" class="icon-rounded m-r-10"><i class="fa fa-trash-o"></i>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div rel="tooltip" title="Prev" class="icon-rounded m-r-10"><i class="fa fa-angle-double-left"></i>
                                    </div>
                                    <div rel="tooltip" title="Next" class="icon-rounded m-r-10"><i class="fa fa-angle-double-right"></i>
                                    </div>
                                    <div rel="tooltip" title="Parameters" class="icon-rounded gear m-r-10"><i class="fa fa-gear"></i>
                                    </div>
                                </div>
                            </div>
                            <h2 class="p-t-20 w-500">Re: Check Dropbox</h2>
                        </div>
                        <div class="panel-body messages message-result">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="p-20">
                                        <div class="message-item media">
                                            <div class="message-item-right">
                                                <div class="media">
                                                    <img src={{asset('img/avatars/avatar4_big.png')}} alt="avatar 4" width="50" class="pull-left">
                                                    <div class="media-body">
                                                        <small class="pull-right">23 Sept</small>
                                                        <h5 class="c-dark"><strong>Jerry Smith</strong></h5>
                                                        <p class="c-gray">jerry.smith@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-body">
                                        <p>Hi John,</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, libero corporis ipsam voluptatibus suscipit eos expedita sapiente omnis voluptatum ea! Culpa, vitae eaque quis modi voluptatum quisquam ullam. Modi,
                                            tempora!</p>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                        <p>Thanks
                                            <br>Jerry</p>
                                        <div class="message-attache">
                                            <div class="media">
                                                <i class="fa fa-paperclip pull-left fa-2x"></i>
                                                <div class="media-body">
                                                    <div><a href="#" class="strong text-regular">Project.zip</a>
                                                    </div>
                                                    <span>12 MB</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="media">
                                                <i class="fa fa-file pull-left fa-2x"></i>
                                                <div class="media-body">
                                                    <div><a href="#" class="strong text-regular">Contract.pdf</a>
                                                    </div>
                                                    <span>228 KB</span>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="message-between"></div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="p-20">
                                        <h3 class="message-title">Check Dropbox</h3>
                                        <div class="message-item media">
                                            <div class="message-item-right">
                                                <div class="media">
                                                    <img src={{asset('img/avatars/avatar7_big.png')}} alt="avatar 7" width="50" class="pull-left">
                                                    <div class="media-body">
                                                        <small class="pull-right">22 Sept</small>
                                                        <h5 class="c-dark"><strong>John Snow</strong></h5>
                                                        <p class="c-gray">john.snow@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-body">
                                        <p>Hi Jerry,</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, libero corporis ipsam voluptatibus suscipit eos expedita sapiente omnis voluptatum ea! Culpa, vitae eaque quis modi voluptatum quisquam ullam. Modi,
                                            tempora!</p>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                                        <p>Thanks
                                            <br>John</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END WRAPPER -->
    <!-- BEGIN CHAT MENU -->
    <nav id="menu-right">
        <ul>
            <li class="mm-label label-big">ONLINE</li>
            <li class="img no-arrow have-message">
                <span>
                    <i class="online"></i>
                    <img src="assets/img/avatars/avatar3.png"/>
                    <div class="chat-name">Alexa Johnson</div>
                    <div class="pull-right badge badge-danger hide">3</div>
                    <div >Los Angeles</div>
                </span>
                <ul class="chat-messages">
                    <li class="img"><span><div class="chat-detail"><img src={{asset('img/avatars/avatar3.png')}}/><div class="chat-bubble">Hi you!</div></div></span>
                    </li>
                    <li class="img"><span><div class="chat-detail"><img src={{asset('img/avatars/avatar3.png')}}/><div class="chat-bubble">You there?</div></div></span>
                    </li>
                    <li class="img"><span><div class="chat-detail"><img src={{asset('img/avatars/avatar3.png')}}/><div class="chat-bubble">Let me know when you come back</div></div></span>
                    </li>
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="online"></i>
                    <img src={{asset('img/avatars/avatar2.png')}} alt="avatar 2"/>
                    <div class="chat-name">Bobby Brown</div>
                    <div>New York</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="busy"></i>
                    <img src={{asset('img/avatars/avatar13.png')}} alt="avatar 13"/>
                    <div class="chat-name">Fred Smith</div>
                    <div>Atlanta</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="away"></i>
                    <img src={{asset('img/avatars/avatar4.png')}} alt="avatar 4"/>
                    <div class="chat-name">James Miller</div>
                    <div>Seattle</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="online"></i>
                    <img src={{asset('img/avatars/avatar5.png')}} alt="avatar 5"/>
                    <div class="chat-name">Jefferson Jackson</div>
                    <div>Los Angeles</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="mm-label label-big m-t-30">OFFLINE</li>

            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src={{asset('img/avatars/avatar6.png')}} alt="avatar 6"/>
                    <div class="chat-name">Jordan</div>
                    <div>Savannah</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src={{asset('img/avatars/avatar7.png')}} alt="avatar 7"/>
                    <div class="chat-name">Kim Addams</div>
                    <div>Birmingham</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="assets/img/avatars/avatar8.png" alt="avatar 8"/>
                    <div class="chat-name">Meagan Miller</div>
                    <div>San Francisco</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="assets/img/avatars/avatar9.png" alt="avatar 9"/>
                    <div class="chat-name">Melissa Johnson</div>
                    <div>Austin</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src={{asset('img/avatars/avatar12.png')}} alt="avatar 12"/>
                    <div class="chat-name">Nicole Smith</div>
                    <div>San Diego</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src="assets/img/avatars/avatar11.png" alt="avatar 11"/>
                    <div class="chat-name">Samantha Harris</div>
                    <div>Salt Lake City</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
            <li class="img no-arrow">
                <span>
                    <i class="offline"></i>
                    <img src={{asset('img/avatars/avatar10.png')}} alt="avatar 10"/>
                    <div class="chat-name">Scott Thomson</div>
                    <div>Los Angeles</div>
                </span>
                <ul class="chat-messages">
                    <div class="chat-input">
                        <input type="text" class="form-control send-message" placeholder="Type your message" />
                    </div>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- END CHAT MENU -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src={{asset('plugins/jquery-1.11.js')}}></script>
    <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
    <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
    <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
    <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
    <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
    <script src={{asset('plugins/icheck/icheck.js')}}></script>
    <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
    <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
    <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
    <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
    <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
    <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
    <script src={{asset('js/mailbox.js')}}></script>
    <!-- END MANDATORY SCRIPTS -->
    <script src={{asset('js/application.js')}}></script>
</body>

</html>
