






        {% extends '::base.html.twig' %}
        {% block content %}
            <h1>Produit</h1>

            {{ form(edit_form) }}

            <ul class="record_actions">
                <li>
                    <a href="{{ path('produit') }}">
                        Back to the list
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        {% endblock %}