{% extends '::base.html.twig' %}
{% block content %}
            
<div class="main">
    <div class="wrap">
        <div class="section group">
            <div class="cont span_2_of_3">
                <h2 class="head">Featured Products</h2>
                <div class="top-box">
                    {% for entity in entities %}
                    <div class="col_1_of_3 span_1_of_3"> 
                        <a href={{ path('produit_show', { 'id': entity.id }) }}>
                            <div class="inner_content clearfix">
                                <div class="product_image">
                                    <img src={{asset('images/pic.jpg')}} alt=""/>
                                </div>
                                <div class="sale-box"><span class="on_sale title_shop">New</span></div>	
                                <div class="price">
                                    <div class="cart-left">
                                        <p class="title">{{entity.nom}}</p>
                                        <div class="price1">
                                            <span class="actual">{{ entity.prix }}</span>
                                        </div>
                                    </div>
                                    <div class="cart-right"> </div>
                                    <div class="clear"></div>
                                </div>				
                            </div>
                        </a>
                    </div>
                         {% endfor %}               
                               
                          </div>
                                </div>
                                </div>
                                </div>




{% endblock %}