{% extends '::base.html.twig' %}
{% block content %}
{% block content %}
<form id="form_recherche" action="{{ path('rechercher') }}" method="post">
	{{ form_widget(form) }}
	<input type="submit" value="Rechercher" />
</form>

//...
{% endblock %}