{% extends '::base.html.twig' %}
{% block content %}
    <center>  <title> Liste des Produit All for deal: </title><br> </center>
    <forum>
       <table border="1px" style="width:100%">
           <tr > <td>id</td>
               <td> Nom  </td>
               <td> Description </td>
               <td> Prix  </td>
               <td> Quantité  </td>
               <td> Promotion  </td> 
               <td> Marque </td> 
               <td> NBvente  </td>
               <td> dateAjout  </td>
               <td> Nbpointbase </td>  
               <td> Categorie </td> 
               <td> supprimer </td>
               <td> modifier </td>


       </tr>
             {% for j in entities %}
         

      
        <tr>
            
            <td>{{j.id}}</td>
            <td>{{j.nom}}</td>
            <td>{{j.description}}</td>
            <td>{{j.prix}}</td>
            <td>{{j.qantite}}</td>
            <td>{{j.promotion}}</td>
            <td>{{j.marque}}</td>
            <td>{{j.nbvente}}</td>
            <td>{{j.dateajout.format('Y-m-d')}}</td>
            <td>{{j.nbpointbase}}</td>
            <td>{{j.categorie}}</td>
            <td><a href="{{path('produit_delete',{'id':j.id})}}"> Supprimer </a></td>
 <td><a href="{{path('produit_update',{'id':j.id})}}"> Modifier </a></td>

        </tr>
        
         
       
 
         {% endfor %}
   

       </table>
    </forum>
{% endblock %}