{% extends '::base.html.twig' %}

{% block content %}
    <html > 
        <head > 
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/reset.css')}} type="text/css" media="all" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/style.css')}} type="text/css" media="all" /> 
        </head>

        <body>

            <div id="wrap">

                <div class="container">





                    <div class="box-719" >
                        <div class="rcfg-blue pl-6 pr-6 pt-6 pb-5">

                            <div class="box-660">
                                <b class="rc-lightblue"><b class="rc1-lightblue"><b></b></b><b class="rc2-lightblue"><b></b></b><b class="rc3-lightblue"></b><b class="rc4-lightblue"></b><b class="rc5-lightblue"></b></b>
                                <div class="rcfg-lightblue pl-4 pr-4 pb-4">










                                    <p class="ml-3">Ajouter un nouveau produit!</p>
                                     


                                    <!-- Form Starting -->
                                     <form id="validate" class="order" method="post" action="" {{ form_enctype(formImg)}}>
                                        <fieldset>
                                            <ul class="order">
                                                <li><label >Nom <span class="typo-1">*</span></label>{{ form_widget(form.nom)}}</li>
                                                <li><label >Description <span class="typo-1">*</span></label>{{ form_widget(form.description) }}</li>
                                                <li><label>Prix<span class="typo-1">*</span></label> {{ form_widget(form.prix) }} </li>
                                                <li><label>Quantite <span class="typo-1">*</span></label>{{ form_widget(form.qantite) }}</li>
                                                <li><label>Promotion <span class="typo-1">*</span></label>{{ form_widget(form.promotion) }}</li>
                                                <li><label>Marque <span class="typo-1">*</span></label> {{ form_widget(form.marque) }}</li>
                                                <li><label>Categorie <span class="typo-1">*</span></label> {{ form_widget(form.categorie) }}</li>
                                                <li><label>Image <span class="typo-1">*</span></label>  {{ form_widget(formImg.file) }}</li>
                                            </ul>
                                            <div class="clear"></div>
                                            <p>NB : ce produit ne sera afficher qu'aprés la validation de l'administrateur</p>
                                            <div class="clear"></div>
   <div class="form-actions align-right">
       {{ form_widget(form._token) }}
       {{ form_widget(formImg._token) }}
                                            <input class="bt-order-blue" type="submit" value="valider"  />
   </div>
                                            <div class="clear"></div>
                                        </fieldset>
                                    </form>
                                    <!-- Form Ending -->




                                </div>
                                <b class="rc-lightblue"><b class="rc5-lightblue"></b><b class="rc4-lightblue"></b><b class="rc3-lightblue"></b><b class="rc2-lightblue"><b></b></b><b class="rc1-lightblue"><b></b></b></b>
                            </div>


                            <div class="clear"></div>


                        </div>
                        <b class="rc-blue"><b class="rc5-blue"></b><b class="rc4-blue"></b><b class="rc3-blue"></b><b class="rc2-blue"><b></b></b><b class="rc1-blue"><b></b></b></b>
                    </div>
                    <div class="clear"></div>




                </div>
            </div>
            </div>
        </body>
    </html>
{% endblock %}