
<h1> Recherche Liste des produits </h1>
<form method="POST" action="">
  rechercher: <input type="text" name="search" />
  <input type="submit" value="chercher" />
    
    
</form>
<table border="1" style="width:100%">
    <tr>     
               <td>id</td>
               <td> Nom  </td>
               <td> Description </td>
               <td> Prix  </td>
               <td> Quantité  </td>
               <td> Promotion  </td> 
               <td> Marque </td> 
               <td> NBvente  </td>
               <td> Valider </td>
               <td> dateAjout  </td>
               <td> Nbpointbase </td>  
               <td> Categorie </td>  
       </tr>
    {% for j in mod %}
       

       <tr>
            
            <td>{{j.id}}</td>
            <td>{{j.nom}}</td>
            <td>{{j.description}}</td>
            <td>{{j.prix}}</td>
            <td>{{j.qantite}}</td>
            <td>{{j.promotion}}</td>
            <td>{{j.marque}}</td>
            <td>{{j.nbvente}}</td>
            <td>{{j.valider}}</td>
            <td>{{j.dateajout.format('Y-m-d')}}</td>
            <td>{{j.nbpointbase}}</td>
            <td>{{j.categorie}}</td>
        </tr>
        
        
         
       
            
        
        {% endfor %}
</table>
