{% extends '::base.html.twig' %}

{% block content %}
<h1>Listes  des Produits </h1>
<form method="POST"  action="">
    Rechercher un Produit! : <select name="search">
{% for cat in categories %}
<option value="{{ cat.nom }}">{{ cat.nom }}</option>
{% endfor %}
</select>
    <input type="submit" value="chercher"/>
</form>

    
    {% for i in modeles %}
        <div>
            <br>  Produits:<th>{{i.nom}}</th></br>
            <br>  Description  :<th>{{i.description}}</th></br>
            <br>  Prix :<th>{{i.prix}}</th></br>
            <br>  Promotion :<th>{{i.promotion}}</th></br>
            <br>  Marque  :<th>{{i.marque}}</th></br>
            <br>  NbVente  :<th>{{i.nbvente}}</th></br>
            <br>  Quantité  :<th>{{i.qantite}}</th></br>
            <br>  Date d'ajout  :<th>{{i.dateajout.format('Y-m-d')}}</th></br>

                                          
      <a href="{{path("produit_detail",{'id':i.id})}}">En savoir Plus!</a>
        </div>
         
    {% endfor %}
{% endblock %}
