{% extends '::base.html.twig' %}
{% block slider %}   
<script src={{asset('js/login.js')}} ></script>
    <div id="fwslider">
        <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
                <img src={{asset('images/banner.jpg')}} alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h4 class="title">Aluminium Club</h4>
                        <!-- /Text title -->

                        <!-- Text description -->
                        <p class="description">Experiance ray ban</p>
                        <!-- /Text description -->
                    </div>
                </div>
                <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
                <img src={{asset('images/banner1.jpg')}} alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h4 class="title">consectetuer adipiscing </h4>
                        <p class="description">diam nonummy nibh euismod</p>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
    </div>

{% endblock %}
{% block content %}



    <div class="cont span_2_of_3">
        <h2 class="head">Liste des Produits</h2>
        <div>
            {% for entity in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                <div class="col_1_of_3 span_1_of_3"> 
                    <a href={{ path('produit_detail', { 'id': entity.id }) }}>
                        <div class="inner_content clearfix">
                            <div class="product_image">
                                <img class="etalage_thumb_image" src="{{path('my_image_route',{'id':entity.id})}}" alt="" width="200px" height="200px">
                                                                  
                            </div>
                            <div class="sale-box"><span class="on_sale title_shop">New</span></div>	
                            <div class="price">
                                <div class="cart-left">
                                    <p class="title">{{entity.nom}}</p>
                                    <div class="price1">
                                        <span class="actual">{{ entity.prix }}</span>

                                    </div>
                                </div>
                            </div>	
                        </div>
                    </a>
                    <div class="cart-right">
                        <a href="{{path('lignecommande_create',{'produit':entity.id})}}">.P.</a>

                    </div>  
                    <div class="cart-left">
                        <a href="{{path('favoris_create',{'id':favoris.id,'produit':entity.id})}}">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> .F. </a>                        

                    </div>  
                    <div class="clear"></div>  
 
                </div>            
            {% endfor %} 

        </div>     

    </div>

    <div class="clear"></div>
    <div class="navigation" align="center">
        {{ knp_pagination_render(pagination) }} </div>
    <div class="clear"></div>























    {#
            <tbody>
                <tr>
                      <th>Nom</th>
                      <th>Marque</th>
                      <th>Description</th>
                      <th>Prix</th>
                      <th>Quantite</th>
                      <th>Promotion</th>
                      <th>Points bonus</th>
                      
                      {% for entity in entities %}
    
                <tr>
                  
                    <td>{{ entity.nom }}</td>
                
                
                    
                    <td>{{ entity.marque }}</td>
               
                    
                    <td>{{ entity.description }}</td>
               
                    
                    <td>{{ entity.prix }}</td>
               
                   
                    <td>{{ entity.quantite }}</td>
               
                    
                    <td>{{ entity.promotion }} % </td>
               
                    
                    <td>{{ entity.nbrpoint }}</td>
                   
                
                    <td><form action="{{path('favoris_create',{'id':favoris.id,'produit':entity.id})}}" method="post" >
        <input type="submit" value="Favoris"/>
                        </form></td>
    <td><form action="{{path('panier_create',{'id':panier.id,'produit':entity.id})}}" method="post" >
        <input type="submit" value="Panier"/>
    </form>
                       
    
                    </td>
    
                     
            </tr>
                 {% endfor %}
            </tbody>
        </table>
    #}
{% endblock %}
