{% extends '::base.html.twig' %}

{% block content %}
    <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
        <head profile="http://gmpg.org/xfn/11"> 
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/reset.css')}} type="text/css" media="all" /> 


            <link rel="stylesheet" href={{asset('bundles/commande/css/style.css')}} type="text/css" media="all" /> 
        </head>

        <body>
            <div id="wrap">


                <div class="container">




                    <div class="box-170 bg-step1-o-blue" ><p class="typo-right"><span class="typo-step-o">STEP</span><br /><span class="typo-w">Adresse Livraison</span></p></div>
                    <div class="box-170 ml-3 bg-step2-o-blue" ><p class=" typo-right"><span class="typo-step-o">STEP</span><br /><span class="typo-w">Paiement</span></p></div>
                    <div class="box-170 ml-3 bg-step3-blue" ><p class="typo-right"><span class="typo-step">STEP</span><br /><span class="typo-w">Infos commande</span></p></div>
                    <div class="box-170 ml-3 bg-step4-o-blue" ><p class="typo-right"><span class="typo-step-o">STEP</span><br /><span class="typo-w">Confirmation</span></p></div>
                    <div class="clear"></div>

                    <div class="box-719" >
                        <div class="rcfg-blue pl-6 pr-6 pt-6 pb-5">

                            <div class="box-660">
                                <b class="rc-lightblue"><b class="rc1-lightblue"><b></b></b><b class="rc2-lightblue"><b></b></b><b class="rc3-lightblue"></b><b class="rc4-lightblue"></b><b class="rc5-lightblue"></b></b>
                                <div class="rcfg-lightblue pl-4 pr-4 pb-4">







<form  method="post" action="{{path ('confirmer_commande',{'id':commande.id})}}">



                                    <p class="ml-3 pb-6">Veuillez verifier les information que vous venez de les saisir !! .</p>


                                    <div class="box-200 pl-9 pb-6">
                                        <ul class="order">
                                            <li>Id commande : </li>
                                            <li>Nom : </li>
                                            <li>Tel : </li>
                                            <li>Email : </li>
                                            <li>Adresse livraison</li>
                                            <li>Mode de livraison </li>
                                            <li>Mode de paiement </li>
                                            <li>Prix sans Tva </li>
                                            <li>Prix avec Tva </li>
                                        </ul>


                                        <div class="clear"></div>
                                    </div>


                                    <div class="box-300 pl-9 pb-6">
                                        <ul class="order">
                                            <li> {{commande.id}}</li>
                                            <li>Mr/Mme {{user.username }}</li>
                                            <li>9586235</li>
                                            <li>{{user.email}}</li>
                                            <li>{{commande.livraison.adresse.rue}} 
                                                {{commande.livraison.adresse.ville}}
                                                {{commande.livraison.adresse.codePostal}}
                                            </li>
                                            <li>{{commande.livraison.modeLivraison}}</li>
                                            <li>{{commande.modepaiement}}</li>
                                            <li>{{commande.totalCommande}}</li>
                                            <li>{{commande.totalCommande}}</li>
                                        </ul>

    
                                        <div class="clear"></div>




                                    </div>
                                    <div class="clear"></div>

                                  <input class="bt-order-blue" type="submit" value="Confirmer"/>
</form>
                                    <div class="clear"></div>


                                </div>
                                <b class="rc-lightblue"><b class="rc5-lightblue"></b><b class="rc4-lightblue"></b><b class="rc3-lightblue"></b><b class="rc2-lightblue"><b></b></b><b class="rc1-lightblue"><b></b></b></b>
                            </div>


                            <div class="clear"></div>


                        </div>
                        <b class="rc-blue"><b class="rc5-blue"></b><b class="rc4-blue"></b><b class="rc3-blue"></b><b class="rc2-blue"><b></b></b><b class="rc1-blue"><b></b></b></b>
                    </div>
                    <div class="clear"></div>




                </div>
            </div>
            </div>
        </body>
    </html>

{% endblock %}