{% extends '::base.html.twig' %}
{% block content %}   
    <html>
        <head>  
<!-- styles -->
    <link href="{{asset('bundles/panier/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/owl.theme.css')}}" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="{{asset('bundles/panier/css/style.blue.css')}}" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="{{asset('bundles/panier/css/custom.css" rel="stylesheet')}}">

    <script src="{{asset('bundles/panier/js/respond.min.js')}}"></script>

    <link rel="shortcut icon" href="{{asset('bundles/panier/img/favicon.png')}}">


</head>{# empty Twig template #}{# empty Twig template #}
<body>
<br>
<div class="panel panel-info">

        <div id="content">
            <div class="container">



                <div class="col-md-9" id="checkout">

                    <div class="">
                        <form method="post" action="{{path ('confirmer_commande',{'id':commande.id})}}">
                            <h1>Confirmation de votre commande</h1>
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="checkout1.html"><i class="fa fa fa-truck"></i><br>Livraison</a>
                                </li>
                                <li><a href="checkout2.html"><i class="fa fa-money"></i><br>Payment</a>
                                </li>
                                <li class="active"><a href="checkout3.html"><i class="fa fa-eye"></i><br>Confirmation</a>
                                </li>
                                <li ><a href="#"><i class="fa fa-archive"></i><br>Facture</a></li>
                            </ul>
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="5">Veuillez verifier les information que vous venez de les saisir !! .</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Id commande : </a>
                                                </td>
                                                <td>{{commande.id}}</td>

                                            </tr>      
                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Nom : </a>
                                                </td>
                                                <td> Mr/Mme {{user.username }}</td>

                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Tel : </a>
                                                </td>
                                                <td>9586235 </td>

                                            </tr>

                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Email : </a>
                                                </td>
                                                <td>{{user.email}} </td>

                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Adresse livraison : </a>
                                                </td>
                                                <td>{{commande.livraison.adresse.rue}} 
                                                    {{commande.livraison.adresse.ville}}
                                                    {{commande.livraison.adresse.codePostal}} </td>
                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Mode de livraison : </a>
                                                </td>
                                                       {% if commande.livraison.modeLivraison == 0 %}
                                                    <td>Par poste</td>
                                                {% elseif commande.modepaiement == 1 %}
                                                    <td>Livraison à domicile</td>
                                        
                                                {% endif %}
                                                <td>   </td>

                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Mode de paiement : </a>
                                                </td>
                                                {% if commande.modepaiement == 1 %}
                                                    <td>point bonus</td>
                                                {% elseif commande.modepaiement == 2 %}
                                                    <td>carte bancaire</td>
                                                {% elseif commande.modepaiement == 3 %}
                                                     <td>à la livraison</td>
                                                {% endif %}

                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Prix sans Tva : </a>
                                                </td>
                                                <td>{{commande.totalCommande}} </td>

                                            </tr>
                                            <tr>
                                                <td> </td>
                                                <td><a href="#">Prix avec Tva : </a>
                                                </td>
                                                <td>{{commande.totalCommande}} </td>

                                            </tr>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5"></th>

                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>


                            <div class="">
                                <div class="pull-left">
                                    <a href="basket.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>retour</a>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">confirmer <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">


                             <div class="" id="order-summary">
                        <div class="box-header">
                            <h3>Totale </h3>
                        </div>
                        <p class="text-muted">la somme des prix des produits ajoutés dans votre panier .</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Totale</td>
                                        <th>DT</th>
                                    </tr>
                                    <tr>
                                        <td>Frais supplimentaires</td>
                                        <th>10.00 DT</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>5.00 DT</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>DT</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
                                                <br>
                                                <br> <br>
                                                <hr>
</div>


        <script src="{{asset('bundles/panier/js/jquery-1.11.0.min.js')}}"></script>
        <script src="{{asset('bundles/panier/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/panier/js/jquery.cookie.js')}}"></script>
        <script src="{{asset('bundles/panier/js/waypoints.min.js')}}"></script>
        <script src="{{asset('bundles/panier/js/modernizr.js')}}"></script>
        <script src="{{asset('bundles/panier/js/bootstrap-hover-dropdown.js')}}"></script>
        <script src="{{asset('bundles/panier/js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('bundles/panier/js/front.js')}}"></script>   
    </body>
</html>
{% endblock %}


