<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Facture</title>
 
    </head>
    <body>
        <header class="clearfix">
            <div id="logo">
                <img src={{asset('images/logo.png')}}>
            </div>
            <h1>Facture</h1>
            <fieldset>
                <legend>Vendeur</legend>
            <div id="company" class="clearfix">
                <div>All For Deal </div>
                <div><a href="mailto:company@example.com">Dealforall@gmail.com</a></div>
            </div>
            </fieldset>  <br> <hr /> <br>
            <fieldset>
                <legend>benificiaire </legend>
            <div id="project">
                <div><span>Nom : </span>{{user.username }}</div>
                <div><span>EMAIL : </span> <a href="mailto:john@example.com">{{user.email}}</a></div>
                <div><span>Adresse Livraison :  </span>{{commande.livraison.adresse.rue}} {{commande.livraison.adresse.ville}} {{commande.livraison.adresse.codePostal}}  </div>
                <div><span>Mode Livraison : </span>{{commande.livraison.modeLivraison}}</div>     
                <div><span>Mode Paiement : </span>{{commande.modepaiement}}</div>             
                <div><span>Date d'achat : </span>{{commande.dateCommande|date('Y-m-d')}}</div>
             
            </div>
            </fieldset>
        </header> <br > <br> <hr />
    <main>
        <table border="1" width="880px">
            <thead>
                <tr> <b> Vos Achat : </b> </tr> <hr /><br><br>
                <tr>
                    <th class="service">Produit</th>
                    <th class="desc">Marque</th>
                    <th>Prix</th>
                    <th>Qte</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for i in ligne %}
                    <tr>
                    <td class="service">{{i.produit.nom }}</td>
                    <td class="desc">{{i.produit.marque}}</td>
                    <td class="unit">{{i.produit.prix}}DT</td>
                    <td class="qty">{{i.qte}}</td>
                    {% set prixSP = prixSP + i.qte*i.produit.prix %}
                    <td class="total"> {{i.qte*i.produit.prix}}</td>   
                                    
                
                    <tr>
                {% endfor %}
                
               
                <tr>
                    <td colspan="4">TOTAL VENTES</td>
                    <td class="total">{{prixSP}} DT</td>
                </tr>
                <tr>
                    <td colspan="4">TAX 25%</td>
                    <td class="total"></td>
                </tr>
                <tr>
                    <td colspan="4">FRAIX LIVRAISON</td>
                    <td class="total">12 DT</td>
                </tr>
                <tr>
                    <td colspan="4" class="grand total">MONTANT TOTAL</td>
                    <td class="grand total">{{prixSP + 12 }}</td>
                </tr>
            </tbody>
        </table>
        <div id="notices">
            <div>NOTICE:</div>
            <div class="notice">Vous ne pouvez avoir cette copie qu'une seule fois.</div>
        </div>
    </main>

</body>
</html>