{% extends '::base.html.twig' %}

{% block content %}
    <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
        <head profile="http://gmpg.org/xfn/11"> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/reset.css')}} type="text/css" media="all" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/style.css')}} type="text/css" media="all" /> 
       
        </head>
<body>
	<div id="wrap">

<div class="container">




<div class="box-170 bg-step1-o-blue" ><p class="typo-right"><span class="typo-step-o">STEP</span><br /><span class="typo-w">Your info</span></p></div>
<div class="box-170 ml-3 bg-step2-o-blue" ><p class=" typo-right"><span class="typo-step-o">STEP</span><br /><span class="typo-w">Payment</span></p></div>
<div class="box-170 ml-3 bg-step3-o-blue" ><p class="typo-right"><span class="typo-step-o">STEP</span><br /><span class="typo-w">Submit order</span></p></div>
<div class="box-170 ml-3 bg-step4-blue" ><p class="typo-right"><span class="typo-step">STEP</span><br /><span class="typo">Confirmation</span></p></div>
<div class="clear"></div>

<div class="box-719" >
<div class="rcfg-blue pl-6 pr-6 pt-6 pb-5">

<div class="box-660">
<b class="rc-lightblue"><b class="rc1-lightblue"><b></b></b><b class="rc2-lightblue"><b></b></b><b class="rc3-lightblue"></b><b class="rc4-lightblue"></b><b class="rc5-lightblue"></b></b>
<div class="rcfg-lightblue pl-4 pr-4 pb-4">









    <p class="pl-6 pt-6 pb-6"><center> <b>Merci pour votre confiance ! </b></center> <hr />
        Vous pouvez consulter votre facture pdf en cliquant sur le bouton <b> Facture </b> ci-dessous .<br /> <br />
Ainsi vous allez recevoir un mail de confirmation de notre part .</p> <hr />
<p align='center'>

    <a href={{path('facture_commande', {'id':commande.id})}}>
        
        <input class="" type="submit" value="Facture"  /><i class="fa fa-times-circle"></i></a>
    <a href={{path('produit')}}><input class="" type="submit" value="Terminer"  /></a></p>

</div>
<b class="rc-lightblue"><b class="rc5-lightblue"></b><b class="rc4-lightblue"></b><b class="rc3-lightblue"></b><b class="rc2-lightblue"><b></b></b><b class="rc1-lightblue"><b></b></b></b>
</div>


<div class="clear"></div>


</div>
<b class="rc-blue"><b class="rc5-blue"></b><b class="rc4-blue"></b><b class="rc3-blue"></b><b class="rc2-blue"><b></b></b><b class="rc1-blue"><b></b></b></b>
</div>
<div class="clear"></div>



</div>
</div>
</div>
</body>
</html>
       
{% endblock %}
        