{% extends '::base.html.twig' %}

{% block content %}
    <h1>Commande list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecommande</th>
                <th>Totalcommande</th>
                <th>Valider</th>
                <th>Reference</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.datecommande %}{{ entity.datecommande|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.totalcommande }}</td>
                <td>{{ entity.valider }}</td>
                <td>{{ entity.reference }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('commande_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('commande_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('commande_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
