{% extends '::base.html.twig' %}
{% block content %}   
<html>
    <head>  
        <!-- styles -->
        <link href="{{asset('bundles/panier/css/font-awesome.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/panier/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/panier/css/animate.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/panier/css/owl.carousel.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/panier/css/owl.theme.css')}}" rel="stylesheet">

        <!-- theme stylesheet -->
    <link href="{{asset('bundles/panier/css/style.blue.css')}}" rel="stylesheet" id="theme-stylesheet">

        <!-- your stylesheet with modifications -->
        <link href="{{asset('bundles/panier/css/custom.css" rel="stylesheet')}}">

        <script src="{{asset('bundles/panier/js/respond.min.js')}}"></script>

        <link rel="shortcut icon" href="{{asset('bundles/panier/img/favicon.png')}}">



    </head>

    <body>{# empty Twig template #}{# empty Twig template #}
        <br>
        <div class="panel panel-info">
   <div id="content">
            <div class="container">


                <div class="col-md-9" id="checkout">

                    <div class="">
                        <form method="post" action="checkout4.html">
                            <h1>Consultez votre facture </h1>
                            <ul class="nav nav-pills nav-justified">
                                <li><a href="checkout1.html"><i class="fa fa fa-truck"></i><br>Livraison</a>
                                </li>
                                <li><a href="checkout2.html"><i class="fa fa-money"></i><br>Payment</a>
                                </li>
                                <li><a href="checkout3.html"><i class="fa fa-eye"></i><br>Confirmation</a>
                                </li>
                                <li class="active"><a href="#"><i class="fa fa-archive"></i><br>Facture</a>
                                </li>
                            </ul>

                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="5">Merci pour votre confiance ! </th>
                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                 Vous pouvez consulter votre facture pdf en cliquant sur le bouton <b> Facture </b> ci-dessous .<br /> <br />
Ainsi vous allez recevoir un mail de confirmation de notre part .   
<br><hr>
Comme est déja mentionné dans notre site grace à notre programme de fidilité
vous  <br> <br>aurez 10% de la totalités de vos achat rajouter dans votre compte .
  <hr>
                                                </td>
                                  
                                            </tr>
                                      
                                        </tbody>

                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.content -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="checkout3.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Retour</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{path('facture_commande', {'id':commande.id})}}" type="submit" class="btn btn-primary">Facture<i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                        </form>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">

                                <div class="" id="order-summary">
                        <div class="box-header">
                            <h3>Totale </h3>
                        </div>
                        <p class="text-muted">la somme des prix des produits ajoutés dans votre panier .</p>

                       <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Totale</td>
                                        <th>DT</th>
                                    </tr>
                                    <tr>
                                        <td>Frais supplimentaires</td>
                                        <th>10.00 DT</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>5.00 DT</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>DT</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        </div>
        <!-- /#content -->
        <script src="{{asset('bundles/panier/js/jquery-1.11.0.min.js')}}"></script>
        <script src="{{asset('bundles/panier/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/panier/js/jquery.cookie.js')}}"></script>
        <script src="{{asset('bundles/panier/js/waypoints.min.js')}}"></script>
        <script src="{{asset('bundles/panier/js/modernizr.js')}}"></script>
        <script src="{{asset('bundles/panier/js/bootstrap-hover-dropdown.js')}}"></script>
        <script src="{{asset('bundles/panier/js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('bundles/panier/js/front.js')}}"></script>   
    </body>
</html>
{% endblock %}