{% extends '::base.html.twig' %}

{% block content %}
    <h1>Commande</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datecommande</th>
                <td>{{ entity.datecommande|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Totalcommande</th>
                <td>{{ entity.totalcommande }}</td>
            </tr>
            <tr>
                <th>Valider</th>
                <td>{{ entity.valider }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ entity.reference }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('commande') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('commande_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
