{% extends '::base.html.twig' %}
{% block content %}

    <h1>Vos Commande </h1>

    <table class="record_properties">
        <tbody>
            {% for m in entities %}
                <tr>
                    <th>Commande</th>
                    <td>{{ m.id}}</td>


                    <td>   


                        <a href="{{path('facture_commande',{'id':m.id})}}"> generer facture </a>

                    </td>    
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}

