<html>
    <head>
        <title>All For Deal | Accueil </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href={{asset('css/bootstrap-theme.css')}} rel="stylesheet" type="text/css" media="all" />
         <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
        <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
        <link href={{asset('css/bootstrap.css')}} rel="stylesheet" type="text/css" media="all" />  
        <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
        <!-- start menu -->
        <link href={{asset('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
        <script  src={{asset('js/Megamenufunction.js')}} ></script>
        <!--start slider -->
        <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
        <script src={{asset('js/jquery-ui.min.js')}} ></script>
        <script src={{asset('js/css3-mediaqueries.js')}}></script>
        <script src={{asset('js/fwslider.js')}}></script>
        <!--end slider -->
        <script src={{asset('js/jquery.easydropdown.js')}}></script>
    </head>
    <body>
    <div class="header-top">
        <div class="wrap"> 
            <div class="header-top-left">
                <div class="clear"></div>
            </div>
            <div class="cssmenu">
                <ul>
                   {% if is_granted("ROLE_USER") %}  
                        <li class="active"><a href="{{ path('Profile')}}">Compte</a></li> |  
                        <li><a href="{{ path('favoris_show', { 'id': 4 }) }}">Favoris</a></li> |
                        <li><a href="{{ path('panier_show', { 'id': 1 }) }}">Panier</a></li> |
                        <li><a href="{{path('fos_user_security_logout')}}">Se déconnecter</a></li> |
                       
                        {% else %}
                        <li><a href="{{path('fos_user_security_login')}}">Se connecter</a></li> |
                        <li><a href="{{path('fos_user_registration_register')}}">S'inscrire</a></li>
                        {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="{{ path('produit')}}"><img src={{asset('images/logo.png')}} alt=""/></a>
                </div>
                <div class="menu">
                      {% if is_granted("ROLE_USER") %}  
                    <ul class="megamenu skyblue">
                        <li class="active grid"><a href="{{ path('AccueilClient')}}">Accueil</a></li>
                        
                        <li><a class="color4" href="{{ path('produit')}}">Produits</a>
                            <div class="megapanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Catégorie 1</h4>
                                            <ul>
                                                <li><a href="womens.html">Sou-Catégorie 1</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 2</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 3 </a></li>
                                                <li><a href="womens.html">Sou-Catégorie 4</a></li>
                                            </ul>	
                                        </div>							
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Categorie 2</h4>
                                            <ul>
                                                <li><a href="womens.html">Sou-Catégorie 1</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 2</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 3</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 4</a></li>
                                            </ul>	
                                        </div>							
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Categorie 3</h4>
                                            <ul>
                                                <li><a href="womens.html">Sou-Catégorie 1</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 2</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 3</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 4</a></li>
                                                <li><a href="womens.html">Sou-Catégorie 5</a></li>
                                            </ul>	
                                        </div>												
                                    </div>
                                </div>
                            </div>
                        </li>				
                        <li><a class="color5" href="{{ path('service_show_all')}}">Services</a>
                            <div class="megapanel">
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Categorie 1</h4>
                                        <ul>
                                            <li><a href="mens.html">sou categorie 1</a></li>
                                            <li><a href="mens.html">sou categorie 2</a></li>
                                            <li><a href="mens.html">sou categorie 3</a></li>
                                            <li><a href="mens.html">sou categorie 4</a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>Categorie 2</h4>
                                        <ul>
                                            <li><a href="mens.html">sou categorie 1</a></li>
                                            <li><a href="mens.html">sou categorie 2 </a></li>
                                            <li><a href="mens.html">sou categorie 3 </a></li>
                                            <li><a href="mens.html">sou categorie 4 </a></li>
                                        </ul>	
                                    </div>							
                                </div>
                                <div class="col1">
                                    <div class="h_nav">
                                        <h4>categorie 3 </h4>
                                        <ul>
                                            <li><a href="mens.html">sou categorie 1</a></li>
                                            <li><a href="mens.html">sou categorie 2 </a></li>
                                            <li><a href="mens.html">sou categorie 3 </a></li>
                                            <li><a href="mens.html">sou categorie 4 </a></li>
                                        </ul>	
                                    </div>												
                                </div>
                            </div>
                        </li>
                                        <li><a class="color7" href="{{ path('recherche_appel_offre')}}">Appels d'offre</a></li>
                                <li><a class="color7" href="{{ path('sujet_show-All')}}">Forum</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="header-bottom-right">
                <div class="search">	  
                    <input type="text" name="s" class="textbox" value="rechercher" onfocus="this.value = '';" onblur="if (this.value == '') {
                                    this.value = 'rechercher';
                                }">
                    <input type="submit" value="Subscribe" id="submit" name="submit">
                    <div id="response"> </div>
                </div>
                <div class="tag-list">
                    <ul class="icon1 sub-icon1 profile_img">
                        <li><a class="active-icon c1" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>sed diam nonummy</h3><a href=""></a></li>
                                <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="icon1 sub-icon1 profile_img">
                        <li><a class="active-icon c2" href="#"> </a>
                            <ul class="sub-icon1 list">
                                <li><h3>No Products</h3><a href=""></a></li>
                                <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="last"><li><a href="{{ path('listPanier') }}">Panier(0)</a></li></ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- start slider -->
    {% block slider %}
        <!--/slider -->
    {% endblock %}
    {% block content %}
        
    {% endblock %}




    <div class="footer">
        <div class="footer-top">
            <div class="wrap">
                <div class="section group example">

                    <div class="clear"></div>
                </div>
            </div>
       
        <div class="footer-middle">
            <div class="wrap">

                <div class="section group example">
                    <div class="col_1_of_f_1 span_1_of_f_1">
                        <div class="section group example">
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Facebook</h3>
                                <script src={{asset('js/Facebook.js')}}></script>
                                <div class="like_box">	
                                    <div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                                </div>
                            </div>
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Twitter</h3>
                                <div class="recent-tweet">
                                    <div class="recent-tweet-icon">
                                        <span> </span>
                                    </div>
                                    <div class="recent-tweet-info">
                                        <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <div class="recent-tweet">
                                    <div class="recent-tweet-icon">
                                        <span> </span>
                                    </div>
                                    <div class="recent-tweet-info">
                                        <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col_1_of_f_1 span_1_of_f_1">
                        <div class="section group example">
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Information</h3>
                                <ul class="f-list1">
                                    <li><a href="#">Duis autem vel eum iriure </a></li>
                                    <li><a href="#">anteposuerit litterarum formas </a></li>
                                    <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                    <li><a href="#">Duis autem vel eum iriure </a></li>
                                    <li><a href="#">anteposuerit litterarum formas </a></li>
                                    <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                </ul>
                            </div>
                            <div class="col_1_of_f_2 span_1_of_f_2">
                                <h3>Contacter nous</h3>
                                <div class="company_address">
                                    <p>Ariana , Tunis</p>
                                    <p>Chotrana , Jaafar 2,</p>
                                    <p>Tunisia</p>
                                    <p>Phone:(+216) 22 666 444</p>
                                    <p>Fax: (+216) 71 444 555</p>
                                    <p>Email: <span>AllForDeal@gmail.com</span></p>

                                </div>
                                <div class="social-media">
                                    <ul>
                                        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                                        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
                                
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">
                    <p>© 2016 Copyrights <a href='#'> AllForDeal </a> </p>
                </div>
                <div class="f-list2">
                      {% if is_granted("ROLE_USER") %}  
                    <ul>
                        <li class="active"><a href="">Aide</a></li> |
                        <li><a href="delivery.html">Livraison</a></li> |
                        <li><a href="delivery.html">Informations légales</a></li> |
                        <li><a href="{{ path('mail_new')}}">Contacter nous</a></li> 
                        <li><a href="{{ path('my_app_reclamation_form')}}">Reclamation</a></li> 
                    </ul>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
     </div>
    </body>
    
</html>