<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

    <!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <head>
        <!-- BEGIN META SECTION -->
        <meta charset="utf-8">
        <title>All For Deal Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="" name="description" />
        <meta content="themes-lab" name="author" />
        <!-- END META SECTION -->
        <!-- BEGIN MANDATORY STYLE -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href={{asset('css/bootstrap-theme.css')}} rel="stylesheet" type="text/css" media="all" />
         <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
        <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
        <link href={{asset('css/bootstrap.css')}} rel="stylesheet" type="text/css" media="all" />  
        <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
        <!-- start menu -->
        <link href={{asset('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
        <script  src={{asset('js/Megamenufunction.js')}} ></script>
        <!--start slider -->
        <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
        <script src={{asset('js/jquery-ui.min.js')}} ></script>
        <script src={{asset('js/css3-mediaqueries.js')}}></script>
        <script src={{asset('js/fwslider.js')}}></script>
        <!--end slider -->
        <script src={{asset('js/jquery.easydropdown.js')}}></script>
        <link href={{asset('bundles/backOffice/css/icons/icons.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/bootstrap.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/plugins.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/style.min.css')}} rel="stylesheet">


        <!-- END  MANDATORY STYLE -->
        <script src={{asset('plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js')}}></script>
    </head>

    <body data-page="mailbox">
        <!-- BEGIN TOP MENU -->

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <div class="header-top">
        <div class="wrap"> 

            <div class="cssmenu">
                <ul>
                   {% if is_granted("ROLE_USER") %}  
                        <li><a href="{{ path('AccueilClient')}}">Accueil</a></li> |
                        <li class="active"><a href="{{ path('Profile')}}">Compte</a></li> |  
                        <li><a href="{{ path('favoris_show', { 'id': 4 }) }}">Favoris</a></li> |
                        <li><a href="{{ path('panier_show', { 'id': 1 }) }}">Panier</a></li> |
                        <li><a href="{{path('fos_user_security_logout')}}">Se déconnecter</a></li> |
                       
                        {% else %}
                        <li><a href="{{path('fos_user_security_login')}}">Se connecter</a></li> |
                        <li><a href="{{path('fos_user_registration_register')}}">S'inscrire</a></li>
                        {% endif %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
           

    
        </nav>
        <!-- END TOP MENU -->
        <!-- BEGIN WRAPPER -->
        <div id="wrapper">
            <!-- BEGIN MAIN SIDEBAR -->
            <nav id="sidebar">
                <div id="main-menu">
                    <ul class="sidebar-nav">
                        <li class="current active hasSub">
                            <a href="{{ path('Profile')}}"><i class="fa fa-dashboard"></i><span class="sidebar-text">Votre profile</span></a>
                        </li>
                        <li>
                            <a href={{ path('Inbox')}}><i class="fa fa-envelope"></i><span class="sidebar-text">Boite de reception </span><span class="fa arrow"></span></a>
                        </li>
                        <li>
                            <a href="{{path('mail_new')}}"><i class="fa fa-pencil"></i><span class="sidebar-text">Nouveau Message</span><span class="fa arrow"></span></a>
                        </li>
                   
                        <li>
                            <a href={{ path('panier_show') }}><i class="fa fa-shopping-cart"></i><span class="sidebar-text">Panier</span><span class="fa arrow"></span></a>

                        </li>
                        <li>                
                            <a href="{{ path('client_list_produit') }}"><i class="glyph-icon flaticon-forms"></i><span class="sidebar-text">Produit</span><span class="fa arrow"></span></a>

                        </li>
                        <li>
                            <a href="{{path('client_list_Forums')}}"><i class="fa fa-comments-o"></i><span class="sidebar-text">Forums</span><span class="fa arrow"></span></a>

                        </li>
                        <li>
                            <a href="{{path('client_list_services')}}"><i class="glyph-icon flaticon-pages"></i><span class="sidebar-text">Services</span><span class="fa arrow"></span></a>

                        </li>
                        <li>
                            <a href="{{ path('client_list_appeloffres')}}"><i class="glyph-icon flaticon-world"></i><span class="sidebar-text">Apples d'offre</span><span class="fa arrow"></span></a>
                        </li>
                        <li>
                            <a href="{{ path('listCommande')}}"><i class="glyph-icon flaticon-panels"></i><span class="sidebar-text">Commandes</span><span class="fa arrow"></span></a>

                        </li>
                        <li>
                            <a  href="{{ path('favoris_show') }}"><i class="fa fa-heart"></i><span class="sidebar-text">Favoris</span><span class="fa arrow"></span></a>

                        </li>
                        <li>
                            <a  href="{{ path('fos_user_change_password') }}" ><i class="fa fa-cogs"></i><span class="sidebar-text">Parametres</span><span class="fa arrow"></span></a>

                        </li>

                    </ul>
                </div>
                <div class="footer-widget">
                    <img src={{asset('img/gradient.png')}} alt="gradient effet" class="sidebar-gradient-img" />
                         <div id="sidebar-charts">

                        <div class="sidebar-footer clearfix">
                            <a class="pull-left" href="profil.html" rel="tooltip" data-placement="top" data-original-title="Settings"><i class="glyph-icon flaticon-settings21"></i></a>
                            <a class="pull-left toggle_fullscreen" href="#" rel="tooltip" data-placement="top" data-original-title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
                            <a class="pull-left" href="{{path('Client_Desactiver_compte')}}" rel="tooltip" data-placement="top" data-original-title="Desactiver"><i class="glyph-icon flaticon-padlock23"></i></a>
                            <a class="pull-left" href="{{path('fos_user_security_logout')}}" rel="tooltip" data-placement="top" data-original-title="Deconnexion"><i class="fa fa-power-off"></i></a>
                        </div> 
                    </div>
            </nav>
            <!-- END MAIN SIDEBAR -->
            {% block content   %}
            {% endblock %}  
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END WRAPPER -->
        <!-- BEGIN CHAT MENU -->

        <!-- END CHAT MENU -->
        <!-- BEGIN MANDATORY SCRIPTS -->
        <script src={{asset('plugins/jquery-1.11.js')}}></script>
        <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
        <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
        <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
        <script src={{asset('plugins/icheck/icheck.js')}}></script>
        <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
        <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
        <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
        <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
        <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
        <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
        <script src={{asset('js/mailbox.js')}}></script>
        <!-- END MANDATORY SCRIPTS -->
        <script src={{asset('js/application.js')}}></script>
    </body>

</html>


