{% extends '::base.html.twig' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">

        <!-- Mirrored from forum.azyrusthemes.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Mar 2016 20:23:41 GMT -->
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Forum :: Home Page</title>

            <!-- Bootstrap -->
            <link href="{{asset('bundles/appelOffre/css/bootstrap.min.css')}}" rel="stylesheet">

            <!-- Custom -->
            <link href="{{asset('bundles/appelOffre/css/custom.css')}}" rel="stylesheet">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
              <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
              <![endif]-->

            <!-- fonts -->
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{asset('bundles/appelOffre/font-awesome-4.0.3/css/font-awesome.min.css')}}">

            <!-- CSS STYLE-->
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/appelOffre/css/style.css')}}" media="screen" />

            <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/appelOffre/rs-plugin/css/settings.css')}}" media="screen" />

        </head>
        <body>

            <div class="container-fluid">

                <!-- Slider -->
                <div class="tp-banner-container">
                    <div class="tp-banner" >
                        <ul>	
                            <!-- SLIDE  -->
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                                <!-- MAIN IMAGE -->
                                <img src="{{asset('bundles/appelOffre/images/slide.jpg')}}"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                                <p> coucou</p>   <!-- LAYERS -->
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- //Slider -->

                <section class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-xs-12 col-md-8">
                                <div class="pull-left"><a href="#" class="prevnext"><i class="fa fa-angle-left"></i></a></div>
                                <div class="pull-left">
                                    <ul class="paginationforum">

                                    </ul>
                                </div>
                                <div class="pull-left"><a href="#" class="prevnext last"><i class="fa fa-angle-right"></i></a></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <!-- POST -->
                                <div class="post beforepagination">
                                    <div class="topwrap">
                                        <div class="userinfo pull-left">
                                            <div class="avatar">
                                                <img src="images/avatar.jpg" alt="" />
                                                <div class="status green">&nbsp;</div>
                                            </div>

                                            <div class="icons">
                                                <img src="{{asset('bundles/appelOffre/images/icon1.jpg')}}" alt="" /><img src="{{asset('bundles/appelOffre/images/icon4.jpg')}}" alt="" />
                                                <img src="{{asset('bundles/appelOffre/images/icon5.jpg')}}" alt="" /><img src="{{asset('bundles/appelOffre/images/icon6.jpg')}}" alt="" />
                                            </div>
                                        </div>
                                        <div class="posttext pull-left">
                                            <h2> {{mod.nom}}</h2><hr>
                                            Mail de contact : {{mod.mail}}</h2><hr>
                                            Telephone : {{mod.telephone}}</h2><hr>
                                            Adresse : {{mod.adresse}}</h2><hr>
                                            <p>{{mod.description}}</div><hr>
                                        <div class="clearfix"></div>
                                    </div>                              
                                    <div class="postinfobot">




                                        <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : 20 Nov @ 9:30am</div>



                                        <div class="clearfix"></div>
                                    </div>
                                </div><!-- POST -->





                            </div>
                            <div class="col-lg-4 col-md-4">

                                <!-- -->
                                <div class="sidebarblock">
                                    <br>
                                    <center> <b><i>Rechercher</i></b></center><br>
                                    <center>    <div class="input-group">
                                            <form method="POST"  action="{{path('recherche_appel_offre')}}">
                                                <input type="text" name="search" >

                                                <button class="btn btn-info" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </form>
                                        </div>  </center> <hr><hr>
                                    <center> <b><i>Ajouter un appel d'offre</i></b></center><br>

                                    <div class="divline"></div>
                                    <div class="blocktxt">

                                        Si vous desirez ajouter un sujet clique au-dessous<br><br>
                                        <center>  <a href="{{path('new_appel_offre')}}" >  <button type="submit" action="{{path('new_appel_offre')}}" class="btn btn-info"><i class="fa fa-plus-square"></i>  Appel d'offre</button></a>
                                        </center>   

                                    </div>
                                    <hr><hr>
                                    <center> <b><i>Categories</i></b></center><br>
                                    <div class="divline"></div>
                                    <div class="blocktxt">
                                        <ul class="cats">
                                            <li><a href="#">Trading for Money <span class="badge pull-right">20</span></a></li>
                                            <li><a href="#">Vault Keys Giveway <span class="badge pull-right">10</span></a></li>
                                            <li><a href="#">Misc Guns Locations <span class="badge pull-right">50</span></a></li>
                                            <li><a href="#">Looking for Players <span class="badge pull-right">36</span></a></li>
                                            <li><a href="#">Stupid Bugs &amp; Solves <span class="badge pull-right">41</span></a></li>
                                            <li><a href="#">Video &amp; Audio Drivers <span class="badge pull-right">11</span></a></li>
                                            <li><a href="#">2K Official Forums <span class="badge pull-right">5</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- -->


                            <!-- -->



                        </div>
                    </div>
            </div>





        </section>



        <!-- get jQuery from the google apis -->
        <script type="text/javascript" src="{{asset('bundles/appelOffre/ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js')}}"></script>


        <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
        <script type="text/javascript" src="{{asset('bundles/appelOffre/rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/appelOffre/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>

        <script src="{{asset('bundles/appelOffre/js/bootstrap.min.js')}}"></script>


        <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
        <script type="text/javascript">

            var revapi;

            jQuery(document).ready(function() {
                "use strict";
                revapi = jQuery('.tp-banner').revolution(
                        {
                            delay: 15000,
                            startwidth: 1200,
                            startheight: 278,
                            hideThumbs: 10,
                            fullWidth: "on"
                        });

            });	//ready

        </script>

        <!-- END REVOLUTION SLIDER -->
    </body>

    <!-- Mirrored from forum.azyrusthemes.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Mar 2016 20:24:16 GMT -->
</html>    





{% endblock %}
