{% extends '::base.html.twig' %}

{% block content %}

<h1>Modifier Mon Appel d'offre </h1>
<form action="" method="post" >
    <table> 
    <tr>
        <td>nom: </td>
        <td>{{ form_widget(form.nom)}}</td>  
    </tr>
    <tr>  
    <td>   Description:</td>
    <td>{{ form_widget(form.Description)}}</td>
    </tr>
    <tr>  
    <td>   Mail:</td>
    <td>{{ form_widget(form.Mail)}}</td>
    </tr>
    <tr>  
    <td>   Telephone:</td>
    <td>{{ form_widget(form.Telephone)}}</td>
    </tr>
    <tr>  
    <td>   Description:</td>
    <td>{{ form_widget(form.Adresse)}}</td>
    </tr>
</table>
    <br>
  
{{form_rest(form)}}
</form>
 {% endblock %}
