{% extends '::base.html.twig' %}

{% block content %}
    <html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
        <head profile="http://gmpg.org/xfn/11"> 
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
            <title>CSS Form Tutorial: How to Improve Web Order Form Design</title> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/reset.css')}} type="text/css" media="all" /> 


            <link rel="stylesheet" href={{asset('bundles/commande/css/style.css')}} type="text/css" media="all" /> 
        </head>

        <body>

            <div id="wrap">

                <div class="container">





                    <div class="box-719" >
                        <div class="rcfg-blue pl-6 pr-6 pt-6 pb-5">

                            <div class="box-660">
                                <b class="rc-lightblue"><b class="rc1-lightblue"><b></b></b><b class="rc2-lightblue"><b></b></b><b class="rc3-lightblue"></b><b class="rc4-lightblue"></b><b class="rc5-lightblue"></b></b>
                                <div class="rcfg-lightblue pl-4 pr-4 pb-4">










                                    <p class="ml-3">Veuillez ajouter votre nouvelle avresse ici !</p>
                                     


                                    <!-- Form Starting -->
                                    <form id="validate" class="order" method="post" action="{{path('adresse_create')}}">
                                        <fieldset>
                                            <ul class="order">
                                                <li><label >Rue <span class="typo-1">*</span></label>{{ form_widget(form.rue)}}
                                                   {# <input class="text" type="text" id="" name="name="form[age]" size="30" maxlength="100" value=""> #}
                                                </li>
                                                <li><label >Ville <span class="typo-1">*</span></label>{{ form_widget(form.ville) }}
                                                 {#   <input class="text" type="text" id="" name="" size="30" maxlength="16" value=""> 	#}
                                                </li>
                                                <li>
                                                    <label>Code postale<span class="typo-1">*</span></label>{{ form_widget(form.codepostal) }}
                                                  {#  <input class="text" type="text" id="" name="" value="" size="4" maxlength="4" /> #}
                                                </li>

                                                <li><label for="ccExpDate">Pays <span class="typo-1">*</span></label>{{ form_widget(form.pays) }}
                                                  {#  <input class="text" type="text" id="" name="" value="" size="4" maxlength="4" /></li> #}
                                            </ul>

                                            <div class="clear"></div>

                                          







                                            <div class="clear"></div>
   <div class="form-actions align-right">
       {{ form_widget(form._token) }}
                                            <input class="bt-order-blue" type="submit" value="valider" onclick="" />
   </div>
                                            <div class="clear"></div>
                                        </fieldset>
                                    </form>
                                    <!-- Form Ending -->




                                </div>
                                <b class="rc-lightblue"><b class="rc5-lightblue"></b><b class="rc4-lightblue"></b><b class="rc3-lightblue"></b><b class="rc2-lightblue"><b></b></b><b class="rc1-lightblue"><b></b></b></b>
                            </div>


                            <div class="clear"></div>


                        </div>
                        <b class="rc-blue"><b class="rc5-blue"></b><b class="rc4-blue"></b><b class="rc3-blue"></b><b class="rc2-blue"><b></b></b><b class="rc1-blue"><b></b></b></b>
                    </div>
                    <div class="clear"></div>




                </div>
            </div>
            </div>
        </body>
    </html>
{% endblock %}