{% extends '::base.html.twig' %}
{% block content %}   
    <html>
        <head>  
<!-- styles -->
    <link href="{{asset('bundles/panier/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/owl.theme.css')}}" rel="stylesheet">

    <!-- theme stylesheet -->
     <link href="{{asset('bundles/panier/css/style.blue.css')}}" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="{{asset('bundles/panier/css/custom.css" rel="stylesheet')}}">

    <script src="{{asset('bundles/panier/js/respond.min.js')}}"></script>

    <link rel="shortcut icon" href="{{asset('bundles/panier/img/favicon.png')}}">



</head>

<body>{# empty Twig template #}
    <br>
    
 <div class="panel panel-info">   
   <div id="content">
            <div class="container">

    

                <div class="col-md-9" id="checkout">

                    <div class="">
                          <form  method="post" action="{{path ('choisir_adresse')}}">
                            <h1>Passer Commande</h1>
                            <ul class="nav nav-pills nav-justified">
                                <li class="active"><a href="checkout1.html"><i class="fa fa fa-truck"></i><br>Livraison</a>
                                </li>
                                <li><a href="checkout2.html"><i class="fa fa-money"></i><br>Payment</a>
                                </li>
                                <li><a href="checkout3.html"><i class="fa fa-eye"></i><br>Confirmation</a>
                                </li>
                                <li ><a href="#"><i class="fa fa-archive"></i><br>Facture</a></li>
                            </ul>
<div class="content">
                                <div class="row">
                                           {% for i in adresse %}
                                    <div class="col-sm-6">
                                        <div class="shipping-method">

                                            <h4>Adresse : </h4>

                                            <p>{{ i.rue}} {{i.ville}}.</p>

                                            <div class="text-center">

                                                <input type="radio" name="adresse" value="{{i.id}}">
                                            </div>
                                        </div>
                                    </div>
                                            
                                    {% endfor %}
                   
                      

                                </div>
                                      <a href="{{path('adresse_create')}}">ajouter une nouvelle adresse</a><br>
                                      <br>
                                                  <hr>
                                                                    <label for="name"> mode de livraison<span class="typo-1">*</span></label>
                                                                        <select  class="drop1" name="modeLivraison" >
                                                                            <option value="0">Par poste</option>
                                                                            <option value="1">Livraison à domicile</option>
                                                                        </select>
                                                                    <br>
                                                                    <br>
                                                                    <hr>
                                <!-- /.row -->

                            </div>

                            <div class="">
                                <div class="pull-left">
                                    <a href="basket.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Retour au panier</a>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">payer votre commande<i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                                      <br>
                                      <br>
                                      <br>
                                      <br>
                                      <br>
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">

             <div class="" id="order-summary">
                        <div class="box-header">
                            <h3>Totale </h3>
                        </div>
                        <p class="text-muted">la somme des prix des produits ajoutés dans votre panier .</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Totale</td>
                                        <th> DT</th>
                                    </tr>
                                    <tr>
                                        <td>Frais supplimentaires</td>
                                        <th>10.00 DT</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>5.00 DT</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>DT</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
    
    
 </div>
 <script src="{{asset('bundles/panier/js/jquery-1.11.0.min.js')}}"></script>
    <script src="{{asset('bundles/panier/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/panier/js/jquery.cookie.js')}}"></script>
    <script src="{{asset('bundles/panier/js/waypoints.min.js')}}"></script>
    <script src="{{asset('bundles/panier/js/modernizr.js')}}"></script>
    <script src="{{asset('bundles/panier/js/bootstrap-hover-dropdown.js')}}"></script>
    <script src="{{asset('bundles/panier/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('bundles/panier/js/front.js')}}"></script>   
</body>
    </html>
    {% endblock %}