{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Adresse list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rue</th>
                <th>Ville</th>
                <th>Codepostal</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('adresse_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.rue }}</td>
                <td>{{ entity.ville }}</td>
                <td>{{ entity.codepostal }}</td>
                <td>{{ entity.pays }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('adresse_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('adresse_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('adresse_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
