
<html>
    <head>
        <style type="text/css">html,body,#map-canvas { height: 100% ; margin: 0 ;padding: 0 ;}</style>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD0F3qXLy34KWVC4MG6NtGLUIny2PcTnHs">

        </script>

        <script type="text/javascript">
    var myCenter =new google.maps.LatLng(51.508742,-0.120850);
    var marker;        
    
  function initialize(){
  var mapProp = {
    center: myCenter,
    zoom:5,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  
  var marker=new google.maps.Marker({
    position: myCenter,
    animation: google.maps.Animation.BOUNCE
   });
   marker.setMap(map);
}
                google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
{% block container %}

{% endblock %}
</body>
</html>
