<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{ asset('bundles/tuto/js/jquery.cookie.js') }}"></script>
<script src="{{ asset('bundles/tuto/js/precise-star-rating.js') }}"></script>
<script>
    var loader = "{{ asset('bundles/tuto/images/loader-small.gif') }}"; //link to the animated loader-small.gif
    var ROOT_URL = "{{ url('tuto_homepage')}}"; //your root URL, used in autocomplete-countries.js file
</script>