{% extends '::base.html.twig' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% javascripts
      '@StarRatingBundle/Resources/public/js/rating.js' %}
      <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    {% endjavascripts %}

    <h1>Evaluation d'un produit </h1>
    
  
      <fieldset>  <legend>Produit {{ produit.nom }} </legend>


    <table class="record_properties">
        <tbody>
 
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ produit.marque }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produit.qantite }}</td>
            </tr>
            <tr>
                <th>Promotion</th>
                <td>{{ produit.promotion }}</td>
            </tr>
            <tr>
                <th>Nombre de point bonus</th>
                <td>{{ produit.nbPointBase }}</td>
            </tr>
            <tr>

    </table>
               <form method="post" >  
                   
                    
                 
<div class="stars">
		<input type="radio" name="adresse" class="star-1" id="star-1" value="1" />
		<label class="star-1" for="star-1">1</label>
		<input type="radio" name="adresse" class="star-2" id="star-2" value="2"/>
		<label class="star-2" for="star-2">2</label>
		<input type="radio" name="adresse" class="star-3" id="star-3" value="3"/>
		<label class="star-3" for="star-3">3</label>
		<input type="radio" name="adresse" class="star-4" id="star-4" value="4"/>
		<label class="star-4" for="star-4">4</label>
		<input type="radio" name="adresse" class="star-5" id="star-5" value="5"/>
		<label class="star-5" for="star-5">5</label>               
		<span></span>              
	</div>                   
                     <input type="submit" value="valider"/>
               </form>
        <ul class="record_actions">
    <li>
        <a href="{{ path('evaluationproduit') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}