{% extends '::base.html.twig' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% javascripts
      '@StarRatingBundle/Resources/public/js/rating.js' %}
      <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    {% endjavascripts %}

    <h1>Evaluation d'un produit </h1>
    
     <form method="post">  
      <fieldset>  <legend>Produit {{ produit.nom }} </legend>


    <table class="record_properties">
        <tbody>
 
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ produit.marque }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produit.qantite }}</td>
            </tr>
            <tr>
                <th>Promotion</th>
                <td>{{ produit.promotion }}</td>
            </tr>
            <tr>
                <th>Nombre de point bonus</th>
                <td>{{ produit.nbPointBase }}</td>
            </tr>
            <tr>

<div class="rating">


    {{form(form)}}
    {{ 5|rating(5, "fa-lg") }}
 
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>


</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('evaluationproduit') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}