{% extends '::compte.html.twig' %}                  
{% block content  %}
    </br>
    </br>
    {% if produits is empty  %}
          </div>
         <div class="register_account">
           <div class="wrap">
  <h4 class="title">votre liste d'envie est vide</h4>
  <p class="cart">vous n'avez aucun produit dans votre liste.<br>Cliquer<a href="{{ path('produit') }}"> ici</a> 
      pour continuer le shopping</p>
    	   </div>
    	</div>
       
          
    {% else %}
 <ul class="record_actions ">

    </ul>




<div class="panel panel-info">
  <div class="panel-heading">
      
    <h3 class="panel-title">Vos Favoris</h3>
  </div>
    <!-- Table -->
  <table class="table table-striped panel panel-info">
      <thead>
       <th class="info"></th>
      <th class="info">Nom</th>
      <th class="info">Prix</th>
      <th class="info">Marque</th>
      <th class="info">Détail</th>
      <th class="info">Retirer</th>
      </thead>
        
      
      <tbody> 
          {% for i in produits %}            
          <tr>
              <td>
                  <img src="{{ asset(path('my_image_route', {'id': i.id})) }}" alt="" width="150px"/>
              </td>
              
              <td>{{ i.nom}}</td>
              <td>{{ i.prix}} DT</td>
              <td>{{ i.marque}}</td>
              <td>  <a href={{ path('produit_detail', { 'id': i.id }) }}>Détail</a></td>
              <td><a href="{{ path('favoris_remove', { 'id': entity.favoris.id ,
                                   'produit': i.id }  ) }}">retirer</a></td>
          </tr>
           {% endfor %}
          
      </tbody>
  </table>
</div>
           
    {% endif %}      
          
{% endblock %}