<!DOCTYPE HTML>
<html>
    <head>
        <title>All For Deal | Accueil </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
        <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
        <!-- start menu -->
        <link href={{asset ('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
        <script  src={{asset('js/Megamenufunction.js')}} ></script>
        <!--start slider -->
        <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
        <script src={{asset('js/jquery-ui.min.js')}} ></script>
        <script src={{asset('js/css3-mediaqueries.js')}}></script>
        <script src={{asset('js/fwslider.js')}}></script>
        <!--end slider -->
        <script src={{asset('js/jquery.easydropdown.js')}}></script>
    </head>
    {% block header %} {% endblock %}
        <form method="post"> 
        <div class="header-top">
            <div class="wrap"> 
                <div class="header-top-left">
                 
                    <div class="clear"></div>
                </div>
                <div class="cssmenu">    
                    <ul>
                        {% if is_granted("ROLE_USER") %}  
                        <li class="color4"><a href="{{path('Profile')}}">Compte</a> </li> |                         
                        <li><a href="{{ path('favoris_show', { 'id': user.favoris.id }) }}">Favoris</a></li> |
                        <li><a href="{{ path('panier_show', { 'id': user.panier.id }) }}">Panier</a></li> |
                        <li><a href="{{path('fos_user_security_logout')}}">Se déconnecter</a></li> |
                       
                        {% else %}
                        <li><a href="{{path('fos_user_security_login')}}">Se connecter</a></li> |
                        <li><a href="{{path('fos_user_registration_register')}}">S'inscrire</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="wrap">
                <div class="header-bottom-left">
                    <div class="logo">
                        <a href="index.html"><img src={{asset('images/logo.png')}} alt=""/></a>
                    </div>
                    <div class="menu">
                          {% if is_granted("ROLE_USER") %}  
                        <ul class="megamenu skyblue">
                            <li class="active grid"><a href="{{path('AccueilClient')}}">Accueil</a></li>
                            <li><a class="color4" href="{{path('AccueilClient')}}">Produits</a>
                                <div class="megapanel">
                                    <div class="row">
                                        <div class="col1">
                                            <div class="h_nav">
                                                <h4>Catégorie 1</h4>
                                                <ul>
                                                    <li><a href="womens.html">Sou-Catégorie 1</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 2</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 3 </a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 4</a></li>
                                                </ul>	
                                            </div>							
                                        </div>
                                        <div class="col1">
                                            <div class="h_nav">
                                                <h4>Categorie 2</h4>
                                                <ul>
                                                    <li><a href="womens.html">Sou-Catégorie 1</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 2</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 3</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 4</a></li>
                                                </ul>	
                                            </div>							
                                        </div>
                                        <div class="col1">
                                            <div class="h_nav">
                                                <h4>Categorie 3</h4>
                                                <ul>
                                                    <li><a href="womens.html">Sou-Catégorie 1</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 2</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 3</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 4</a></li>
                                                    <li><a href="womens.html">Sou-Catégorie 5</a></li>
                                                </ul>	
                                            </div>												
                                        </div>
                                    </div>
                                </div>
                            </li>				
                            <li><a class="color5" href="{{path('recherchre')}}">Services</a>
                                <div class="megapanel">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Categorie 1</h4>
                                            <ul>
                                                <li><img <a href="mens.html">sou categorie 1</a></li>
                                                <li><a href="mens.html">sou categorie 2</a></li>
                                                <li><a href="mens.html">sou categorie 3</a></li>
                                                <li><a href="mens.html">sou categorie 4</a></li>
                                            </ul>	
                                        </div>							
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>Categorie 2</h4>
                                            <ul>
                                                <li><a href="mens.html">sou categorie 1</a></li>
                                                <li><a href="mens.html">sou categorie 2 </a></li>
                                                <li><a href="mens.html">sou categorie 3 </a></li>
                                                <li><a href="mens.html">sou categorie 4 </a></li>
                                            </ul>	
                                        </div>							
                                    </div>
                                    <div class="col1">
                                        <div class="h_nav">
                                            <h4>categorie 3 </h4>
                                            <ul>
                                                <li><a href="mens.html">sou categorie 1</a></li>
                                                <li><a href="mens.html">sou categorie 2 </a></li>
                                                <li><a href="mens.html">sou categorie 3 </a></li>
                                                <li><a href="mens.html">sou categorie 4 </a></li>
                                            </ul>	
                                        </div>												
                                    </div>
                                </div>
                            </li>
                            
                            
                            <li><a class="color7" href="{{ path('recherche_appel_offre')}}">Appels d'offre</a></li>
                            <li><a class="color7" href="{{ path('sujet_show-All')}}">Forum</a></li>
                             
                        </ul>
                            {% endif %}
                    </div>
                </div>
                <div class="header-bottom-right">
                    <div class="search">	  
                        <input type="text" name="s" class="textbox" value="rechercher" onfocus="this.value = '';" onblur="if (this.value == '') {
                                            this.value = 'rechercher';
                                        }">
                        <input type="submit" value="Subscribe" id="submit" name="submit">
                        <div id="response"> </div>
                    </div>
                    <div class="tag-list">
                        <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="#"> </a>
                                <ul class="sub-icon1 list">
                                    <li><h3>sed diam nonummy</h3><a href=""></a></li>
                                    <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c2" href="#"> </a>
                                <ul class="sub-icon1 list">
                                    <li><h3>No Products</h3><a href=""></a></li>
                                    <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="last"><li><a href="#">Panier(0)</a></li></ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- start slider -->
        {% block slider %}
        <div id="fwslider">
            <div class="slider_container">
                <div class="slide"> 
                    <!-- Slide image -->
                    <img src={{asset('images/banner.jpg')}} alt=""/>
                    <!-- /Slide image -->
                    <!-- Texts container -->
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <!-- Text title -->
                            <h4 class="title">Aluminium Club</h4>
                            <!-- /Text title -->

                            <!-- Text description -->
                            <p class="description">Experiance ray ban</p>
                            <!-- /Text description -->
                        </div>
                    </div>
                    <!-- /Texts container -->
                </div>
                <!-- /Duplicate to create more slides -->
                <div class="slide">
                    <img src={{asset('images/banner1.jpg')}} alt=""/>
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <h4 class="title">consectetuer adipiscing </h4>
                            <p class="description">diam nonummy nibh euismod</p>
                        </div>
                    </div>
                </div>
                <!--/slide -->
            </div>
            <div class="timers"></div>
            <div class="slidePrev"><span></span></div>
            <div class="slideNext"><span></span></div>
        </div>
        <!--/slider -->
        {% endblock %}
 {% block content %}
     

{% endblock %}
        
        
        <div class="footer">
            <div class="footer-top">
                <div class="wrap">
                    <div class="section group example">
                        <div class="col_1_of_2 span_1_of_2">
                            <ul class="f-list">
                                <li><img src={{asset('images/2.png')}}><span class="f-text">Free Shipping on orders over $ 100</span><div class="clear"></div></li>
                            </ul>
                        </div>
                        <div class="col_1_of_2 span_1_of_2">
                            <ul class="f-list">
                                <li><img src={{asset('images/3.png')}}><span class="f-text">Call us! toll free-222-555-6666 </span><div class="clear"></div></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="footer-middle">
                <div class="wrap">
                    <!-- <div class="section group">
                           <div class="f_10">
                                   <div class="col_1_of_4 span_1_of_4">
                                           <h3>Facebook</h3>
                                           <script>(function(d, s, id) {
                                             var js, fjs = d.getElementsByTagName(s)[0];
                                             if (d.getElementById(id)) return;
                                             js = d.createElement(s); js.id = id;
                                             js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                             fjs.parentNode.insertBefore(js, fjs);
                                           }(document, 'script', 'facebook-jssdk'));</script>
                                           <div class="like_box">	
                                                   <div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                                           </div>
                                   </div>
                                   <div class="col_1_of_4 span_1_of_4">
                                           <h3>From Twitter</h3>
                                           <div class="recent-tweet">
                                                   <div class="recent-tweet-icon">
                                                           <span> </span>
                                                   </div>
                                                   <div class="recent-tweet-info">
                                                           <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                                   </div>
                                                   <div class="clear"> </div>
                                           </div>
                                           <div class="recent-tweet">
                                                   <div class="recent-tweet-icon">
                                                           <span> </span>
                                                   </div>
                                                   <div class="recent-tweet-info">
                                                           <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                                   </div>
                                                   <div class="clear"> </div>
                                           </div>
                                   </div>
                           </div>
                           <div class="f_10">
                                   <div class="col_1_of_4 span_1_of_4">
                                       <h3>Information</h3>
                                           <ul class="f-list1">
                                               <li><a href="#">Duis autem vel eum iriure </a></li>
                                       <li><a href="#">anteposuerit litterarum formas </a></li>
                                       <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                        <li><a href="#">Duis autem vel eum iriure </a></li>
                                       <li><a href="#">anteposuerit litterarum formas </a></li>
                                       <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                   </ul>
                                   </div>
                                   <div class="col_1_of_4 span_1_of_4">
                                           <h3>Contact us</h3>
                                           <div class="company_address">
                                                   <p>500 Lorem Ipsum Dolor Sit,</p>
                                                                   <p>22-56-2-9 Sit Amet, Lorem,</p>
                                                                   <p>USA</p>
                                                   <p>Phone:(00) 222 666 444</p>
                                                   <p>Fax: (000) 000 00 00 0</p>
                                                   <p>Email: <span>mail[at]leoshop.com</span></p>
                                                   
                                      </div>
                                      <div class="social-media">
                                                <ul>
                                                   <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                                                   <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                                                   <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                                                   <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                                               </ul>
                                      </div>
                                   </div>
                           <div class="clear"></div>
                   </div>
                   <div class="clear"></div>
             </div>-->





                    <div class="section group example">
                        <div class="col_1_of_f_1 span_1_of_f_1">
                            <div class="section group example">
                                <div class="col_1_of_f_2 span_1_of_f_2">
                                    <h3>Facebook</h3>
                                   <script src={{asset('js/Facebook.js')}}></script>
                                    <div class="like_box">	
                                        <div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                                    </div>
                                </div>
                                <div class="col_1_of_f_2 span_1_of_f_2">
                                    <h3>Twitter</h3>
                                    <div class="recent-tweet">
                                        <div class="recent-tweet-icon">
                                            <span> </span>
                                        </div>
                                        <div class="recent-tweet-info">
                                            <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                    <div class="recent-tweet">
                                        <div class="recent-tweet-icon">
                                            <span> </span>
                                        </div>
                                        <div class="recent-tweet-info">
                                            <p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col_1_of_f_1 span_1_of_f_1">
                            <div class="section group example">
                                <div class="col_1_of_f_2 span_1_of_f_2">
                                    <h3>Information</h3>
                                    <ul class="f-list1">
                                        <li><a href="#">Duis autem vel eum iriure </a></li>
                                        <li><a href="#">anteposuerit litterarum formas </a></li>
                                        <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                        <li><a href="#">Duis autem vel eum iriure </a></li>
                                        <li><a href="#">anteposuerit litterarum formas </a></li>
                                        <li><a href="#">Tduis dolore te feugait nulla</a></li>
                                    </ul>
                                </div>
                                <div class="col_1_of_f_2 span_1_of_f_2">
                                    <h3>Contacter nous</h3>
                                    <div class="company_address">
                                        <p>Ariana , Tunis</p>
                                        <p>Chotrana , Jaafar 2,</p>
                                        <p>Tunisia</p>
                                        <p>Phone:(+216) 22 666 444</p>
                                        <p>Fax: (+216) 71 444 555</p>
                                        <p>Email: <span>AllForDeal@gmail.com</span></p>

                                    </div>
                                    <div class="social-media">
                                        <ul>
                                            <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
                                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
                                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
                                            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="wrap">
                    <div class="copy">
                        <p>© 2016 Copyrights <a href='#'> AllForDeal </a> </p>
                    </div>
                    <div class="f-list2">
                          {% if is_granted("ROLE_USER") %}  
                        <ul>
                            <li class="active"><a href="about.html">A propos</a></li> |
                            <li><a href="delivery.html">Livraison</a></li> |
                            <li><a href="">Informations légales</a></li> |
                            <li><a href="{{ path('mail_new')}}">Contacter nous</a></li> 
                            <li><a href="{{ path('my_app_reclamation_form')}}">Reclamation</a></li> 
                        </ul>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    
</html>
  