 
  <html>
    <head>  
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
        <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
        <!-- start menu -->
        <link href={{asset ('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
        <script  src={{asset('js/Megamenufunction.js')}} ></script>
        <!--start slider -->
        <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
        <script src={{asset('js/jquery-ui.min.js')}} ></script>
        <script src={{asset('js/css3-mediaqueries.js')}}></script>
        <script src={{asset('js/fwslider.js')}}></script>
        <!--end slider -->
        <script src={{asset('js/jquery.easydropdown.js')}}></script>

       <!-- CSS  -->      
      <link href={{asset('bundles/profile/css/materialize.css')}} type="text/css" rel="stylesheet" media="screen,projection"/>
      <!-- Font Awesome -->
      <link href={{asset('bundles/profile/css/font-awesome.css')}} rel="stylesheet">
      <!-- Skill Progress Bar -->
      <link href={{asset('bundles/profile/css/pro-bars.css" rel="stylesheet')}} type="text/css" media="all" />
      <!-- Owl Carousel -->
      <link rel="stylesheet" href={{asset('bundles/profile/css/owl.carousel.css')}}>
      <!-- Default Theme CSS File-->
      <link id="switcher" href={{asset('bundles/profile/css/themes/blue-theme.css')}} type="text/css" rel="stylesheet" media="screen,projection"/>     
      <!-- Main css File -->
      <link href={{asset('bundles/profile/style.css')}} type="text/css" rel="stylesheet" media="screen,projection"/>
      <!-- Font -->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
      <!-- BEGAIN PRELOADER -->         
      <div id="preloader">        
        <div class="progress">
          <div class="indeterminate"></div>
        </div>        
      </div>
      <!-- END PRELOADER -->

     
        <main role="main">
          <!-- START HOME SECTION -->
          <section id="home">
            <div class="overlay-section">
              <div class="container">
                <div class="row">
                  <div class="col s12">
                    <div class="home-inner">
                      <h1 class="home-title">Ton profile <span>{{user.username}}</span></h1>
                               <ul class="megamenu skyblue">          
                              <li><a class="btn-floating waves-effect waves-light btn-large white" href="{{path('recherchre')}}"><img src={{asset('images/setting.png')}}><i class="material-icons">play_for_work</i></a></li>
                              <li><a class="btn-floating waves-effect waves-light btn-large white" href="{{path('recherchre')}}"><img src={{asset('images/email.png')}}><i class="material-icons">play_for_work</i></a></li>
                              <li><a class="btn-floating waves-effect waves-light btn-large white" href="{{path('recherchre')}}"><img src={{asset('images/forum.png')}}><i class="material-icons">play_for_work</i></a></li>
                              <li><a class="btn-floating waves-effect waves-light btn-large white" href="{{path('recherchre')}}"><img src={{asset('images/loked.png')}}><i class="material-icons">play_for_work</i></a></li>
                              
                        </ul> </div> 
                      <!-- Call to About Button -->
                </div>
                  </div>  
                </div>
              </div>
            </div>
                     
      
         {% block syrine %}

          <!-- START ABOUT SECTION -->
          <section id="about">
            <div class="container">
              <div class="row">
                <div class="col s12">
                  <div class="about-inner">
                    <div class="row">
                      <div class="col s12 m4 l3">
                        <div class="about-inner-left">
                          <img class="profile-img" src="{{asset(path('image'))}}" alt="Profile Image">
                    
                        </div>
                      </div>
                      <div class="col s12 m8 l9">
                        <div class="about-inner-right">
                          <h3>About Me</h3>

                          <div class="personal-information col s12 m12 l6">
                            <h3>Personal Information</h3>
                            <ul>
                              <li><span>Name : </span> {{user.username}} </li>
                              <li><span>Credit : </span>{{user.credit}} dt </li>
                              <li><span>Email : </span>{{user.email}}</li>
                              <li><a href="{{path('Desactiver')}}">Desactiver compte</a></li>
                              <li><a href="{{path('fos_user_change_password')}}">Modifier Mot de passe</a></li>
                              <li><a href="{{path('fos_user_profile_edit')}}">Modifier Coordonnées</a></li>
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Start Facts -->
          <section id="footer">
            <div class="facts-overlay">
              <div class="container">
              <div class="row">
                <div class="col s12">
                  <div class="facts-inner">
                    <div class="row">
                      <div class="col s12 m4 l4">
                        <div class="single-facts waves-effect waves-block waves-light">
                          <i class="material-icons">work</i>
                          <span class="counter">329</span>
                          <span class="counter-text"><a href="{{path('listPanier')}}" >Votre panier</a></span>
                        </div>
                      </div>
                      
                      <div class="col s12 m4 l4">
                        <div class="single-facts waves-effect waves-block waves-light">
                          <i class="material-icons">supervisor_account</i>
                          <span class="counter">250</span>
                          <span class="counter-text">Vos Forums</span>
                        </div>
                      </div>
                      <div class="col s12 m4 l4">
                        <div class="single-facts waves-effect waves-block waves-light">
                          <i class="material-icons">redeem</i>
                          <span class="counter">69</span>
                          <span class="counter-text"><a href="{{path('listCommande')}}" >Vos Commandes</a></span>
                        </div>
                      </div>
                    </div>
                        
                  </div>
                </div>
              </div>
                        
            </div>
            </div>
          </section>

          <!-- Start Blog -->
          <section id="Mes Forums">
            <div class="container">
              <div class="row">
               <div class="col s12">
                 <div class="blog-inner">
                   <h2 class="title">Mes Forums</h2>
                  
                  <!-- Start Blog area -->
                  <div class="blog-area">
                    <div class="row">
                      <!-- Start single blog post -->
                      <div class="col s12 m4 l4">
                        <div class="blog-post">
                          <div class="card">
                            <div class="card-image">
                              <img src={{asset('bundles/profile/img/blog1.jpg')}}>     
                            </div>
                            <div class="card-content blog-post-content">
                              <h2><a href="blog-single.html">Awesome Post Title</a></h2>
                              <div class="meta-media">
                                <div class="single-meta">
                                  Post By <a href="#">Admin</a>
                                </div>
                                <div class="single-meta">
                                  Category : <a href="#">Web/Design</a>
                                </div>
                              </div>
                              <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
content here.</p>
                            </div>
                            <div class="card-action">
                              <a class="post-comment" href="#"><i class="material-icons">comment</i><span>15</span></a>
                              <a class="readmore-btn" href=blog-single.html">Read More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Start single blog post -->
                      <div class="col s12 m4 l4">
                        <div class="blog-post">
                          <div class="card">
                            <div class="card-image">
                              <img src={{asset('bundles/profile/img/blog2.jpg')}}>     
                            </div>
                            <div class="card-content blog-post-content">
                              <h2><a href={{asset('bundles/profile/blog-single.html')}}>Awesome Post Title</a></h2>
                              <div class="meta-media">
                                <div class="single-meta">
                                  Post By <a href="#">Admin</a>
                                </div>
                                <div class="single-meta">
                                  Category : <a href="#">Web/Design</a>
                                </div>
                              </div>
                              <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
content here.</p>
                            </div>
                            <div class="card-action">
                              <a class="post-comment" href="#"><i class="material-icons">comment</i><span>10</span></a>
                              <a class="readmore-btn" href={{asset('bundles/profile/blog-single.html')}}>Read More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Start single blog post -->
                      <div class="col s12 m4 l4">
                        <div class="blog-post">
                          <div class="card">
                            <div class="card-image">
                              <img src={{asset('bundles/profile/img/blog3.jpg')}}>     
                            </div>
                            <div class="card-content blog-post-content">
                              <h2><a href={{asset('bundles/profile/blog-single.html')}}>Awesome Post Title</a></h2>
                              <div class="meta-media">
                                <div class="single-meta">
                                  Post By <a href="#">Admin</a>
                                </div>
                                <div class="single-meta">
                                  Category : <a href="#">Web/Design</a>
                                </div>
                              </div>
                              <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
content here.</p>
                            </div>
                            <div class="card-action">
                              <a class="post-comment" href="#"><i class="material-icons">comment</i><span>15</span></a>
                              <a class="readmore-btn" href="blog-single.html">Read More</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- All Post Button -->
                    <a class="waves-effect waves-light btn-large allpost-btn" href={{asset('blog-archive.html')}}>All Post</a>
                  </div>                    
                 </div>
                </div>
              </div> 
            </div>
          </section>
          <!-- Start Footer -->
        
      <!-- jQuery Library -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Materialize js -->
      <script type="text/javascript" src={{asset('bundles/profile/js/materialize.min.js')}}></script>
      <!-- Skill Progress Bar -->
      <script src={{asset('bundles/profile/js/appear.min.js')}} type="text/javascript"></script>
      <script src={{asset('bundles/profile/js/pro-bars.min.js')}} type="text/javascript"></script>
      <!-- Owl slider -->      
      <script src={{asset('bundles/profile/js/owl.carousel.min.js')}}></script>    
      <!-- Mixit slider  -->
      <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
      <!-- counter -->
      <script src={{asset('bundles/profile/js/waypoints.min.js')}}></script>
      <script src={{asset('bundles/profile/js/jquery.counterup.min.js')}}></script>     

      <!-- Custom Js -->
      <script src={{asset('bundles/profile/js/custom.js')}}></script>      
    </body>
  </html>
  {% endblock %}