
                    <!-- Action tabs -->
			    <div class="actions-wrapper">
				    <div class="actions">

				    	<div>
					        
					            <li><a href="{{path('produit_create',{'id':entity.id})}}">Ajouter un produit</a></div></li>
					            <li><a href="{{path('produit_show',{'id':entity.id})}}">Liste des articles</a></div></li>
					       
					       
				    	</div>
				    	