{% extends '::compte.html.twig' %}                  
{% block content  %}
        <link rel="stylesheet" href="{{asset('plugins/datatables/dataTables.css')}}">
    <link rel="stylesheet" href="{{asset('plugins/datatables/dataTables.tableTools.css')}}">
            <script src="{{asset('plugins/bootstrap-switch/bootstrap-switch.js')}}"></script>
        <script src="{{asset('plugins/bootstrap-progressbar/bootstrap-progressbar.js')}}"></script>
        <script src="{{asset('plugins/datatables/dynamic/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.bootstrap.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.tableTools.js')}}"></script>
        <script src="{{asset('bundles/backOffice/js/table_editable.js')}}"></script>
    <head>

    </head>
    <body>
        <!-- BEGAIN PRELOADER -->   
        <div id="main-content">
            <div class="page-title"> <i class="icon-custom-left"></i>
                <h3><strong>Produits</strong></h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading bg-red">
                            <h3 class="panel-title"><strong>Liste des </strong> Produits</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 m-b-20">

                                    <div class="btn-group pull-right">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="{{path('produit_create')}}">Ajouter</a>
                                            </li>
                                            <li><a href="#">Save as PDF</a>
                                            </li>
                                            <li><a href="#">Export to Excel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                                    <table class="table table-striped table-hover dataTable" id="table-editable">

                                        <tbody>
                                        <thead>
                                            <tr role="row">
                                                <th>Nom</th>
                                                <th>Prix</th>
                                                <th>Quantité</th>
                                                <th>Marque</th>
                                                <th>Prodmotion</th>
                                                <th>Description</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        {% for i in produits %}
                                            <tr>
                                                <td>{{i.nom}}</td>
                                                <td>{{i.prix}}</td> 
                                                <td>{{i.qantite}}</td>  
                                                <td>{{i.marque}}</td> 
                                                <td>{{i.promotion}}</td>  
                                                <td>{{i.description}}</td> 
                                                <td class="text-center">
                                                    <a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Modifier</a> 
                                                    <a class="delete btn btn-danger" href="{{path('produit_delete',{'id':i.id})}}"><i class="fa fa-times-circle"></i> Supprimer</a>
                                                </td>

                                            </tr>
                                        {% endfor %}                                                                                                                               
                                        </tbody>
                                    </table>

                                    <!-- nom  -->                                  

                                    <div id="modal" class="popupContainer" style="display:none;">
                                        <header class="popupHeader">
                                            <span class="header_title">Modifer</span>
                                            <span class="modal_close"><i class="fa fa-times"></i></span>
                                        </header>

                                        <section class="popupBodny">
                                            <!-- Username & Password Login form -->
                                            <div class="user_login">
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>




    </body>
{% endblock %}
