{% extends '::compte.html.twig' %}                  
{% block content  %}




    <body>
        <!-- BEGAIN PRELOADER -->   
        <div id="main-content" class="page-profil">
            <div class="row">

                <!-- BEGIN PROFIL SIDEBAR -->

                <!-- END PROFIL SIDEBAR -->

                <!-- BEGIN PROFIL CONTENT -->
                <div class="col-md-9 profil-content m-t-20">

                    <div class="row">
                        <div class="mix category-1 col-lg-3 col-md-6 col-sm-6 col-xs-12" data-value="1">
                            <div class="thumbnail">
                                <div class="overlay">
                                    <div class="thumbnail-actions">
                                        <a href="{{asset(path('image'))}}" class="btn btn-default btn-icon btn-rounded magnific" title="Photo de profil"><i class="fa fa-search"></i></a>
                                        <a href="#" class="btn btn-default btn-icon btn-rounded favorite" title="love this picture"><i class="fa fa-heart"></i></a>
                                        <a href="#" class="btn btn-blue btn-icon btn-rounded" title="download this picture"><i class="fa fa-cloud-download"></i></a>
                                    </div>
                                </div>
                                <img src="{{asset(path('image'))}}" class="img-responsive" alt="Photo de profil" />
                                <div class="thumbnail-meta">
                                    <h5>
                                        Photo de profil<br>

                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                            
                                       
                    <div class="row profil-review">
                        <div class="col-md-6">
                            <div class="p-20">
                                <div class="row">

                                    <div class="col-xs-9 col-md-9 section-box">
                                        <h2><font COLOR=#0E133F >
                                            <u>   Mes informations </u> <a href="#" target="_blank"></a>
                                            </font>  </h2>
                                        <b> <p>Nom : {{user.username}} </p></b>
                                        <hr />
                                        <b>  <p>Email : {{user.email}} </p> </b>
                                        <hr />
                                        <b>   <p>Crédit : {{user.credit}} </p> </b>
                                          <hr />
                                          <b>  <p> Point Bonus : {{user.ptBonus}}</p></b>
                                          <hr /> <b><p>  <a {{path('fos_user_profile_edit')}}>Modifier</a></p></b>
                                                                     
                            <hr /> <b><p>     <a href="{{path('fos_user_change_password')}}">Modifier Mot de passe</a></p></b>
                            <hr /> <b><p>     <a href="{{path('fos_user_profile_edit')}}">Modifier Coordonnées</a></p></b>
                                        <hr />
                                        

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 border-bottom p-t-20"></div>
                    </div>
                    </div>


                </div>

                <!-- END PROFIL CONTENT -->

            </div>
        </div>
        <!-- END MAIN CONTENT -->

    {% endblock %}