{% extends '::compte.html.twig' %}                  
{% block content  %}
    <head>
        <link rel="stylesheet" href="{{asset('plugins/datatables/dataTables.css')}}">
        <link rel="stylesheet" href="{{asset('plugins/datatables/dataTables.tableTools.css')}}">
    </head>
    <body>
        <!-- BEGAIN PRELOADER -->   
        <div id="main-content">
            <div class="page-title"> <i class="icon-custom-left"></i>
                <h3><strong>Paramétres</strong></h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading bg-red">
                            <h3 class="panel-title"><strong>Paramétres du </strong> Compte</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 m-b-20">

                                    <div class="btn-group pull-right">
                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">Print</a>
                                            </li>
                                            <li><a href="#">Save as PDF</a>
                                            </li>
                                            <li><a href="#">Export to Excel</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive table-red">
                                    <table class="table table-striped table-hover dataTable" id="table-editable">

                                        <tbody>
                                            <tr>
                                                <td>Nom</td>
                                                <td>{{user.username}}</td>                                          
                                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a> </td>

                                            </tr>
                                            <tr>
                                                <td>Mot de Passe</td>
                                                <td><b>********</b></td>                                          
                                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a> </td>

                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>{{user.email}}</td>                                          
                                                <td class="text-center"><a class="edit btn btn-dark" href="javascript:;"><i class="fa fa-pencil-square-o"></i>Edit</a> </td>

                                            </tr>
                                            <tr>
                                                <td>Desactiver Compte</td>
                                                <td></td>
                                                <td></td>

                                            </tr>



                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->


        </div>

        <script src="{{asset('plugins/bootstrap-switch/bootstrap-switch.js')}}"></script>
        <script src="{{asset('plugins/bootstrap-progressbar/bootstrap-progressbar.js')}}"></script>
        <script src="{{asset('plugins/datatables/dynamic/jquery.dataTables.min.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.bootstrap.js')}}"></script>
        <script src="{{asset('plugins/datatables/dataTables.tableTools.js')}}"></script>
        <script src="{{asset('js/table_editable.js')}}"></script>
    </body>

{% endblock %}