{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<html lang="en-IN">
<head>
<meta charset="utf-8">
<title></title>
<link href={{asset('css/bootstrap-theme.css')}} rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet'>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel='stylesheet'>
<link href={{asset('bundles/login/css/login.css')}} rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="login-form">

<input type="radio" checked id="login" name="switch" class="hide">
<input type="radio" id="signup" name="switch" class="hide">

<div>
<ul class="form-header">
<li><label for="login"><i class="fa fa-lock"></i> LOGIN<label for="login"></li>
<li><label for="signup"><i class="fa fa-credit-card"></i> REGISTER</label></li>
</ul>
</div>

<div class="section-out">
<section class="login-section">
<div class="login">
<form action="{{ path("fos_user_security_check") }}" method="post">
<ul class="ul-list">

<li><input type="text" class="input" id="username" name="_username" value="" required="required" /><span class="icon"><i class="fa fa-user"></i></span></li>
<li><input class="input" type="password" id="modlgn_passwd" name="_password" required="required" value="Password"/><span class="icon"><i class="fa fa-lock"></i></span></li></li>
	<li><span class="remember"><input type="checkbox" id="check"> <label for="check">Remember Me</label></span><span class="remember"><a href="">Forget Password</a></span></li>
<li><input type="submit" value="SIGN IN" class="btn"></li>
</ul>
</form>
</div>

<div class="social-login">Or sign in with &nbsp;
<a href="" class="fb"><i class="fa fa-facebook"></i></a>
<a href="" class="tw"><i class="fa fa-twitter"></i></a>
<a href="" class="gp"><i class="fa fa-google-plus"></i></a>
<a href="" class="in"><i class="fa fa-linkedin"></i></a>
</div>
</section>

<section class="signup-section">
<div class="login">
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" >
<ul class="ul-list">
     <li>   {{ form_widget(form.email, { 'attr': {'class': 'input', 'placeholder': 'form.email'|trans } }) }}<span class="icon"><i class="fa fa-envelope"></i></span></li>
        {{ form_errors(form.email) }}

     <li>   {{ form_widget(form.username, { 'attr': {'class': 'input', 'placeholder': 'form.username'|trans } }) }}<span class="icon"><i class="fa fa-user"></i></span></li>
        {{ form_errors(form.username) }}

      <li>  {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'input', 'placeholder': 'form.password'|trans } }) }}<span class="icon"><i class="fa fa-lock"></i></span></li>
        {{ form_errors(form.plainPassword.first) }}

     <li>   {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'input', 'placeholder': 'form.password_confirmation'|trans } }) }}<span class="icon"><i class="fa fa-lock"></i></span></li>
        {{ form_errors(form.plainPassword.second) }}
     <li>   {{ form_widget(form.file)}}</li>
        {{ form_errors(form.file) }}
     
     {{ form_rest(form) }}
        
<li><input type="checkbox" id="check1"> <label for="check1">I accept terms and conditions</label></li>
<li>
      <input type="submit" value="SIGN UP" class="btn"></li>
</ul>
</form>
</div>

<div class="social-login">Or sign up with &nbsp;
<a href="" class="fb"><i class="fa fa-facebook"></i></a>
<a href="" class="tw"><i class="fa fa-twitter"></i></a>
<a href="" class="gp"><i class="fa fa-google-plus"></i></a>
<a href="" class="in"><i class="fa fa-linkedin"></i></a>
</div>
</section>
</div>

</div>

</body>
</html>
{% endblock %}