{% extends '::base.html.twig' %}
{% block content %}
    <h1>Commentairesujet list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('commentairesujet_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.commentaire }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('commentairesujet_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('commentairesujet_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
