{% extends '::baseAdmin.html.twig' %}
{% block content%} 
             
<center>  <title> Liste des Produit All for deal: </title><br> </center>
    <forum>
       <table style="width:100%">
           <tr > <td>id</td>
               <td> Nom  </td>
               <td> Description </td>
               <td> Prix  </td>
               <td> Quantité  </td>
               <td> Promotion  </td> 
               <td> Marque </td> 
               <td> NBvente  </td>
               <td> dateAjout  </td>
   
               <td> Categorie </td> 
                <td> supprimer </td>  
                 <td> Valider </td>


       </tr>
             {% for j in m %}
         
{% if( j.valider == 0) %}

      
        <tr>
            
            <td>{{j.id}}</td>
            <td>{{j.nom}}</td>
            <td>{{j.description}}</td>
            <td>{{j.prix}}</td>
            <td>{{j.qantite}}</td>
            <td>{{j.promotion}}</td>
            <td>{{j.marque}}</td>
            <td>{{j.nbvente}}</td>
            
            <td>{{j.dateajout.format('Y-m-d')}}</td>

            <td>{{j.categorie}}</td>
            <td><a href="{{path('supprimer',{'id':j.id})}}"> Supprimer </a></td>
            <td><a href="{{path('admin_valider_produit',{'id':j.id})}}"> Validerr </a></td>

        </tr>
        
 {% endif %}   
 
       
 
         {% endfor %}
   

       </table>
    </forum>
 {% endblock %}