{% extends '::baseAdmin.html.twig' %}
{% block content %}
<h1>Listes  des Services a valider </h1>

    
    {% for i in modeles %}
        <div>
            <br>   Services:<th>{{i.nom}}</th></br>
            <br>    Description:<th>{{i.description}}</th></br>
    {#  <a href="{{path("details",{'id':i.id})}}">En savoir Plus!</a> #}
       <a href="{{path("admin_valider_service",{'id':i.id})}}">Valider se service</a>
        </div>
         
    {% endfor %}
  {% endblock %}