{% extends '::baseAdmin.html.twig' %}
{% block content%} 
 
  <html>
    <head>  
        <link href={{asset('bundles/backOffice/css/icons/icons.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/bootstrap.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/plugins.min.css')}} rel="stylesheet">
       


        <!-- END  MANDATORY STYLE -->
   
                <script type="text/javascript" src="{{asset('bundles/popup/js/jquery-1.11.0.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('bundles/popup/js/jquery.leanModal.min.js')}}"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="{{asset('bundles/popup/css/style.css')}}" />
    
    </head>

    <body>
      <div id="main-content">
            <div class="page-title"> <i class="icon-custom-left"></i>
                <h3><strong>Liste </strong> des utilisateurs </h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>toutes  </strong>les informations des utiisateurs </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead class="no-bd">
                                            <tr>
                                                <th style="width:30px;" class="div_checkbox">
                                                    <div class="div_checkbox">
                                                    
                                                    </div>
                                                </th>
                                                <th><strong>Nom</strong>
                                                </th>
                                        
                                                </th>
                                                <th><strong>Etat du compte</strong>
                                                </th>
                                             
                                                <th><strong>Nombre des produits</strong>
                                                </th>
                                                <th><strong>Nombre des services</strong>
                                                </th>
                                                <th ><strong>Nombre des appels d'offre</strong>
                                                </th>
                                                 <th ><strong>Nombre des sujets</strong>
                                                </th>
                                                 <th ><strong>Roles</strong>
                                                </th>
                                                <th class="text-center"><strong>Actions</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="no-bd-y">
                                          {% for j in mods %} 
                                              
                                            <tr>
                                                <td>
                                                    <div class="div_checkbox">
                                                   
                                                    </div>
                                                </td>
                                                <td>{{j.username}}</td>
                                              
                                                {% if j.enabled==0 %}
                                                <td class="text-left color-success">compte desactivé <br>depuis {{j.lastlogin|time_diff }}</td>
                                                {% else %}
                                            <td class="text-left color-success">compte activé </td>
                                            {% endif %}
                                                {% set nbprod =0 %}
                                                {% for p in prods %}
                                                {% if p.user.id == j.id %}
                                                {% set nbprod =nbprod+1 %}
                                                {% endif %} 
                                                {% endfor %}
                                               
                                               <td class="text-center">{{nbprod}}</td>
                                                {% set nbservice =0 %}
                                                {% for p in services %}
                                                {% if p.proprietaire.id == j.id %}
                                                {% set nbservice =nbservice+1 %}
                                                {% endif %} 
                                                {% endfor %}
                                                <td class="text-center">{{nbservice}}</td>
                                                {% set nbappeloffre =0 %}
                                                {% for p in appeloffre %}
                                                {% if p.proprietaire.id == j.id %}
                                                {% set nbappeloffre =nbappeloffre+1 %}
                                                {% endif %} 
                                                {% endfor %}
                                                <td class="text-center"> {{nbappeloffre}}</td>
                                                {% set nbsujet =0 %}
                                                {% for p in sujet %}
                                                {% if p.user.id == j.id %}
                                                {% set nbsujet =nbsujet+1 %}
                                                {% endif %} 
                                                {% endfor %}
                                                <td class="text-center">{{nbsujet}} </td>
                                               
                                                <td >
                                                     {% for r in j.roles %}
                                                         {{r}}<br>
                                                        {% endfor %}
                                                </td>
                                             
                                                <td class="text-center">
                                                 <div class="onoffswitch">
            <a href="{{path('lignecommande',{'id':j.id})}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            <a href="#{{j.id}}" id="{{j.username}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                            
                                          
         {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                                      
                    {% for j in mods %} 
                                        <div id="{{j.id}}" class="popupContainer" style="display:none;">
                                        <header class="popupHeader">
                                            <span class="header_title">Modifer</span>
                                            <span class="modal_close"><i class="fa fa-times"></i></span>
                                        </header>

                                        <section class="popupBodny">
                                            <!-- Register Form -->
                                            <div class="user_register">
                                                                       
    <form method='post' action="{{path('admin_modifier_utilisateur',{'id':j.id})}}">
   
        <label>    roles :</label>
                 <td> 
             <lable name="{{j.id}}"></lable>
             <div class="styled-select">
   <select name="role">
      <option value="ROLE_ADMIN">Administrateur</option>
      <option value="ROLE_USER"> Utilisateur</option>
   </select>
</div>
             	<div class="checkbox">
					
             <input type="radio" name="role" value="ROLE_ADMIN" checked> Administrateur<br>
               <input type="radio" name="role" value="ROLE_USER"> Utilisateur <br>
    </div>
                 
            
     


<input type="submit" value="modifier" >

</form>                                  </div>
                                        </section>
                                    </div>    
    {% endfor %}
        {% for j in mods %} 
           <script type="text/javascript">
            $("#{{j.username}}").leanModal({top: 200, overlay: 0.6, closeButton: ".modal_close"});

     
        </script>
        <script>
            $(function() {
    $("#selection").change(function() {
        var val = $(this).val();

 
            </script>
          {% endfor %}
        
        <script src={{asset('plugins/jquery-1.11.js')}}></script>
        <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
        <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
        <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
        <script src={{asset('plugins/icheck/icheck.js')}}></script>
        <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
        <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
        <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
        <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
        <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
        <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
        <script src={{asset('js/mailbox.js')}}></script>
        <!-- END MANDATORY SCRIPTS -->
        <script src={{asset('js/application.js')}}></script>  
  </body>
 {% endblock %}