{% extends '::base.html.twig'%}


{% block content %}
    
   
                                
                         
    <form method='post'>
        <table>
             <tr><td> roles : </td> 
                 <td> 
                     <select name="role">
                         <option value="ROLE_ADMIN" >Administrateur </option>
                         <option value="ROLE_USER">Utilisateur </option>
                     </select>
                     </td></tr>
            
        </table>    


<input type="submit" value="modifier" >

<form/>
{% endblock %}
