{%extends "::baseAdmin.html.twig"%}
{% block content %}
    
    
        <h2> Liste des utilisateurs </h2>
        
        <table border='2'>
            <tr> 
                <td> Nom </td> 
                <td> E-mail </td>  
                
                <td> Supprimer </td> 
                <td> Administration </td>
            </tr>
            
            {% for i in mods %}

                <tr> 
                    <td>  {{i.username}}  </td> 
                    <td>  {{i.email}}  </td> 
                 
                <td>  <a href="{{path('admin_supprimer_utilisateur',{'id':i.id})}}"> 
                        <input type="submit" value="Supprimer" > </a> </td>
                        
                  <td>  <a href="{{path('admin_modifier_utilisateur',{'id':i.id})}}"> 
                        <input type="submit" value="Ajouter comme Admin" > </a> </td>        
                </tr>
            {% endfor %}
            
        </table>
    
 
    {% endblock %}
