{% extends '::base.html.twig' %}

{% block content %}
    <html > 
        <head 
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
            <title>CSS Form Tutorial: How to Improve Web Order Form Design</title> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/reset.css')}} type="text/css" media="all" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/style.css')}} type="text/css" media="all" /> 
        </head>

        <body>

            <div id="wrap">

                <div class="container">





                    <div class="box-719" >
                        <div class="rcfg-blue pl-6 pr-6 pt-6 pb-5">

                            <div class="box-660">
                                <b class="rc-lightblue"><b class="rc1-lightblue"><b></b></b><b class="rc2-lightblue"><b></b></b><b class="rc3-lightblue"></b><b class="rc4-lightblue"></b><b class="rc5-lightblue"></b></b>
                                <div class="rcfg-lightblue pl-4 pr-4 pb-4">










                                    <p class="ml-3">Ajouter un nouveau Service!</p>
                                     


                                    <!-- Form Starting -->
                                     <form id="validate" class="order" method="post" action="">
                                        <fieldset>
                                            <ul class="order">
                                                <li><label >Nom :<span class="typo-1">*</span></label>{{form_widget(f.nom)}}</li>
                                                <li><label >Estimation :<span class="typo-1">*</span></label>{{form_widget(f.estimation)}}</li>
                                                <li><label>Mail :<span class="typo-1">*</span></label>{{form_widget(f.Mail)}}</li>
                                                <li><label>Telephone :<span class="typo-1">*</span></label>{{form_widget(f.Telephone)}}</li>
                                                <li><label>Adresse :<span class="typo-1">*</span></label>{{form_widget(f.Adresse)}}</li>
                                                <li><label>Description :<span class="typo-1">*</span></label>{{form_widget(f.Description)}}</li>
                                                <li><label>Categorie :<span class="typo-1">*</span></label>{{form_widget(f.Categorie)}}</li>
                                         </ul>
                                            <div class="clear"></div>
                                            <p>NB : ce services ne sera afficher qu'aprés la validation de l'administrateur</p>
                                            <div class="clear"></div>
   <div class="form-actions align-right">
       {{ form_widget(f._token) }}

                                            <input class="bt-order-blue" type="submit" value="valider"  />
   </div>
                                            <div class="clear"></div>
                                        </fieldset>
                                    </form>
                                    <!-- Form Ending -->




                                </div>
                                <b class="rc-lightblue"><b class="rc5-lightblue"></b><b class="rc4-lightblue"></b><b class="rc3-lightblue"></b><b class="rc2-lightblue"><b></b></b><b class="rc1-lightblue"><b></b></b></b>
                            </div>


                            <div class="clear"></div>


                        </div>
                        <b class="rc-blue"><b class="rc5-blue"></b><b class="rc4-blue"></b><b class="rc3-blue"></b><b class="rc2-blue"><b></b></b><b class="rc1-blue"><b></b></b></b>
                    </div>
                    <div class="clear"></div>




                </div>
            </div>
            </div>
        </body>
    </html>
{% endblock %}