{% extends '::base.html.twig' %}
{% block content %}
<h1>Details du Services {{mod.nom}} </h1>

   

     
        <div>
      
       <br>  Description: <th>{{mod.description}}</th></br>
       <br> Mail: <th>{{mod.Mail}}</th></br>
       <br> Estimation:<th>{{mod.estimation}}</th></br>
       <br>Adresse:<th>{{mod.Adresse}}</th></br>
       <br>Telephone:<th>{{mod.Telephone}}</th></br>
        </div>
  {% endblock %}       