{% extends '::base.html.twig' %}
{% block content %}
<h1>Modifier Service </h1>
<form action="" method="post" >
    <table> 
    <tr>
        <td>nom: </td>
        <td>{{ form_widget(form.nom)}}</td>  
    </tr>
    <tr>  
    <td>   Description:</td>
    <td>{{ form_widget(form.Description)}}</td>
    </tr>
</table>
    <br>
  
{{form_rest(form)}}
</form>

  {% endblock %}