{% extends '::base.html.twig' %}
{% block content %}
<h1>Mes Services </h1>
        <div>
            {% for mod in mod %}
            <br> <th>{{mod.nom}}</th></br>
            <br> <th>{{mod.description}}</th></br>
            <br> <a href="{{path("ajouter")}}">Proposer un nouveau service</a></br>
            <br>   <a href="{{path("modifier",{'id':mod.id})}}">Modifier mon service</a></br>
             <br>   <a href="{{path("supprimer",{'id':mod.id})}}">Supprimer mon service</a></br>
            {% endfor %}
        </div>
       {% endblock %}  