{% extends '::base.html.twig' %}
{% block content %}
<h1>Listes  des Services </h1>
<form method="POST"  action="">
    Rechercher Un Service! : <select name="search">
{% for cat in categories %}
<option value="{{ cat.id }}">{{ cat.id }}</option>
{% endfor %}
</select>
    <input type="submit" value="chercher"/>
</form>

    
    {% for i in modeles %}
        <div>
            <br>   Services:<th>{{i.nom}}</th></br>
            <br>    Description:<th>{{i.description}}</th></br>
      <a href="{{path("details",{'id':i.id})}}">En savoir Plus!</a>
        </div>
         
    {% endfor %}
  {% endblock %}