{% extends '::base.html.twig' %}
{% block content %}
 <!DOCTYPE html>
<html lang="en">
<head>
	<title>Crafty |  Free HTML5/CSS3 template</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Crafty is a stunning HTML5/CSS3 multi-purpose template, well-coded, commented code and easy to customize"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/service/css/reset.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/service/css/main_responsive.css')}}">
    <script type="text/javascript" src="{{asset('bundles/service/js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/service/js/carouFredSel.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/service/js/main.js')}}"></script>
          <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
            <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
            <!-- start menu -->
            <link href={{asset ('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
            <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
            <script  src={{asset('js/Megamenufunction.js')}} ></script>
            <!--start slider -->
            <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
            <script src={{asset('js/jquery-ui.min.js')}} ></script>
            <script src={{asset('js/css3-mediaqueries.js')}}></script>
            <script src={{asset('js/fwslider.js')}}></script>
            <!--end slider -->
            <script src={{asset('js/jquery.easydropdown.js')}}></script>

            <!-- CSS  -->      
            <link href={{asset('bundles/profile/css/materialize.css')}} type="text/css" rel="stylesheet" media="screen,projection"/>
            <!-- Font Awesome -->
            <link href={{asset('bundles/profile/css/font-awesome.css')}} rel="stylesheet">
            <!-- Skill Progress Bar -->
            <link href={{asset('bundles/profile/css/pro-bars.css" rel="stylesheet')}} type="text/css" media="all" />
            <!-- Owl Carousel -->
            <link rel="stylesheet" href={{asset('bundles/profile/css/owl.carousel.css')}}>
            <!-- Default Theme CSS File-->
            <link id="switcher" href={{asset('bundles/profile/css/themes/blue-theme.css')}} type="text/css" rel="stylesheet" media="screen,projection"/>     
            <!-- Main css File -->
            <link rel="stylesheet" href={{asset('css/style.css')}}>
            <link href={{asset('bundles/profile/style.css')}} type="text/css" rel="stylesheet" media="screen,projection"/>
            <!-- Font -->
            <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
</head>
<body>

          <main role="main">
                    <section id="banner">
                <div class="parallax-container">
                    <div class="parallax">
                        <img src="{{asset('img/s.jpg')}}">
                    </div>
                    <div class="overlay-header">       
                    </div>
                    <div class="overlay-content blog-head">
                        <div class="container">
                            <h1 class="header-title">Services</h1>                  
                        </div>
                    </div>
                </div>
            </section>
          </main>
    <section class="features">

		<div class="">
                    {% for i in pagination %}
				<div class="feature">
					<div class="ficon">
						<img src="{{asset('bundles/service/img/icon1.png')}}" alt="">
					</div>
					<div class="details_exp">
						<h3>{{i.nom}}</h3>
                                                <p>{{i.description}}<a href="{{path('service_details',{'service':i.id})}}"> <u>more details</u><span>→</span></a>
					</div>
				</div>
                                        {% endfor %}
			</div>
                                        <center>    <div> {{ knp_pagination_render(pagination) }} </div></center>
	</section><!--  End Features  --> 

    
                         <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                        <!-- Materialize js -->
                        <script type="text/javascript" src={{asset('bundles/profile/js/materialize.min.js')}}></script>
                        <!-- Skill Progress Bar -->
                        <script src={{asset('bundles/profile/js/appear.min.js')}} type="text/javascript"></script>
                        <script src={{asset('bundles/profile/js/pro-bars.min.js')}} type="text/javascript"></script>
                        <!-- Owl slider -->      
                        <script src={{asset('bundles/profile/js/owl.carousel.min.js')}}></script>    
                        <!-- Mixit slider  -->
                        <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
                        <!-- counter -->
                        <script src={{asset('bundles/profile/js/waypoints.min.js')}}></script>
                        <script src={{asset('bundles/profile/js/jquery.counterup.min.js')}}></script>     

                        <!-- Custom Js -->
                        <script src={{asset('bundles/profile/js/custom.js')}}></script>      
                        </body>
                        </html>   
    {% endblock %}
