{% extends '::base.html.twig' %}
{% block content %}   
    <html>
        <head>  
<!-- styles -->
    <link href="{{asset('bundles/panier/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/panier/css/owl.theme.css')}}" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="{{asset('bundles/panier/css/style.blue.css')}}" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="{{asset('bundles/panier/css/custom.css" rel="stylesheet')}}">

    <script src="{{asset('bundles/panier/js/respond.min.js')}}"></script>

    <link rel="shortcut icon" href="{{asset('bundles/panier/img/favicon.png')}}">


</head>

<body>{# empty Twig template #}
    
<div class="panel panel-info">
    
    
  <div id="content">
            <div class="container">


                <div class="col-md-9" id="basket">

                    <div class="">

                        <form method="POST" action="{{path('panier_show',{'id':panier.id})}}" > 
 {% set nbcmd= 0%}
{% for i in cm %}
    {% set nbcmd=nbcmd+1 %}
    {% endfor %}
                            <h1>Votre pnaier</h1>
                            <p class="text-muted">vous avez {{nbcmd}} article(s) dans votre panier.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Produit</th>
                                            <th>Quantité</th>
                                            <th>Prix</th>
                                            <th>Promotion</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody
                                        {% for j in produits %} 
                            {% for i in j %}  
                                        <tr>
                                            <td>
                                                <a href="#">
                                                    <img src="{{ asset(path('my_image_route', {'id': i.id})) }}" alt="White Blouse Armani">
                                                </a>
                                            </td>
                                            <td><a href="#">{{i.nom}}</a>
                                            </td>
                                            <td>
                                                {% for m in cm %}
                                       {% if m.produit.id == i.id %}
                                        
                                                <input name={{m.id}} type="number" value="{{m.qte}}" class="form-control">
                                              
                                                {% endif %}
                                              {% endfor %} 
                                            </td>
                                            <td>{{ i.prix}} DT</td>
                                            <td>{{ i.prix}} DT</td>
                                            <td>{{ i.prix}} DT</td>
                                            <td><a href="{{ path('panier_remove', { 'id': entity.panier.id ,
                                   'produit': i.id }  ) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        
                                        {% set prixSP = prixSP + i.prix  %}
                                    {% set prixP = prixP + (i.prix - (i.prix *i.promotion)/100) %}
                                              {% endfor %}
                                            {% endfor %}
                                     
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            <th colspan="2">{{prixSP}} DT</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="">
                                <div class="pull-left">
                                    <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continuer shopping</a>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-default"><i class="fa fa-refresh"></i> Actualiser</a>
                             
                                    <a href="{{ path('choisir_adresse') }}" class="btn btn-primary">passer commande <i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                                    <hr>

                        </form>

                    </div>
                                    <hr><hr>
                    <!-- /.box -->


                    <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="same-height">
                                <h3>Vous pourriez aimer </h3>
                            </div>
                        </div>
                        {% for i in prods|slice(0, 3) %}
                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="{{i.nom}}">
                                                <img src="{{ asset(path('my_image_route', {'id': i.id})) }}"  width="182px" height="200px" alt="">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="{{i.nom}}">
                                                <img src="{{ asset(path('my_image_route', {'id': i.id})) }}"  width="182px" height="200px" alt="" >
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="{{i.nom}}" class="invisible">
                                    <img src="{{ asset(path('my_image_route', {'id': i.id})) }}" width="182px" height="200px" alt="" >
                                </a>
                                <div class="text">
                                    <h3>{{i.nom}}</h3>
                                    <p class="price">{{i.prix}}</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>
                        {% endfor %}

          

                    </div>


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">
                    <div class="" id="order-summary">
                        <div class="box-header">
                            <h3>Totale </h3>
                        </div>
                        <p class="text-muted">la somme des prix des produits ajoutés dans votre panier .</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Totale</td>
                                        <th>{{prixSP}} DT</th>
                                    </tr>
                                    <tr>
                                        <td>Frais supplimentaires</td>
                                        <th>10.00 DT</th>
                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        <th>5.00 DT</th>
                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        <th>{{prixSP +10 }}DT</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                                    <hr>
                                    <hr>
                 

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
                                            </div>
  <script src="{{asset('bundles/panier/js/jquery-1.11.0.min.js')}}"></script>
    <script src="{{asset('bundles/panier/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('bundles/panier/js/jquery.cookie.js')}}"></script>
    <script src="{{asset('bundles/panier/js/waypoints.min.js')}}"></script>
    <script src="{{asset('bundles/panier/js/modernizr.js')}}"></script>
    <script src="{{asset('bundles/panier/js/bootstrap-hover-dropdown.js')}}"></script>
    <script src="{{asset('bundles/panier/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('bundles/panier/js/front.js')}}"></script>   
</body>
    </html>
    {% endblock %}
