

    <h1>Produit</h1>

    <table class="record_properties">
        <tbody>
           
            {% for i in entity.produit %}
                
            <tr>
                <th>Nom</th>
                <td>{{ i.nom}}</td>
            </tr>
            
            <tr>
                <th>Nom</th>
                <td>{{ i.marque}}</td>
            </tr>
                        

          <tr>
                <th>Description</th>
                <td>{{ i.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ i.prix }}</td>
            </tr>

            <tr>
                <th>Promotion</th>
                <td>{{ i.promotion }}</td>
            </tr>
            <tr>
                <th>Nbrpoint</th>
                <td>{{ i.nbrpoint }}</td>
            </tr>
            <tr>
                <th>quantite</th>
                <td><select name="{{ i.id}}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
            {% set prixSP = prixSP + i.prix  %}
            {% set prixP = prixP + (i.prix - (i.prix *i.promotion)/100) %}
                  
      {% endfor %}
 
      
              <td>   
                  prix sans promotion : {{prixSP}}</br>
                  prix apres promotion : {{prixP}}</br>
           
                   <a href="{{path('choisir_adresse')}}"> Passer Commande </a>
                 
                </td>           
        </tbody>
    </table>


