{% extends '::base.html.twig' %}

{% block content %}
    <html>
        <head>


            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href={{asset('bundles/commande/css/bootstrap.min.css')}} type="text/css" media="all" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/custom.css')}} type="text/css" media="all" /> 


        </head>

        <body>

            <nav class="navbar">
                <div class="container">
                    <a class="navbar-brand" href="#">Votre panier</a>
                    <div class="navbar-right">
                        <div class="container minicart"></div>
                    </div>
                </div>
            </nav>


    <form method="POST" > 
            <div class="container text-center">

                <div class="col-md-5 col-sm-12">



                    <div class="bigcart"></div>
                    <h1>Your shopping cart</h1>
                    <p>
                        This is a free and <b><a href="http://tutorialzine.com/2014/04/responsive-shopping-cart-layout-twitter-bootstrap-3/" title="Read the article!">responsive shopping cart layout, made by Tutorialzine</a></b>. It looks nice on both desktop and mobile browsers. Try it by resizing your window (or opening it on your smartphone and pc).
                    </p>
                </div>
                                     
                <div class="col-md-7 col-sm-12 text-left">
                    <ul>
                    
                        {% for j in produits %} 
                            {% for i in j %}                               
                                <li class="row">
                                    <span >      <img src="{{ asset(path('my_image_route', {'id': i.id})) }}"  width="80px"  />
                                           </span>

                               <select name="{{i.id}}" id="qte">
                                   {% for m in cm %}
                                       {% if m.produit.id == i.id %}
                                           <option selected disabled value="m.id">{{m.qte}}</option>
                                           {% endif %}
                                              {% endfor %}      
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>         </span>
                                    <span class="itemName">{{i.nom}}</span>
                                    <span class="popbtn"><a class="arrow"></a></span>
                                    <span class="price">{{ i.prix}} DT</span>
                                </li>
                                {% set prixSP = prixSP + i.prix  %}
                                    {% set prixP = prixP + (i.prix - (i.prix *i.promotion)/100) %}

                                        <div id="popover" style="display: none">
                                            <a href="{{ path('produit_detail', { 'id': i.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                                            <a href="{{ path('panier_remove', { 'id': entity.panier.id ,
                                   'produit': i.id }  ) }}"><span class="glyphicon glyphicon-remove"></span></a>
                                        </div>
                                        {% endfor %}
                                            {% endfor %}
                                          
                                                <li class="row totals">
                                                    <span class="itemName">Total:</span>
                                                    <span class="price"> {{prixSP}} DT</span>
                                                    <span class="order"> <a class="text-center" href="{{ path('choisir_adresse') }}">Payer </a></span>
                                                </li>
                                          
                                            </ul>
                                        </div>

                                    </div>
                                            </form>
                                    <!-- The popover content -->


                                    <!-- JavaScript includes -->

                                    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
                                    <script src={{asset('bundles/commande/js/bootstrap.min.js')}}></script>
                                    <script src={{asset('bundles/commande/js/customjs.js')}}></script>

                                </body>
                            </html>
                            {% endblock %}