{% extends '::base.html.twig' %}

{% block content %}
    </br>
    </br>
    

    {% if produits is empty  %}
          </div>
         <div class="register_account">
           <div class="wrap">
  <h4 class="title">votre panier est vide</h4>
  <p class="cart">vous n'avez aucun produit dans votre panier.<br>Cliquer<a href="{{ path('produit') }}"> ici</a> 
      pour continuer le shopping</p>
    	   </div>
    	</div>
       
          
    {% else %}
 <ul class="record_actions ">
    <li>
          <a href="{{ path('produit') }}"class="btn btn-success ">
            Continuer vos achats
        </a>    
    </li>
    </ul>




<div class="panel panel-info">
  <div class="panel-heading">
      
    <h3 class="panel-title">Panier</h3>
  </div>
    <!-- Table -->
    <form method="POST" > 
  <table class="table table-striped panel panel-info">
      <thead>
       <th class="info"></th>
      <th class="info">Nom</th>
      <th class="info">Prix</th>
      <th class="info">Marque</th>
      <th class="info">Quantité</th>
      <th class="info">Détail</th>
      <th class="info">Retirer</th>
      </thead>
        
      
      <tbody> 
           
          {% for j in produits %} 
              {% for i in j %} 
                
                 
          <tr>
              <td>
                  <img src={{asset('images/pic.jpg')}} alt="" width="150px"/>
              </td>
             
              <td>{{ i.id}}</td>
              <td>{{ i.prix}} DT</td>
              <td>{{ i.marque}}</td>
                      <td><select name="{{i.id}}" id="qte">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                  </select></td>
              <td>  <a href={{ path('produit_show', { 'id': i.id }) }}>Détail</a></td>
              <td><a href="{{ path('panier_remove', { 'id': entity.panier.id ,
                                   'produit': i.id }  ) }}">retirer</a></td>
          </tr>
           {% set prixSP = prixSP + i.prix  %}
           {% set prixP = prixP + (i.prix - (i.prix *i.promotion)/100) %}
             
           {% endfor %}
               {% endfor %}
          
      </tbody>
  </table>
          
</div>
               </br> prix sans promotion : {{prixSP}} DT</br>
               </br> prix apres promotion : {{prixP}} DT</br> </br> 
           
           <ul class="record_actions ">
    <li>
        <input type="submit" value="ok">
        <a href="{{ path('choisir_adresse') }}"class="btn btn-success ">
            Passer la commande
        </a>  
             </form>
    </li>
    </ul>
    {% endif %}      
          
{% endblock %}