{%extends "::baseAdmin.html.twig"%}
{% block content %}
 <h1>Categorie creation</h1>
   
    {{ form(form) }}
    
   
        <ul class="record_actions">
    <li>
        <a href="{{ path('categorie') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}