{% extends '::baseAdmin.html.twig' %}
{% block content%} 
 
  <html>
    <head>  
        <link href={{asset('bundles/backOffice/css/icons/icons.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/bootstrap.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/plugins.min.css')}} rel="stylesheet">
       


        <!-- END  MANDATORY STYLE -->
        <script src={{asset('plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js')}}></script>
    </head>
    
    <body>
      <div id="main-content">
            <div class="page-title"> <i class="icon-custom-left"></i>
                <h3><strong>Listes</strong> Des services non validés</h3>
            </div>
       
           
        
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Services </strong>non validés </h3>
                       <a href="{{path('categorie_new')}}"> ajouter un nouveau categorie </a>   
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead class="no-bd">
                                            <tr>
                                                <th style="width:30px;" class="div_checkbox">
                                                    <div class="div_checkbox">
                                                        <input class="toggle_checkbox" type="checkbox">
                                                    </div>
                                                </th>
                                                <th><strong>Nom</strong>
                                                </th>
                                                <th><strong>Description</strong>
                                                </th>
                                                
                                                <th ><strong>Actions</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="no-bd-y">
                                          {% for j in m %} 
                                       
                                            <tr>
                                                <td>
                                                    <div class="div_checkbox">
                                                  
                                                    </div>
                                                </td>
                                                <td>{{j.nom}}</td>
                                                <td>{{j.description}}</td>
                                        
                                                <td >
                    
            <a href="{{path('service_supprimer',{'id':j.id})}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        <a href="{{path('categorie_update',{'id':j.id})}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                   
         {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
         
   
        <script src={{asset('plugins/jquery-1.11.js')}}></script>
        <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
        <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
        <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
        <script src={{asset('plugins/icheck/icheck.js')}}></script>
        <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
        <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
        <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
        <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
        <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
        <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
        <script src={{asset('js/mailbox.js')}}></script>
        <!-- END MANDATORY SCRIPTS -->
        <script src={{asset('js/application.js')}}></script>  
  </body>
 {% endblock %}