{%extends "::baseAdmin.html.twig"%}
{% block content %}

<h1> Recherche Liste des catégories </h1>
<form method="POST" action="">
  rechercher: <input type="text" name="search" />
  <input type="submit" value="chercher" />
    
    
</form>
</br>
<table border="1">
    <tr>     
               <td>id</td>
               <td> Nom  </td>
               <td> Description </td>
                 
       </tr>
    {% for j in mod %}
       

       <tr>
            
            <td>{{j.id}}</td>
            <td>{{j.nom}}</td>
            <td>{{j.description}}</td>
            
        </tr>
    {% endfor %}
</table>
    {% endblock %}