{%extends "::baseAdmin.html.twig"%}
{% block content %}
    
<h1>Listes  des categorie </h1>
<form method="POST"  action="">
    Rechercher categorie! : <select name="search">
{% for cat in categories %}
<option value="{{ cat.id }}">{{ cat.id }}</option>
{% endfor %}
</select>
    <input type="submit" value="chercher"/>
</form>

    
    {% for i in modeles %}
        <div>
            <br>   Produit:<th>{{i.nom}}</th></br>
            <br>    Description:<th>{{i.description}}</th></br>
      <a href="{{path("categorie_show",{'id':i.id})}}">En savoir Plus!</a>
        </div>
         
    {% endfor %}
        {% endblock %}