{% extends '::base.html.twig' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% javascripts
      '@StarRatingBundle/Resources/public/js/rating.js' %}
      <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    {% endjavascripts %}

    <h1>Evaluation d'un produit </h1>
    
     <form method="post">  
      <fieldset>  <legend>Service {{ service.nom }} </legend>


    <table class="record_properties">
        <tbody>
 
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.Description }}</td>
            </tr>
            
   
    <div class="rating">
 {{ form(form) }}


</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('evaluationservice') }}">
            Back to the list
        </a>
    </li>
</ul>
        {% endblock %}