{% extends '::base.html.twig' %}

{% block content %}
            <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
    {% if existe==false%}            
        <div class="alert-box error">
            <strong>ERROR!</strong> 
        </div>                   
    {% endif %}
<div class="actions-wrapper">
          {% if existe==true %}            
                            <div class="alert-box error">
                                <strong>ERROR!</strong> 
                            </div>                   
                        {% endif %}
			


<h5 class="widget-name"><i class="icon-th"></i>Ajouter un nouveau produit </h5>

<div class="media row-fluid">
    
    <form id="validate" class="form-horizontal" method="post" action="{{path('lignecommande_create',{'produit':produit.id})}}">
        <fieldset>
        <!-- Form validation -->
             <div class="widget">
	       
	         <div class="well row-fluid">
           
          <div class="control-group">
            <label class="control-label">Quantite<span class="text-error">*</span></label>
            <div class="controls">             
                       {{form(form)}}
                
            </div>
        </div>
                          
        <div class="form-actions align-right">
        
            <button type="submit" class="btn btn-info">Valider</button>

            <button type="reset" class="btn">Reset</button>
            <ul class="record_actions" style="display: inline-block">
            <li>
                <a href="{{ path('panier') }}">
                    Retour à l'accueil
                </a>
            </li>
        </ul>
        </div>
        
    </div>
  </div>
	              
        </fieldset>
</form>

</div>
                
{% endblock %}
