{% extends '::base.html.twig' %}

{% block content %}
    <html>
        <head>
            <title>All For Deal | Accueil </title>

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href={{asset('font-awesome-4.5.0/css/font-awesome.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('font-awesome-4.5.0/css/font-awesome.min.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/bootstrap-theme.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/bootstrap.css')}} rel="stylesheet" type="text/css" media="all" />  
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/style.css') }}" />
            <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
            <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
            <!-- start menu -->
            <link href={{asset('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
            <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
            <script  src={{asset('js/Megamenufunction.js')}} ></script>
            <!--start slider -->
            <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
            <script src={{asset('js/jquery-ui.min.js')}} ></script>
            <script src={{asset('js/css3-mediaqueries.js')}}></script>
            <script src={{asset('js/fwslider.js')}}></script>
            <script src={{asset('js/jquery.easydropdown.js')}}></script>
            <script src={{asset('bundles/commande/js/bootstrap.min.js')}}></script>
            <script src={{asset('bundles/commande/js/customjs.js')}}></script>
            <link rel="stylesheet" href={{asset('bundles/commande/css/bootstrap.min.css')}} type="text/css" media="all" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/custom.css')}} type="text/css" media="all" /> 
            <!--end slider -->
            <link rel="stylesheet" href="{{asset('css/style.css')}}">

            <script src={{asset('js/jquery.load.js')}}></script>
            <script src={{asset('js/jquery.ready.js')}}></script>
            <script src={{asset('js/jquery.slides.js')}}></script>
            <!-- start details -->
            <script src={{asset('js/slides.min.jquery.js')}}></script>

            <link rel="stylesheet" href={{asset('css/etalage.css')}}>
            <script src={{asset('js/jquery.etalage.min.js')}}></script>

        </head>
    <body>
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->

        <!-- END MAIN SIDEBAR -->
        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" class="blog-result">
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body" >
                            <h1>A Simple Blog Template for Bootstrap 3</h1>
                            <p class="lead">by <a>{{entity.user.username}}</a></p>
                            <hr>
                            <p><i class="fa fa-calendar"></i> Posted on December 24, 2013 at 9:00 PM</p>
                            <hr>
                            <img src="{{path('image')}}" width="200px" height="100px" class="img-responsive">
                            <hr>
                            {{entity.sujet}}
                         <p><strong>Placeholder text by:</strong></p>
                            <ul>
                                <li><a href="#">Space Ipsum</a>
                                </li>
                                <li><a href="#">Cupcake Ipsum</a>
                                </li>
                                <li><a href="#">Tuna Ipsum</a>
                                </li>
                            </ul>
                            <hr>
                            <!-- the comment box -->
                            <div class="well">
                                <h4>Leave a Comment:</h4>
                                <form role="form">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </form>
                            </div>
                            <hr>
                            <!-- the comments -->
                            <h3>Steve Bones<small>9:41 PM on January 24, 2014</small></h3>
                            <p>This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.</p>
                            <h3>John Marvin <small>9:47 PM on January 24, 2014</small></h3>
                            <p>Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 blog-sidebar">
                    <div class="panel panel-default">
                    <div class="panel-body" >
                        <h4>Blog Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                       <div class="panel-body" >
                            <h4>Blog Categories</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled categories-list">
                                        <li><i class="fa fa-angle-right"></i> <a href="#dinosaurs">Dinosaurs</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#spaceships">Spaceships</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#fried-foods">Fried Foods</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#wild-animals">Wild Animals</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#fried-foods">Fried Foods</a>
                                        </li>
                                        <li><i class="fa fa-angle-right"></i> <a href="#wild-animals">Wild Animals</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div> 
    
    
        <script src={{asset('plugins/jquery-1.11.js')}}></script>
        <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
        <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
        <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
        <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
        <script src={{asset('plugins/icheck/icheck.js')}}></script>
        <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
        <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
        <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
        <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
        <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
        <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
        <script src={{asset('js/mailbox.js')}}></script>
        <!-- END MANDATORY SCRIPTS -->
        <script src={{asset('js/application.js')}}></script>
    </body>

</html>
{% endblock %}
