{% extends '::base.html.twig' %}

{% block content %}
    <html>
        <head>
            <title>All For Deal | Accueil </title>

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href={{asset('font-awesome-4.5.0/css/font-awesome.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('font-awesome-4.5.0/css/font-awesome.min.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/bootstrap-theme.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/bootstrap.css')}} rel="stylesheet" type="text/css" media="all" />  
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/style.css') }}" />
            <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
            <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
            <!-- start menu -->
            <link href={{asset('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
            <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
            <script  src={{asset('js/Megamenufunction.js')}} ></script>
            <!--start slider -->
            <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
            <script src={{asset('js/jquery-ui.min.js')}} ></script>
            <script src={{asset('js/css3-mediaqueries.js')}}></script>
            <script src={{asset('js/fwslider.js')}}></script>
            <script src={{asset('js/jquery.easydropdown.js')}}></script>
            <script src={{asset('bundles/commande/js/bootstrap.min.js')}}></script>
            <script src={{asset('bundles/commande/js/customjs.js')}}></script>
            <link rel="stylesheet" href={{asset('bundles/commande/css/bootstrap.min.css')}} type="text/css" media="all" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/custom.css')}} type="text/css" media="all" /> 
            <!--end slider -->
            <link rel="stylesheet" href="{{asset('css/style.css')}}">

            <script src={{asset('js/jquery.load.js')}}></script>
            <script src={{asset('js/jquery.ready.js')}}></script>
            <script src={{asset('js/jquery.slides.js')}}></script>
            <!-- start details -->
            <script src={{asset('js/slides.min.jquery.js')}}></script>

            <link rel="stylesheet" href={{asset('css/etalage.css')}}>
            <script src={{asset('js/jquery.etalage.min.js')}}></script>

        </head>
        <body>

            <div class="mens">    
                <div class="main">
                    <div class="wrap">
                        <div class="cont span_2_of_3">



                            <div class="clear"></div>	

                            <div class="toogle">

                                <h1>{{sujet.titre}}</h1>
                                <p class="lead">by <a>{{sujet.user.username}}</a></p>
                                <hr>
                                <p><i class="fa fa-calendar"></i> Publié le {{sujet.dateAjout|date('j M \\à g:ia \\e\\n Y ')}}</p>
                                <hr>
                                <center>     <img src="{{path('sujet_image',{'id':sujet.id})}}" width="200px" height="100px" class="img-responsive">
                                </center>   <hr>
                                {{sujet.sujet|raw}}

                                <hr>
                                <h3 class="m_3">Commentaires</h3> 
                                <div class="well">
                                    <h4>Ajouter un commentaire:</h4>
                                    <form name="commentaire" action="{{path('detail_sujet',{'sujet':sujet.id})}}" method="post">
                                        <div class="form-group">
                                            {{ form_widget(form.commentaire)}}
                                        </div>
                                        <button type="submit" action="{{path('detail_sujet',{'sujet':sujet.id})}}" class="btn btn-info"><i class="fa fa-comment"></i> Commenter</button>
                                    </form>
                                </div>
                                <hr>
                                <div>

                                    {% for entity in entities %}

                                        <h4>  <span >  <img src={{asset(path('image'))}} alt="" width="50px" height="50px"/> </span> 
                                            {{ entity.user.username }}: <small>{{entity.DateCom|date('Y-m-d H:i:s')}}</small>
                                            {% if entity.user.id == utilisateur.id %}
                                                <span class="popbtn"><a class="arrow"></a></span></h4>
                                                {% endif %}
                                        <p>{{ entity.commentaire }} </p> 


                                        {% if entity.user.id == utilisateur.id %}
                                            <div id="popover" style="display: none">
                                                <a href="{{path('commentairesujet_edit',{'id':entity.id})}}"><span class="glyphicon glyphicon-pencil"></span></a>
                                                <a href="{{path('commentairesujet_delete',{'id':entity.id})}}"><span class="glyphicon glyphicon-remove"></span></a>			

                                            </div>



                                        {% endif %}  
                                        <hr>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rsingle span_1_of_single">

                        <h5 class="m_1">Blog Search</h5>
                        <div class="input-group">

                            <input type="text" name="search" >

                            <button class="btn btn-info" type="button">
                                <i class="fa fa-search"></i>
                            </button>

                        </div>
                        <hr>
                        <h5 class="m_1">Autres sujet</h5>
                        <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
                            <option value="1">Mens</option>
                            <option value="2">Sub Category1</option>
                            <option value="3">Sub Category2</option>
                            <option value="4">Sub Category3</option>
                        </select>
                        <select class="dropdown" tabindex="8" data-settings='{"wrapperClass":"metro"}'>
                            <option value="1">Womens</option>
                            <option value="2">Sub Category1</option>
                            <option value="3">Sub Category2</option>
                            <option value="4">Sub Category3</option>
                        </select>
                        <ul class="kids">
                            <li><a href="#">Kids</a></li>
                            <li class="last"><a href="#">Glasses Shop</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>


    </div>
</form>
{% endblock %}