{% extends '::base.html.twig' %}
{% block content %}
    <script src={{asset('bundles/ckeditor/ckeditor.js')}} type="text/javascript"></script>
</head>
<div id="main-content" class="send-message">
    <div class="page-title"> <i class="icon-custom-left"></i>
        <h3><strong>Nouveau</strong> Sujet</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-bottom">
                                <div class="pull-left">
                                    <a href="#" class=" btn btn-default"><i class="fa fa-arrow-left fa-fw"></i> back</a> 
                                </div>

                                <div class="clearfix m-b-20"></div>
                            </div>

                            <form class="form-horizontal p-t-20" method="POST" action='{{path('sujet_create')}}'  {{ form_enctype(form) }}>

                                <div class="form-group">
                                    <label for="to" class="col-sm-2 control-label">Sujet:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            {{ form_widget(form.titre)}}
                                            <span class="input-group-addon bg-white cursor-pointer" data-toggle="collapse" data-target="#cc">     
                                                Subject <span class="caret"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="to" class="col-sm-2 control-label">Image:</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            {{ form_widget(form.file)}}                     
                                        </div>
                                    </div>
                                </div>


                                <div class="clearfix"></div>


                                <div>
                                    {{ form_widget(form.sujet)}}
                                </div>
                                <div class="text-center footer-message">

                                    <a class="btn btn-default"><i class="fa fa-times-circle"></i> Cancel</a>

                                    {{ form_widget(form._token) }}
                                    <input type="submit" class="btn btn-primary fa fa-times-circle" value="Enregistrer" action="{{path('sujet_create')}}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
