{% extends '::base.html.twig' %}
{% block content %}
    <html class="no-js sidebar-large"> <!--<![endif]-->

        <!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
        <head>
            <!-- BEGIN META SECTION -->
            <meta charset="utf-8">
            <title>Pixit - Responsive Boostrap3 Admin</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta content="" name="description" />
            <meta content="themes-lab" name="author" />
                   <link href="cssBlog.css" rel="stylesheet" type="text/css" media="all" />
      
            <!-- END META SECTION -->
            <!-- BEGIN MANDATORY STYLE -->
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href={{asset('css/bootstrap-theme.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/bootstrap.css')}} rel="stylesheet" type="text/css" media="all" />  
            <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
            <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
            <!-- start menu -->
            <link href={{asset('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
            <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
            <script  src={{asset('js/Megamenufunction.js')}} ></script>
            <!--start slider -->
            <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
            <script src={{asset('js/jquery-ui.min.js')}} ></script>
            <script src={{asset('js/css3-mediaqueries.js')}}></script>
            <script src={{asset('js/fwslider.js')}}></script>
            <!--end slider -->
            <script src={{asset('js/jquery.easydropdown.js')}}></script>
            <link href={{asset('bundles/backOffice/css/icons/icons.min.css')}} rel="stylesheet">
            <link href={{asset('bundles/backOffice/css/bootstrap.min.css')}} rel="stylesheet">
            <link href={{asset('bundles/backOffice/css/plugins.min.css')}} rel="stylesheet">
            <script src={{asset('bundles/ckeditor/ckeditor.js')}} type="text/javascript"></script>

        </head>
        <body>

            <div id="main-content">
                <div class="row">
                    <div class="col-lg-8 blog-results">
                        <!-- blog entry -->
                        <div class="panel panel-default">
                            {% for entity in pagination %}
                                {% set nb=0%}  
                                    <tr {% if loop.index is odd %}class="color"{% endif %}> 
                                        {% for com in com %}
                                            {% if com.sujet.id==entity.id %}
                                                {% set nb=nb+1%}  
                                                    {% endif %}
                                                        {% endfor %} 
                                                        <div class="panel-body" >
                                                            <h1><a href="{{path('detail_sujet',{'sujet':entity.id})}}" class="c-dark">{{entity.titre}}</a></h1>
                                                            <p class="lead">by <a href="#">{{entity.user.username}}</a>
                                                            </p>
                                                            <hr>
                                                            <p>
                                                                <i class="fa fa-calendar"></i>  Publié le {{entity.dateAjout|date('j M \\à g:ia \\e\\n Y ')}} </p>
                                                            <i class="fa fa-comments"></i>  {{ nb }}
                                                            <hr>
                                                            <center><a {{path('detail_sujet',{'sujet':entity.id})}}>  <img src="{{path('sujet_image',{'id':entity.id})}}" width="200px" class="img-responsive">
                                                                </a> </center>  <hr>
                                                                <p> {{entity.sujet|slice(0,20)|raw}} </p>
                                                            <a class="btn btn-info" href="{{path('detail_sujet',{'sujet':entity.id})}}">Read More <i class="fa fa-angle-right"></i> </a>
                                                           
                                                        </div>
                                                        {% endfor %}
                                                        </div>
                                                        <!-- pager -->
                                                        <ul class="pager">
                                                            <li class="previous"><a href="#">← Older</a>
                                                            </li>
                                                            <li class="next"><a href="#">Newer →</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                        <!-- Recherche -->
                                                    <div class="rsingle span_1_of_single">

                                                        <h5 class="m_1">Rechercher un sujet</h5>
                                                        <div class="input-group">

                                                            <input type="text" name="search" >

                                                            <button class="btn btn-info" type="button">
                                                                <i class="fa fa-search"></i>
                                                            </button>

                                                        </div> <hr>
                                                        <h5 class="m_1">Ajouter un sujet</h5>
                                                        <div class="panel panel-default">

                                                            <div class="panel-body" >

                                                                Si vous desirez ajouter un sujet clique au-dessous<br>
                                                                <center>  <a href="{{path('sujet_create')}}" >  <button type="submit" action="{{path('sujet_create')}}" class="btn btn-info"><i class="fa fa-plus-square"></i>  Sujet</button></a>
                                                                </center>   

                                                            </div>
                                                        </div>
                                                    </div>


                                                    <!-- End -->

                                                </div>
                                            </div>
                                        </div>
                                        <!-- END MAIN CONTENT -->
                                    </div>
                                    <!-- END WRAPPER -->
                                </div>
                                <!-- END WRAPPER -->


                                <script src={{asset('plugins/jquery-1.11.js')}}></script>
                                <script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
                                <script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
                                <script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
                                <script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
                                <script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
                                <script src={{asset('plugins/icheck/icheck.js')}}></script>
                                <script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
                                <script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
                                <script src={{asset('plugins/nprogress/nprogress.js')}}></script>
                                <script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
                                <script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
                                <script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
                                <script src={{asset('js/mailbox.js')}}></script>
                                <!-- END MANDATORY SCRIPTS -->
                                <script src={{asset('js/application.js')}}></script>
                            </body>
                            <div class="navigation" align="center">
                                {{ knp_pagination_render(pagination) }} </div>
                            <div class="clear"></div>
                            {% endblock %}
