{% extends '::base.html.twig' %}
{% block slider %}   
    <script src={{asset('js/login.js')}} ></script>
    <div id="fwslider">
        <div class="slider_container">
            {% for i in publicites %}
                <div class="slide"> 
                    <!-- Slide image -->
                    <img src="{{path('publicite_image',{'id':i.id})}}" width="200px" height="400px"alt="special offers"/>                           
                    <!-- /Slide image -->
                    <!-- Texts container -->
                    <div class="slide_content">
                        <div class="slide_content_wrap">
                            <!-- Text title -->
                            <h4 class="title">{{i.type}}</h4>
                            <!-- /Text title -->

                            <!-- Text description -->
                            <p class="description">{{i.sujet}}</p>
                            <!-- /Text description -->
                        </div>
                    </div>
                    <!-- /Texts container -->
                </div>
            {% endfor %}

            <!-- /Duplicate to create more slides -->

            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
    </div>


{% endblock %}
{% block content %}
    <link href={{asset('font-awesome-4.5.0/css/font-awesome.css')}} rel="stylesheet" type="text/css" media="all" />
    <link href={{asset('font-awesome-4.5.0/css/font-awesome.min.css')}} rel="stylesheet" type="text/css" media="all" />
    <link href={{asset('css/bootstrap-theme.css')}} rel="stylesheet" type="text/css" media="all" />
    <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
    <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
    <link href={{asset('css/bootstrap.css')}} rel="stylesheet" type="text/css" media="all" />  
    <!-- Bootstrap style --> 
    <link href="{{asset('bundles/Accueil/themes/css/base.css')}}" rel="stylesheet" media="screen"/>
    <!-- Bootstrap style responsive -->	
    <link href="{{asset('bundles/Accueil/themes/css/bootstrap-responsive.min.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/Accueil/themes/css/font-awesome.css')}}" rel="stylesheet" type="text/css">
    <!-- Google-code-prettify -->	
    <link href="{{asset('bundles/Accueil/themes/js/google-code-prettify/prettify.css')}}" rel="stylesheet"/>
    <script src="{{asset('bundles/Accueil/themes/js/bootstrap.min.js')}}" type="text/javascript"></script>

    <!-- Bootstrap style responsive -->	
    <style type="text/css" id="enject"></style>
    <script src={{asset('js/jquery.load.js')}}></script>
    <script src={{asset('js/jquery.ready.js')}}></script>
    <script src={{asset('js/jquery.slides.js')}}></script>
    <!-- start details -->
    <script src={{asset('js/slides.min.jquery.js')}}></script>

    <link rel="stylesheet" href={{asset('css/etalage.css')}}>
    <script src={{asset('js/jquery.etalage.min.js')}}></script>     
    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->

                <!-- Sidebar end=============================================== -->
                <div class="span9">		
                    <div class="well well-small">
                        <h4>Nouveau Produit <small class="pull-right">200+ nouveaux produits</small></h4>
                        <div class="row-fluid">
                            <div id="featured" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <ul class="thumbnails">
                                            {% for i in entities|slice(0, 4) %}
                                                <li class="span3">
                                                    <div class="thumbnail">
                                                        <i class="tag"></i>
                                                        <div class="product_image">
                                                            <img class="etalage_thumb_image" src="{{path('my_image_route',{'id':i.id})}}" alt="" width="150px" height="150px">
                                                       
                                                        </div>  <div class="caption">
                                                            <h5>{{i.nom}}</h5>
                                                            <h4><a class="btn" href="{{ path('produit_detail', { 'id': i.id }) }}">VIEW</a> <span class="pull-right">{{i.prix}} DT</span></h4>
                                                       
                                                        </div>
                                                        	
                                                    </div>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                       <div class="item">
                                        <ul class="thumbnails">
                                            {% for i in entities|slice(5, 9) %}
                                                <li class="span3">
                                                    <div class="thumbnail">
                                                        <i class="tag"></i>
                                                        <div class="product_image">
                                                            <img class="etalage_thumb_image" src="{{path('my_image_route',{'id':i.id})}}" alt="" width="150px" height="150px">
                                                        </div>  <div class="caption">
                                                            <h5>{{i.nom}}</h5>
                                                            <h4><a class="btn" href="{{ path('produit_detail', { 'id': i.id }) }}">VIEW</a> <span class="pull-right">{{i.prix}} DT</span></h4>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
                            </div>
                        </div>
                    </div>
                    <h4>Nos produits </h4>
                    <ul class="thumbnails">
                        {% for i in pagination %}
                            <li class="span3">
                                <div class="thumbnail">
                                    <div class="product_image">
                                        <img class="etalage_thumb_image" src="{{path('my_image_route',{'id':i.id})}}" alt="" width="150px" height="150px">
                                    </div>
                                    <div class="caption">
                                        <h5>{{i.nom}}</h5>
                                        <p> 
                                            {{i.description|slice(0, 20)}}
                                        </p>

                                        <h4 style="text-align:center"><a class="btn" href="{{ path('produit_detail', { 'id': i.id }) }}"> <i class="icon-zoom-in"></i></a> <a class="btn" href="{{path('lignecommande_create',{'produit':i.id})}}">Add to <i class="icon-shopping-cart"></i></a><a href="{{path('favoris_create',{'id':favoris.id,'produit':entity.id})}}"><i class="fa fa-star" aria-hidden="true"></i></a > <a class="btn btn-primary" href="#">{{i.prix}} DT</a></h4>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}

                    </ul>	
                    <br>
                    <div class="navigation" align="center">
                        {{ knp_pagination_render(pagination) }} </div>

                </div>


                <div class="rsingle span_1_of_single">


                    <h5 class="m_1">Rechercher un produit</h5>
                    <div class="input-group">

                        <input type="text" name="search" >

                        <button class="btn btn-info" type="button">
                            <i class="fa fa-search"></i>
                        </button>

                    </div>
                    <hr>
                    <h5 class="m_1">Categories</h5>
                    {% for i in categories %}
                        <ul class="kids">
                            <li><a href="#">{{i.nom}}</a></li>

                        </ul>
                    {% endfor %}
                </div>

            </div>



        </div>

    {% endblock %}
