{% extends '::base.html.twig' %}

{% block content %}
    <html>
        <head>
            <title>All For Deal | Accueil </title>

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href={{asset('font-awesome-4.5.0/css/font-awesome.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('font-awesome-4.5.0/css/font-awesome.min.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/bootstrap-theme.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/style.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/form.css')}} rel="stylesheet" type="text/css" media="all" />
            <link href={{asset('css/bootstrap.css')}} rel="stylesheet" type="text/css" media="all" />  
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/style.css') }}" />
            <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
            <script type="text/javascript" src={{asset('js/jquery1.min.js')}}></script>
            <!-- start menu -->
            <link href={{asset('css/megamenu.css')}} rel="stylesheet" type="text/css" media="all" />
            <script type="text/javascript" src={{asset('js/megamenu.js')}}></script>
            <script  src={{asset('js/Megamenufunction.js')}} ></script>
            <!--start slider -->
            <link rel="stylesheet" href={{asset('css/fwslider.css')}} media="all">
            <script src={{asset('js/jquery-ui.min.js')}} ></script>
            <script src={{asset('js/css3-mediaqueries.js')}}></script>
            <script src={{asset('js/fwslider.js')}}></script>
            <script src={{asset('js/jquery.easydropdown.js')}}></script>
            <script src={{asset('bundles/commande/js/bootstrap.min.js')}}></script>
            <script src={{asset('bundles/commande/js/customjs.js')}}></script>
            <link rel="stylesheet" href={{asset('bundles/commande/css/bootstrap.min.css')}} type="text/css" media="all" /> 
            <link rel="stylesheet" href={{asset('bundles/commande/css/custom.css')}} type="text/css" media="all" /> 
            <!--end slider -->
            <link rel="stylesheet" href="{{asset('css/style.css')}}">

            <script src={{asset('js/jquery.load.js')}}></script>
            <script src={{asset('js/jquery.ready.js')}}></script>
            <script src={{asset('js/jquery.slides.js')}}></script>
            <!-- start details -->
            <script src={{asset('js/slides.min.jquery.js')}}></script>

            <link rel="stylesheet" href={{asset('css/etalage.css')}}>
            <script src={{asset('js/jquery.etalage.min.js')}}></script>

        </head>
        <body>

            <div class="mens">    
                <div class="main">
                    <div class="wrap">
                        <div class="cont span_2_of_3">

                            <div class="grid images_3_of_2">                           
                                <ul id="etalage">  
                                    {% for i in images %}
                                        <li>                                       
                                            <a href="optionallink.html">                                         
                                                <img class="etalage_thumb_image"  src="{{ asset(path('my_image_route', {'id': i.id})) }}" class="img-responsive"  />                                    
                                                <img class="etalage_source_image"  src="{{ asset(path('my_image_route', {'id': i.id})) }}" class="img-responsive"  />
                                            </a>                                    
                                        </li>

                                    {% endfor %} 

                                </ul>

                                <div class="clearfix"></div>
                            </div>

                            <div class="desc1 span_3_of_2">
                                <h3 class="m_3">{{ entity.nom }}</h3>
                                <p class="m_5">Prix. {{ entity.prix }} DT<span class="reducedfrom">{{ entity.prix }} DT</span> </p>

                                <div class="availablelhg">
                                    <table class="record_properties">
                                        <tbody>


                                            <tr>
                                                <th>Marque</th>
                                                <td>{{ entity.marque }}</td>
                                            </tr>
                                            <tr>
                                                <th>Quantite en stock:</th>
                                                <td>{{ entity.qantite }}</td>
                                            </tr>
                                            <tr>
                                                <th>Promotion</th>
                                                <td>{{ entity.promotion }}%</td>
                                            </tr>                                
                                            <tr>
                                                <th>---------------------------</th>

                                            </tr>      
                                            <tr><th>Description </th>
                                                <td>  <p class="m_text2"> {{entity.description }}</p> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                </div>


                                <div>{{socialButtons()}}</div> 
                                <div class="btn_form">
                                    <br>  <hr>

                                    <center> 
                                        <a href="{{path('favoris_create',{'id':utilisateur.favoris.id,'produit':entity.id})}}"> <button type="submit" class="btn btn-info"><i class="fa fa-heart"></i> Like</button></a>
                                        <a href="{{path('panier_create',{'id':utilisateur.panier.id,'produit':entity.id})}}"> <button type="submit" class="btn btn-info"><i class="fa fa-shopping-cart"></i> Panier</button></a>
                                    </center>
                                    <hr>
                                    <form name="rating" action="{{path('produit_detail',{'id':entity.id})}}" method="post"> 
                                        <font color="#110D58" size="4px"> <center>  <p> <b>Notez ce produit</b></p> </center></font>
                                        <div class="stars">
                                            <input type="radio" name="adresse" class="star-1" id="star-1" value="1" onclick="this.form.submit()"/>
                                            <label class="star-1" for="star-1">1</label>
                                            <input type="radio" name="adresse" class="star-2" id="star-2" value="2" onclick="this.form.submit()"/>
                                            <label class="star-2" for="star-2">2</label>
                                            <input type="radio" name="adresse" class="star-3" id="star-3" value="3" onclick="this.form.submit()"/>
                                            <label class="star-3" for="star-3">3</label>
                                            <input type="radio" name="adresse" class="star-4" id="star-4" value="4" onclick="this.form.submit()"/>
                                            <label class="star-4" for="star-4">4</label>
                                            <input type="radio" name="adresse" class="star-5" id="star-5" value="5" onclick="this.form.submit()"/>
                                            <label class="star-5" for="star-5">5</label>               
                                            <span></span>              
                                        </div>   

                                        {% if vote==true %}
                                            <center>     <p>    vous avez donnez un note {{evaluation.rating}}/5 <p><br>
                                                <p> si vous desirez changer votre avis vous pouvez voter de nouveau </p>
                                            </center>
                                        {% endif %}

                                    </form>



                                    <hr>
                                </div> 
                            </div>

                            <div class="clear"></div>	
                            <div class="clients">

                                </script>
                                <script type="text/javascript" src="{{asset('js/jquery.flexisel.js')}}"></script>
                            </div>
                            <div class="toogle">
                                <h3 class="m_3">Commentaires</h3> 
                                <div class="well">
                                    <h4>Leave a Comment:</h4>
                                    <form name="commentaire" action="{{path('produit_detail',{'id':entity.id})}}" method="post">
                                        <div class="form-group">
                                            {{ form_widget(form.Corps)}}
                                        </div>
                                        <button type="submit" action="{{path('produit_detail',{'id':entity.id})}}" class="btn btn-info"><i class="fa fa-comment"></i> Commenter</button>
                                    </form>
                                </div>
                                <hr>
                                <div>

                                    {% for entity in entities %}

                                        <h4>  <span >  <img src={{asset(path('image'))}} alt="" width="50px" height="50px"/> </span> 
                                            {{ entity.user.username }}: <small>{{entity.DateCom|date('Y-m-d H:i:s')}}</small>
                                            {% if entity.user.id == utilisateur.id %}
                                                <span class="popbtn"><a class="arrow"></a></span></h4>
                                                {% endif %}
                                        <p>{{ entity.corps }} </p> 


                                        {% if entity.user.id == utilisateur.id %}
                                            <div id="popover" style="display: none">
                                                <a href="{{path('commentaire_edit',{'id':entity.id})}}"><span class="glyphicon glyphicon-pencil"></span></a>
                                                <a href="{{path('commentaire_delete',{'id':entity.id})}}"><span class="glyphicon glyphicon-remove"></span></a>			

                                            </div>



                                        {% endif %}  
                                        <hr>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>

                        <div class="clear"></div>
                    </div>
                </div>


            </div>
        </form>
    {% endblock %}