{% extends '::base.html.twig' %}

{% block content %}
    <head>
        <link href={{asset('bundles/backOffice/css/icons/icons.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/bootstrap.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/plugins.min.css')}} rel="stylesheet">
        <link href={{asset('bundles/backOffice/css/style.min.css')}} rel="stylesheet">
        <link rel="stylesheet" href="{{asset('plugins/jnotify/jNotify.jquery.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/style.css') }}" />
        <link rel="stylesheet" href="{{asset('css/etalage.css')}}">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <script src={{asset('plugins/jnotify/jNotify.jquery.min.js')}}></script>
        <script src={{asset('js/notifications.js')}}></script>
        <script src="{{asset('bundles/backOffice/js/jquery.etalage.min.js')}}"></script>
        <!-- start details -->
        <script src="{{asset('js/slides.min.jquery.js')}}"></script>
        <script language="javascript">
            function maF(monMot) {
                alert(monMot);
            }
        </script>
        <script>
            $(function() {
                $('#products').slides({
                    preload: true,
                    preloadImage: 'img/loading.gif',
                    effect: 'slide, fade',
                    crossfade: true,
                    slideSpeed: 350,
                    fadeSpeed: 500,
                    generateNextPrev: true,
                    generatePagination: false
                });
            });
        </script>

        <script>
            jQuery(document).ready(function($) {

                $('#etalage').etalage({
                    thumb_image_width: 360,
                    thumb_image_height: 360,
                    source_image_width: 900,
                    source_image_height: 900,
                    show_hint: true,
                    click_callback: function(image_anchor, instance_id) {
                        alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                    }
                });

            });
        </script>	
    </head>

    <div class="main">


        <div class="wrap">

            <div class="cont span_2_of_3">
                <div class="grid images_3_of_2">
                    <ul id="etalage">  
                        {% for i in images %}
                            <li>                                       
                                <a href="optionallink.html">                                         
                                    <img class="etalage_thumb_image"  src="{{ asset(path('my_image_route', {'id': i.id})) }}" class="img-responsive"  />                                    
                                    <img class="etalage_source_image"  src="{{ asset(path('my_image_route', {'id': i.id})) }}" class="img-responsive"  />
                                </a>                                    
                            </li>

                        {% endfor %} 
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <section >
                    {% if is_granted("ROLE_USER") %} 
                        <form name="rating" action="{{path('commentaire_produit',{'id':entity.id})}}" method="post"> 

                            <div class="stars">
                                <input type="radio" name="adresse" class="star-1" id="star-1" value="1" onclick="this.form.submit()"/>
                                <label class="star-1" for="star-1">1</label>
                                <input type="radio" name="adresse" class="star-2" id="star-2" value="2" onclick="this.form.submit()"/>
                                <label class="star-2" for="star-2">2</label>
                                <input type="radio" name="adresse" class="star-3" id="star-3" value="3" onclick="this.form.submit()"/>
                                <label class="star-3" for="star-3">3</label>
                                <input type="radio" name="adresse" class="star-4" id="star-4" value="4" onclick="this.form.submit()"/>
                                <label class="star-4" for="star-4">4</label>
                                <input type="radio" name="adresse" class="star-5" id="star-5" value="5" onclick="this.form.submit()"/>
                                <label class="star-5" for="star-5">5</label>               
                                <span></span>              
                            </div>   

                        </form>
                    {% endif %}
                </section>
                <section>
                    <div class="desc1 span_3_of_2">
                        <h3 class="m_3">{{ entity.nom }}</h3>
                        <p class="m_5">Prix. {{ entity.prix }} DT<span class="reducedfrom">{{ entity.prix }} DT</span> </p>

                        <div class="availablelhg">
                            <table class="record_properties">
                                <tbody>


                                    <tr>
                                        <th>Marque</th>
                                        <td>{{ entity.marque }}</td>
                                    </tr>
                                    <tr>
                                        <th>Quantite en stock:</th>
                                        <td>{{ entity.qantite }}</td>
                                    </tr>
                                    <tr>
                                        <th>Promotion</th>
                                        <td>{{ entity.promotion }}%</td>
                                    </tr>                                
                                    <tr>
                                        <th>---------------------------</th>
                                        <td></td>
                                    </tr>                     
                                </tbody>
                            </table>

                        </div>

                        <p class="m_text2">{{ entity.description }}</p> 
                        <p>{{ socialButtons() }}</p>
                        <div class="btn_form">
                            <a href="{{path('favoris_create',{'id':utilisateur.favoris.id,'produit':entity.id})}}">Favoris</a>
                            <a href="{{path('panier_create',{'id':utilisateur.panier.id,'produit':entity.id})}}">Ajouter au panier</a>			


                        </div>
                    </div>
                </section>
                <div class="clear"></div>	



                <div class="clients">

                    </script>
                    <script type="text/javascript" src="{{asset('js/jquery.flexisel.js')}}"></script>
                </div>
                <section>
                    <div class="toogle">
                        <h3 class="m_3">Commentaires</h3> 
                        <table> 
                            {% for entity in entities %}


                                <tr>

                                    <td>{{ entity.user.username }} : </td></tr>

                                <tr> <td>{{ entity.corps }}</td> </tr>
                                {% if entity.user.id == utilisateur.id %}
                                    <tr>   <td><a href="{{path('commentaire_edit',{'id':entity.id})}}">Modifier </a></td>
                                        <td><a href="{{path('commentaire_delete',{'id':entity.id})}}"> Supprimer</a></td>			

                                    </tr>

                                {% endif %}  
                            {% endfor %}
                        </table>

                        <p class="m_text">
                            <label class="control-label">Corps<span class="text-error">*</span></label>
                        <div class="controls">           
                            <form  name="commentaire" action="{{path('commentaire_produit',{'id':entity.id})}}" method="post">  

                                {{ form_widget(form.Corps)}}
                                <button types="submit" action="{{path('commentaire_produit',{'id':entity.id})}}" class="btn btn-info" >Commenter</button>

                            </form>
                        </div>
                        </p>
                        <div class="form-actions align-right">
                            {{ form_widget(form._token) }}
                            <button types="submit" action="{{path('commentaire_produit',{'id':entity.id})}}" class="btn btn-info" >Commenter</button>

                            <ul class="record_actions" style="display: inline-block">

                            </ul>
                        </div>
                    </div>
                </section>
            </div>

            <div class="clear"></div>
        </div>
    </div>


</div>
<script src={{asset('plugins/jquery-1.11.js')}}></script>
<script src={{asset('plugins/jquery-migrate-1.2.1.js')}}></script>
<script src={{asset('plugins/jquery-ui/jquery-ui-1.10.4.min.js')}}></script>
<script src={{asset('plugins/bootstrap/bootstrap.min.js')}}></script>
<script src={{asset('plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js')}}></script>
<script src={{asset('plugins/bootstrap-select/bootstrap-select.js')}}></script>
<script src={{asset('plugins/icheck/icheck.js')}}></script>
<script src={{asset('plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js')}}></script>
<script src={{asset('plugins/mmenu/js/jquery.mmenu.min.all.js')}}></script>
<script src={{asset('plugins/nprogress/nprogress.js')}}></script>
<script src={{asset('plugins/charts-sparkline/sparkline.min.js')}}></script>
<script src={{asset('plugins/breakpoints/breakpoints.js')}}></script>
<script src={{asset('plugins/numerator/jquery-numerator.js')}}></script>
<script src={{asset('js/mailbox.js')}}></script>
<!-- END MANDATORY SCRIPTS -->
<script src={{asset('js/application.js')}}></script>
{% endblock %}