{% extends '::baseAdmin.html.twig' %}
{% block content%} 
             
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
type="text/javascript"></script>

<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>


    <div class="col-md-6 general-grids grids-right widget-shadow">
        <h4 class="title2"></h4>
        <ul id="myTabs" class="nav nav-tabs" role="tablist">
            
            <li role="presentation" class="">
            <li role="presentation" class="">
                <a href="#produit" id="produit-tab" role="tab" data-toggle="tab" aria-controls="produit" aria-expanded="false">Produits</a></li>
            <li role="presentation" class="">
                <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">bilan financiere</a></li>
             </ul>
        <div id="myTabContent" class="tab-content scrollbar1"> 
            <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab"> 
            </div>
            <div role="tabpanel" class="tab-pane fade " id="produit" aria-labelledby="produit-tab"> 
                   <script type="text/javascript">
        {{ chart(chart) }}
    </script> 
    <div id="linechart" style="min-width: 400px; height: 400px; max-width: 1000px; width: 100%; margin: 0 auto"></div>
         
            <script type="text/javascript">
        {{ chart(chart2) }}
    </script> 
    <div id="piechart" style="min-width: 400px; height: 400px; max-width: 1000px; width: 100%; margin: 0 auto"></div>
            </div> 
            <div role="tabpanel" class="tab-pane fade " id="profile" aria-labelledby="profile-tab">
                 <script type="text/javascript"> 
     {{ chart(chart1) }}
 </script> 
 <div id="container1" style="min-width: 400px; height: 400px; max-width: 1000px; width: 100%; margin: 0 auto""></div> 
       <script type="text/javascript"> 
     {{ chart(chart3) }}
 </script> 
 <div id="container2" style="min-width: 400px; height: 400px; max-width: 1000px; width: 100%; margin: 0 auto""></div> 
 
            </div>
            <div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab"> </div>
            <div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab"></div> </div>
    </div>
    #} 

{% endblock %}

