
body { background-color:#fff; }
#wrapper{
    border: 1px solid #DCDADA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #E1E1E1;
    background: #fff;
    width:700px;
    height:480px;
    background:#f4f4f4;


}
#wrapper h3{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:16px;
    height:60px;
    background:url(img/title.png) no-repeat left top;
    margin:0;
    padding:16px 0 0 20px;
    text-shadow: 1px 1px 2px #000;
    filter: dropshadow(color=#000, offx=1, offy=1);
    color:#fff;
}
#slider {

    background: #fff;
    /*IE bugfix*/
    padding:0;
    margin:0;
    width:700px;
    height:400px;	

}

#slider li { list-style:none; }

#page {
    width:600px;
    margin:50px auto;
}

#slider{
    color: #000;
    background:#f4f4f4;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:12px;
}

.form-step{

    padding:16% 3% !important;


}

.form-submit{
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-user-select: none;
    background: none repeat scroll 0 0 #6F95DC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    margin: 0 20px 20px;
    padding: 10px;
    text-align: center;
    width: 125px;
    z-index: 10;
    font-weight: bold;
    text-decoration: none;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#94b9e9), to(#4870d2));
    background-image: -moz-linear-gradient(#94b9e9, #4870d2);
    background-image: -webkit-linear-gradient(#94b9e9, #4870d2);
    background-image: -o-linear-gradient(#94b9e9, #4870d2);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.errorDisplay{
    border:2px solid red;
}

.form-left{
    color: #717171;
    float: left;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    width: 200px;
}
.form-right{
    float: left;
    width: 214px;
}
.row{
    float: left;
    margin: 5px 0;
    width: 100%;
}
.form-step input[type='text']{
    border: 1px solid #CFCFCF;
    border-radius: 4px 4px 4px 4px;
    height: 25px;
    padding: 3px;
    width: 200px;
}
select{
    border-radius: 4px;
    border: 1px solid #CFCFCF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #FFF;
    padding: 2px;
    height: 30px;
    width:205px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:12px;
    background:#f4f4f4;
}

select option{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:12px;
    background:#f4f4f4;
    color:#717171;
}


.form-error{
    color: red;
    font-size: 12px;
    padding: 8px;
}

.step-error{
    background:#f5715f !important;
    color:#FFF !important;
    -moz-box-shadow:1px 1px 4px #C6C4C4
        -webkit-box-shadow:1px 1px 4px #C6C4C4
        box-shadow:1px 1px 4px #C6C4C4
}
.step-success{
    background:#72e487 !important;
    color:#FFF !important;
    -moz-box-shadow:1px 1px 1px 4px #C6C4C4
        -webkit-box-shadow:1px 1px 1px 4px #C6C4C4
        box-shadow:1px 1px 1px 4px #C6C4C4
}
.bullet-desc{
    font-size: 14px;
    font-weight: bold;
}
.ok {
    margin: 0pt; 
    font-size: 13px; 
    font-weight: bold
}

